<style>
  th {
    text-align: center;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <div class="caption">
      <span style="font:800;float:inherit;font-size:20px;" class="caption-subject font-blue-sharp bold uppercase">Quotation Analysis</span>
    </div>
  </div>
</div>


<div class="row" style="padding-top:10px">
  <div class="col-md-12">
    <div style="float:left; padding-left:100px;">
      <button class="btn blue" type="button" (click)="BackToReqForQuotation()" title="Back To RFQ">
        <i class="fa fa-arrow-left"></i>
        Back
      </button>
    </div>
    <div style="float:right; padding-right:100px;">
      <button class="btn green btn-success" type="button" (click)="print()" title="Print This Page" [disabled]="loading">
        <i class="fa fa-print"></i>
        Print
      </button>
      <button class="btn green btn-success" type="button" data-toggle="modal" data-target="#confirmVendor" title="Save selected Vendor" [disabled]="loading">
        <i class="fa fa-save"></i>
        Select Vendor for PO
      </button>
    </div>
  </div>
</div>


<div class="row" *ngIf="showQuotationDetails">
  <ng-container *ngIf="showInNepali;else EnglishQuotationAnalysis">
    <app-quotation-analysis-np #NepaliQuotationAnalysis [active-fiscal-year]="activeFiscalYear" [quotation-items]="QuotItemList" [vendor-list]="VendorList" [total-amount-list]="TotalAmount" (call-back-selected-vendor)="selectedVendorEventHandler($event)" (call-back-selected-date)="selectedDateEventHandler($event)"></app-quotation-analysis-np>
  </ng-container>
  <ng-template #EnglishQuotationAnalysis>
    <br>
    <div class="col-md-12">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="noPrint" style="width: 50%; float: left;">
          <div class="form-group row clearfix ">
            <label class="control-label col-md-4">Issue Date<sup class="color-red"> *</sup><b>:</b></label>
            <div class="col-md-8">
              <danphe-date-picker [(ngModel)]="issuedDate" [ngModelOptions]="{standalone: true}" [CalendarTypes]="'en,np'" [allow-future-date]="true" ngDefaultControl>
              </danphe-date-picker>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" id="print-page">
      <div class="table-responsive">
        <table class="table table-striped table-hover" style="background-color:initial;margin-top:10px;text-align:center;">
          <tr>
            <th rowspan="2" style="align-content:center;font-size:16px;padding-top:30px;">Item Name</th>
            <th rowspan="2" style="align-content:center;font-size:16px; padding-top:30px;">Quantity</th>
            <th rowspan="2" style="align-content:center;font-size:16px; padding-top:30px;">Unit</th>
            <!--setting dynamic vendor numbers-->
            <th [attr.colspan]="vendors" style="align-content:center;font-size:16px;">Vendors (Price per unit)</th>
          </tr>
          <tr>
            <th *ngFor="let itm of VendorList, let i= index" style="font-size:15px;">
              <input class="zoomcheckbox noPrint" [(ngModel)]="itm.IsSelected" name="IsSelected" width="100" type="checkbox" ng-checked="itm.IsSelected=true" (change)="ToggleItemSelection(i)"> {{itm.VendorName}}
              ({{itm.Currency}})
            </th>
          </tr>
          <tbody>
            <tr *ngFor="let row of QuotItemList">
              <td>{{row.ItemName}}</td>
              <td>{{row.RequestedQuantity}}</td>
              <td>{{row.UOMName}}</td>
              <td *ngFor="let itm of row.Vendordetails">{{itm.Price}}</td>
            </tr>
            <tr>
              <th style="align-content:center;font-size:16px;"><b>Total</b></th>
              <td></td>
              <td></td>
              <td *ngFor="let amt of TotalAmount" style="align-content:center;font-size:16px;">
                <b>{{amt.Totalamount}}</b>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div style="text-align: left;"> Excluding VAT 13%</div>
        <br><br>
        <hr />
        <div class="col-md-12 clear">
          <div class="left" style="text-align:left">
            <strong>Prepared By</strong><br />
            Name: <b></b><br />
            Designation:
            <br /><br /><br /><br />
          </div>
          <div class="right" style="text-align:left">
            <strong>Authorized By</strong><br />
            Name: <b></b><br />
            Designation: <br /> <br />
            Sign:
            <hr>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>


<app-print-page *ngIf="showPrint" [print-data]="printDetaiils" (print-sucess)="callBackPrint()"></app-print-page>


<div id="confirmVendor" class="modal fade inv_modal" role="dialog">
  <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
          <div class="caption lb-caption">
              <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
          </div>
          <div class="modal-body">
              <p *ngIf="selectedVendor.VendorId==null" style="text-align: center; color: red;">!!!Please Select Vendor for Quotation Analysis!!!</p>
              <p *ngIf="selectedVendor.VendorId!=null" style="text-align: center;">!!!<i>Are you sure you want to select Vendor:</i><b>{{selectedVendor.VendorName}}?</b><br /> on Issued Date: &nbsp;{{issuedDate}}<span *ngIf="issuedDate"> &nbsp;({{issuedDate | nepaliDate}})</span></p>
          </div>
          <div *ngIf="selectedVendor.VendorId!=null" class="modal-footer">
              <button type="button" (click)="SaveSelectedVendor()" class="btn btn-danger" data-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
          </div>
      </div>
  </div>
</div>