<style>
    .table-fixed {
        width: 100%;
        background-color: #f3f3f3;
    }
</style>



<div class="wrapper">
    <div class="row">
        <div class="caption custom-caption">
            <i class="glyphicon glyphicon-asterisk"></i>
            <span class="caption-subject" style="text-transform: uppercase;">Materialized Sales View</span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <from-to-date-select (on-change)="OnFromToDateChange($event)" [date-settings-name]="'billing-reports'">
                </from-to-date-select>
            </div>
            <div class="col-md-2 col-xs-12">
                <div class="form-group">
                    <button class="btn blue" type="button" (click)="GetInvoiceDetails()">
                        <i class="fa fa-search"></i> Show Report
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <hr />
        <danphe-grid [grid-colDefaults]="bilInvoiceDetailGridColumns" [grid-data]="curtInvoiceDetail"
            [report-header]="reportHeaderHtml" [grid-exportOptions]="GetGridExportOptions()" [grid-showExport]="true"
            [show-print-button]="true">
        </danphe-grid>

    </div>

</div>
