
<div class="row">
    <ul class="nav nav-tabs">
        <li>  <a [ngClass]="{'a-tab-active': showDepartment==true}" (click)="updateView(0)">Manage Department</a></li>
        <li>  <a [ngClass]="{'a-tab-active': showServiceDepartment==true}" (click)="updateView(1)">Manage Service Department</a></li>
    </ul>
</div>
<div class="col-md-12">
    <department-list *ngIf="showDepartment"></department-list>
    <service-department-list *ngIf="showServiceDepartment"></service-department-list>
</div>

