<style>
  .page-bar {
    box-shadow: none;
    margin-bottom: 15px;
  }

  .page-bar>div {
    /* background-color: #fefefe !important; */
    display: flex;
    width: 100%;
    gap: 15px;
  }

  .bill-p-info span {
    width: 100%;
  }

  .bill-p-info span,
  .bill-p-info span b {
    display: block;
    margin: 0;
  }

  .custom-caption {
    margin-bottom: 0 !important;
  }

  .no-gutters {
    margin: 0 -7px !important;
  }

  .no-gutters [class*="col-"] {
    padding: 0 7px !important;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .form-group input,
  .control-label {
    margin: 0 !important;
  }
</style>
<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="ShowChangeDoctor">
  <div class="portlet-body form">
    <!--Model Box Body Start-->

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class=" modelbox-div clearfix">
          <div class="caption custom-caption">
            <h3> <span>Exchange Doctor/Department</span> </h3>
            <a class="btn btn-danger" (click)="CloseExchangeDoctorDepartmentPopUp()" title="Cancel">X</a>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-bar bill-p-info popup-pagebar mt10">
                <div>
                  <span>Hospital No : <b>{{SelectedVisit.PatientCode}} </b></span>
                  <span>Patient Name : <b>{{SelectedVisit.ShortName}}</b></span>
                  <span>Age/Sex : {{SelectedVisit.Age}}/ {{SelectedVisit.Gender[0]}}</span>
                  <span>Address : <b>{{SelectedVisit.Address}}</b></span>
                  <span>Contact No : <b>{{SelectedVisit.PhoneNumber}}</b></span>
                </div>
              </div>
            </div>
          </div>
          <div style="padding: 0 15px;" class="row no-gutters">
            <div class="form-group col-md-5" style="margin: 0 0 10px 0;">
              <div class="row no-gutters d-flex">
                <div class="col-md-5">
                  <label class="control-label" style="margin-top: 10px;">Registration Date/Time<b>&nbsp;:</b></label>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-6">
                      <input disabled="disabled" class="form-control text-center" type="date" [(ngModel)]="VisitDate" id="date" />
                    </div>
                    <div class="col-md-6">
                      <input disabled="disabled" class="form-control text-center" type="time" [(ngModel)]="SelectedVisit.VisitTime" id="time" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4" style="margin: 0 0 10px 0;">
              <div class="row no-gutters d-flex">
                <label class="control-label col-md-5"> Registered Department<b>&nbsp;:</b></label>
                <div class="col-md-7">
                  <input disabled="disabled" type="text" [(ngModel)]="SelectedVisit.DepartmentName" id="department"
                         style="margin-top: 5px; width: 100%;" />
                </div>
              </div>
            </div>
            <div class="form-group col-md-3" style="margin: 0 0 10px 0;">
              <div class="row no-gutters d-flex">
                <label class="control-label col-md-5"> Assigned Doctor <b>&nbsp;:</b></label>
                <div class="col-md-7">
                  <input disabled="disabled" type="text" [(ngModel)]="SelectedVisit.PerformerName" style="width:100%; margin-top: 5px;" />
                </div>
              </div>
            </div>
            <div class="form-group col-md-12" style="margin: 0 0 10px 0;">
              <div class="row no-gutters d-flex">
                <div class="col-md-5">
                  <form [formGroup]="ExchangedValidator" class="row no-gutters d-flex">
                    <label class="control-label col-md-5" style="margin-top: 10px;">Exchanged Department<b><sup class="color-red">
                          *</sup>&nbsp;:</b></label>
                    <div class="col-md-7" style="padding: 0 !important;">
                      <input id="txt_ExchangedDepartment" class="form-control" danphe-auto-complete autocomplete="off"
                             [(ngModel)]="SelectedDepartment"
                             [list-formatter]="DepartmentListFormatter"
                             [source]="DepartmentList"
                             placeholder="Department Name"
                             formControlName="ExchangedDepartment"
                             display-property-name="DepartmentName"
                             onClick="this.select();"
                             (focusout)="AssignSelectedDepartment(SelectedDepartment)"
                             match-formatted="true"
                             [grid-sort]="'DepartmentName'"
                             max-num-list="10"
                             (keyup.enter)="SetFocusById('txt_ExchangedDoctor')"
                             [min-chars]="1"
                             style="width:100%;" />
                      <span class="color-red font-sm"
                            *ngIf="ExchangedValidator.get('ExchangedDepartment').invalid && ((ExchangedValidator.get('ExchangedDepartment').dirty || ExchangedValidator.get('ExchangedDepartment').pristine || ExchangedValidator.get('ExchangedDepartment').touched)) && ShowValidationMessage">
                        <small>Exchanged Department is Required</small></span>
                    </div>
                  </form>
                </div>
                <div class="col-md-4">
                  <form [formGroup]="ExchangedValidator" class="row no-gutters d-flex">
                    <label class="control-label col-md-5" style="margin-top: 10px;">Exchanged Doctor<b><sup class="color-red">
                          *</sup>&nbsp;:</b></label>
                    <div class="col-md-7" style="">
                      <input class="form-control"
                             id="txt_ExchangedDoctor" danphe-auto-complete autocomplete="off"
                             (focusout)="AssignSelectedDoctor()"
                             [(ngModel)]="SelectedDoctor"
                             [list-formatter]="DocListFormatter"
                             [source]="FilteredDocList"
                             formControlName="ExchangedDoctor"
                             placeholder="Doctor's Name"
                             display-property-name="FullName"
                             onClick="this.select();"
                             max-num-list="10"
                             (keyup.enter)="SetFocusById('id_exchange_remarks')"
                             style="width:250px;" />
                      <span class="color-red font-sm"
                            *ngIf="ExchangedValidator.get('ExchangedDoctor').invalid && ShowValidationMessage && ((ExchangedValidator.get('ExchangedDoctor').dirty || ExchangedValidator.get('ExchangedDoctor').pristine || ExchangedValidator.get('ExchangedDoctor').touched))">
                        <small>Exchanged Doctor is Required</small>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="form-group col-md-5" style="margin: 0 0 10px 0;">
              <div class="row d-flex no-gutters">
                <label class="control-label col-md-5">Reason to Exchange<b>:</b></label>
                <div class="col-md-7" style="padding: 0 !important">
                  <textarea
                            type="text"
                            name="exchange_remarks"
                            style="width: 100%;"
                            id="id_exchange_remarks"
                            class="form-control"
                            (keyup.enter)="SetFocusById('id_btn_exchangeDocDept')"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <nursing-add-diagnosis [patient-id]=" SelectedVisit.PatientId" [patient-visit-id]="SelectedVisit.PatientVisitId">
              </nursing-add-diagnosis>
            </div>
          </div>
          <form class="form-horizontal hm-form">
            <div class="form-body">
              <div class="row clearfix">
              </div>
            </div>
            <div class="modelbox-footer">
              <div class="all-buttons text-right">
                <input type="button" id="discard" (click)="Discard()" class="btn orange btn-success margin-7-hr"
                       value="Discard" />
                <input type="button" id="id_btn_exchangeDocDept" (click)="AddExchangedDoctorDepartmentDetails()"
                       class="btn green btn-success margin-7-hr"
                       value="Save" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Model Box Body End-->
  </div>
</div>