<base href="/Clinical/">
<div id="homeMedicationSection">
    <div class="row">
        <div class="col-md-12">
          <div class="form-body">
            <div class="col-md-8 col-xs-12" style="padding-left: 0px;">
                <div class="portlet cstm-portlet portlet-with-collapse">
                    <div class="portlet-title cstm-pt-title">
                        <div class="cstm-portlet-caption">
                            Medication List
                        </div>
                        <div class="cstm-action">
                            <a class="cstm-add" (click)="AddNewHomeMedication()">
                                <i class="fa fa-plus-circle"></i> Add
                            </a>
                        </div>
                    </div>

                    <div class="cstm-portlet-body">
                        <div class="table-responsive">
                            <table class="table doc-tbl flip-content" style="margin-bottom: 0px;">
                                <thead class="flip-content">
                                    <tr>
                                        <th>Medication Name</th>
                                        <th>Type</th>
                                        <th>Dose</th>
                                        <th>Route</th>
                                        <th>Last Taken</th>
                                        <th>Frequency</th>
                                        <th>Days</th>
                                        <th>Comments</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let add of homemedications; let i=index">
                                        <td>{{add.MedicationName}}</td>
                                        <td>{{add.MedicationType | uppercase}}</td>
                                        <td>{{add.Dose}}</td>
                                        <td>{{add.Route}}</td>
                                        <td>{{add.LastTaken  | DanpheDateTime:'format':'YYYY-MM-DD'}}</td>
                                        <td>{{add.FrequencyType}}</td>
                                        <td>{{add.Days}}</td>
                                        <td>{{add.Comments}}</td>
                                        <td>
                                            <a (click)="EditHomeMedication(add,i)" class="bs-glyphicon-class btn yello"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-4 col-xs-12">
                <home-medication-add [selected-homeMedication]="selectedHomeMedication"
                                     [show-homemedication-add]="showMedicationAddBox"
                                     (callback-addupdate)="CallBackAddUpdate($event)"></home-medication-add>
            </div>
            <div class="row" style="margin-top: 25px;">
                    <div class="col-md-12">
                      <a class="btn btn-primary" (click)="printMedications()">Print Medication</a>
                    </div>
                  </div>
        </div>
    </div>
    </div>
</div>

