<div>
    <div class="form-body">
        <div id="inputoutputSection" class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-8 col-xs-12">
                        <div class="portlet cstm-portlet portlet-with-collapse">
                            <div class="portlet-title cstm-pt-title">
                                <div class="cstm-portlet-caption">
                                    Input Output List
                                </div>
                                <div class="cstm-action">
                                    <a class="cstm-add" (click)="AddNewIO()">
                                        <i class="fa fa-plus-circle"></i> Add New
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <from-to-date-select (on-change)="OnFromToDateChange($event)">
                                    </from-to-date-select>
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <div class="form-group">
                                        <button class="btn blue"
                                                type="button"
                                                (click)="showInputOutput = true; GetPatientInputOutputList()">
                                            <i class="fa fa-search"></i> Load
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="cstm-portlet-body">
                                <div class="table-responsive">
                                    <danphe-grid [grid-colDefaults]="intakeOutputGridColumns" [grid-data]="inputoutputLists" *ngIf="showInputOutput">
                                    </danphe-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <InputOutput-add *ngIf="showIOAddBox" [showIOAddBox]="showIOAddBox"
                                         [selected-IO]="selectedIO" [last-balance]="lastBalance"
                                         (callback-ioupdate)="showInputOutput = true; callbackIoUpdate($event)">
                        </InputOutput-add>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>