<div class="popup-static portlet box portlet-fullscreen" *ngIf="showAddPage">

    <div class="portlet-body form" style="background-color:white">
        <form [formGroup]="CurrentItem.ItemValidator" class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                    <div class="col-md-8 col-sm-10 col-xs-10 modelbox-div" style="margin-right: 24px;">
                        <div class="col-md-12">
                            <div class="caption" style="color:blue;">
                                <h3>
                                    <span *ngIf="!update">Create Item</span>
                                    <span *ngIf="update">Update Item</span>
                                </h3>

                            </div>
                            <a style="float:right;  margin-top:-32px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>

                            <hr />


                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8" style="margin-right: 24px;">


                                <div class="form-group">
                                    <label class="control-label col-md-5">Item Name<b class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <input class="form-control" maxlength="30" type="text"
                                               [(ngModel)]="CurrentItem.ItemName"
                                               formControlName="ItemName"
                                               id="ItemName"
                                               placeholder="ItemName" />

                                        <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('ItemName','required') || !(CurrentItem.IsDirty('ItemName'))">Item Name is required</span>
                                        <span class="color-red font-sm" *ngIf="CurrentItem.IsDirty('ItemName')" [hidden]="CurrentItem.IsValidCheck('ItemName','maxlength')"> Length is not proper</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Ledger Name <b class="color-red">*</b><b style="float:right;">:</b> </label>
                                    <div class="col-md-7">

                                        <table style="width:64%;">
                                            <tr>
                                                <td>
                                                    <input danphe-auto-complete
                                                           [(ngModel)]="selLedger"
                                                           [source]="ledger"
                                                           placeholder="Enter Ledger"
                                                           display-property-name="LedgerName"
                                                           value-property-name="LedgerName"
                                                           (valueChanged)="AssignSelectedLedger()"
                                                           (blur)="CheckProperSelectedItem(selLedger)"
                                                           [list-formatter]="LedgerListFormatter"
                                                           max-num-list="10"
                                                           style="width:157%;background-color: azure;height:35px;"
                                                           formControlName="LedgerName" />
                                                </td>
              
                                            </tr>
                                        </table>
                                        <span class="color-red font-sm" [hidden]="CurrentItem.IsValidCheck('LedgerName','required') || !(CurrentItem.IsDirty('LedgerName'))">Leadger Name is required</span><br/>
                                        <span class="color-red" *ngIf="CurrentItem.checkSelectedItem==true">Please select Proper Item</span>


                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-5">Description <b style="float:right;">:</b> </label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text"
                                               [(ngModel)]="CurrentItem.Description"
                                               [ngModelOptions]="{standalone: true}"
                                               id="Description"
                                               placeholder="Enter Description" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Is Active <b style="float:right;">:</b> </label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <div class="icheck-inline">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input id="isActive"
                                                           type="checkbox"
                                                           [(ngModel)]="CurrentItem.IsActive"
                                                           [ngModelOptions]="{standalone: true}" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-actions">
                                    <input type="button" class="btn btn-primary" *ngIf="!update" (click)="AddItem()" value="Add Item" />
                                    <input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
















