div.inv_modal * {
  font-weight: 400;
}

.modelbox-div {
  padding: 18px;
}

.bold,.bold>div,.bold>div>u {
  font-weight: 700;
}

table>thead>tr>th {
  font-weight: 700;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.upload-file {
  margin: 20px 0px 20px 0px;
}

.container {
  width: 537px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: 0;

}

.container input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container label {
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #db202f;
  padding: 8px 16px;
}

.container h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;
}

.files-list .single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: dashed 1px #979797;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
  width: 537px;
}

.files-list .single-file .delete {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.files-list .single-file .name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.files-list .single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}

.files-list .single-file .info {
  width: 100%;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
