<style>
  .table thead tr th {
    font-size: 12px;
  }
</style>
<div class="popup-static portlet box portlet-fullscreen">
  <div class="portlet-body form">
    <div class="form-body">
      <div class="col-md-12">
        <div class="col-md-12 col-sm-12 col-xs-12 modelbox-div">
          <div class="col-md-12">
            <h4 style="text-align:center">
              <b>
                <a style="float:right; border-radius: 50% !important;
                                  margin-top: -50px; margin-right: -50px;" class="btn btn-danger  hidden-print"
                   (click)="CloseViewPaymentPopUp()" title="Cancel">X</a>
              </b>
            </h4>
          </div>
          <div class="col-md-12">
            <h4 class="margin-0-vr" style="color:rgb(97, 97, 209)">
              <u>
                Claim Detail
              </u>
            </h4>
          </div>
          <div class="col-md-12" style="padding:5px;margin-top: 15px;">
            <div class="col-md-12">
              <div class="col-md-12" style="background-color: #e7ecf1;border:1px solid">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-5">
                      <label>
                        Patient Name
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.PatientName }}
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-5">
                      <label>
                        Claim Code
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.ClaimCode }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-5">
                      <label>
                        Hospital No.
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.HospitalNo }}
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-5">
                      <label>
                        Member No.
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.MemberNumber}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-5">
                      <label>
                        Age/Sex
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.AgeSex }}
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-5">
                      <label>
                        Claim Submitted By/On
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.ClaimSubmittedBy }} /
                        {{ claimDetail.ClaimSubmittedOn | date:'yyyy-MM-dd' }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" style="background-color: #e7ecf1;border:1px solid; margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-5">
                      <label>
                        Total Claimed Amount
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.ClaimedAmount }}
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-5">
                      <label>
                        Total Received Amount
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ totalReceivedAmount }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-5">
                      <label>
                        Approved Amount
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.ApprovedAmount }}
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-5">
                      <label>
                        Pending Amount
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ totalPendingAmount }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-5">
                      <label>
                        Rejected Amount
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ claimDetail.RejectedAmount }}
                      </label>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-md-5">
                      <label>
                        Total Service Commission
                      </label>
                      <span style="float:right">:</span>
                    </div>
                    <div class="col-md-7">
                      <label>
                        {{ totalServiceCommissionAmount }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <h4>
                <u>
                  Payment History
                </u>
              </h4>
              <div class="col-md-12" style="margin-top: 15px; border: 1px solid;">
                <div class="col-md-12">
                  <table class="table table-responsive dispatch-report-table">
                    <thead class="table-header-bg">
                      <tr>
                        <th scope="col" class="wd-80"> S.N. </th>
                        <th scope="col" class="wd-80"> Payment Receipt No. </th>
                        <th scope="col" class="wd-80"> Receipt Date </th>
                        <th scope="col" class="wd-80"> Received Amount </th>
                        <th scope="col" class="wd-80"> Service Commission Amount </th>
                        <th scope="col" class="wd-130"> Bank </th>
                        <th scope="col" class="wd-130">Cheque No. </th>
                        <th scope="col" class="wd-130">Payment Details </th>
                        <th scope="col" class="wd-130">Remarks </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let payment of insurancePayments; let i = index;">
                        <tr>
                          <td class="wd-80">{{ i+1 }}</td>
                          <td class="wd-80"> {{ payment.ClaimPaymentId }} </td>
                          <td class="wd-80"> {{ payment.ReceivedOn | date:'yyyy-MM-dd' }} </td>
                          <td class="wd-80"> {{ payment.ReceivedAmount }} </td>
                          <td class="wd-80"> {{ payment.ServiceCommission }} </td>
                          <td class="wd-80"> {{ payment.BankName }} </td>
                          <td class="wd-80"> {{ payment.ChequeNumber }} </td>
                          <td class="wd-80"> {{ payment.PaymentDetails }}</td>
                          <td class="wd-80"> {{ payment.Remarks }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12" style="padding-right: 25px; margin-top: 10px;">
              <input DanpheConfirmationDialog
                     id="btnUpdateAmount"
                     type="submit"
                     [title]="confirmationTitle"
                     [message]="confirmationMessageForSendToClaimScrubbing"
                     (confirm)="HandleConfirmForSendToClaimScrubbing()"
                     (cancel)="HandleCancelForSendToClaimScrubbing()"
                     class="btn green btn-success"
                     style="float:right;margin-left: 15px; font-weight: bold;margin-right: 10px;"
                     value="Send To Claim Scrubbing" [disabled]="loading" />
              <input DanpheConfirmationDialog
                     id="btnUpdateAmount"
                     type="submit"
                     [title]="confirmationTitle"
                     [message]="confirmationMessageForConcludeClaim"
                     (confirm)="HandleConfirmForConcludeClaim()"
                     (cancel)="HandleCancelForConcludeClaim()"
                     class="btn green btn-success"
                     style="float:right;margin-left: 15px; font-weight: bold;margin-right: 10px;"
                     value="Conclude Claim" [disabled]="loading" />
            </div>
          </div>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm"> </div>
      </div>
    </div>
  </div>
</div>