.btn {
  margin: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.receiveStamp {
  transform: rotate(12deg);
  color: #555;
  font-size: 2rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: "Courier";
  mix-blend-mode: multiply;
  color: #0a9928;
  border: 0.5rem solid #0a9928;
  transform: rotate(-14deg);
  border-radius: 0;
}