<div class="page-bar fixed-top-bar" *ngIf="isOrganizationActivated">
  <div class="page-breadcrumb" *ngIf="primaryNavItems !== undefined && activeOrganization.OrganizationName !== 'SSF'">
    <li *ngFor="let route of primaryNavItems">
      <a routerLink="{{route.RouterLink}}" [routerLinkActive]="'link3-active'">
        {{route.DisplayName}}
      </a>
    </li>
  </div>
  <div>
    <span style="padding: 10px;" class="right">
      <label class="label label-primary">
        Active Organization : <b>{{activeOrganization.DisplayName}}</b>
      </label>
      <i (click)="DeactivateOrganization()" style="
      cursor: pointer;
      margin-left: 5px;
      font-size: 20px;
      position: relative;
      top: 2px;
      left: 5px;
      " class="fa fa-sign-out"></i>
    </span>
  </div>
</div>
<router-outlet></router-outlet>