<style>
    .form-group{margin-bottom: 0px !important;}
</style>
<div class="popup-static portlet box portlet-fullscreen" >
    <div class="portlet-body form" style="background-color:white">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div col-md-offset-1" style="margin-right: 24px;">
                        <div class="col-md-12">
                            <div class="caption" style="color:blue;">
                                <h3>
                                    <span>Update Parameter</span>
                                </h3>
                            </div>
                            <a style="float:right;  margin-top:-32px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                            <hr />
                        </div>



                        <div class="col-md-12">
                            <div class="col-md-6"> <h4>Parameter Group Name: {{currentParameter.ParameterGroupName}}</h4></div>
                            <div class="col-md-6"> <h4>Parameter Group Name: {{currentParameter.ParameterName}}</h4></div>
                            <div class="col-md-12">
                                <div *ngFor="let obj of currentParameter.MappedObject; let i= index;">
                                    <div class="form-group">
                                        <label class="control-label col-md-5">{{obj.KeyName}}<b style="float:right;">:</b></label>


                                        <div *ngIf="obj.ValueType == 'boolean'" class="col-md-7">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="mt-checkbox mt-checkbox-outline">
                                                        <input name="{{obj.KeyName}}" type="radio" value="true" [(ngModel)]="obj.Value">
                                                        <span></span>True
                                                    </label>
                                                    <label class="mt-checkbox mt-checkbox-outline">
                                                        <input name="{{obj.KeyName}}" type="radio" value="false" [(ngModel)]="obj.Value">
                                                        <span></span>False
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="obj.ValueType == 'number'" class="col-md-7">
                                                <input class="form-control"
                                                       [(ngModel)]="obj.Value"
                                                       type="number" value="" /><br />                                            
                                        </div>

                                        <div *ngIf="obj.ValueType == 'string' || obj.ValueType == 'object'" class="col-md-7">
                                            <input class="form-control"
                                                   [(ngModel)]="obj.Value"
                                                   type="text" value="" /><br />
                                        </div>

                                    </div>
                                </div>


                                <div class="form-actions">
                                    <input type="button" class="btn btn-primary" (click)="Update()" value="Update" />
                                </div>

                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
