.icon-dual .fa {
  right: -25px;
}

.form-control {
  margin-left: 0px !important;
}


.date-insurance np-datepickr-holdr input[type="text"] {
  margin-bottom: 0px !important;
}

.w-100 {
  width: 100% !important;
}

.p-0 {
  padding: 0px !important;
}
