node_modules/
*.lock
*.log
bin
obj
v16
packages
.vs
package-lock.json
$tf/

HAMS_Requirements/
.tfignore
*.txt
*.xlsx
/Code/Solutions/global.json
/Code/Websites/DanpheEMR/appsettings.json
/Database/DanpheEMR_CompleteDB_4th_August_2019.bak
/Code/Websites/DanpheEMR/DanpheEmrAPI.xml