<style>
  .control-label {
    font-size: 13px;
  }

  .form-control {
    font-size: 13px;
  }

  /*div.col-md-7 {
      padding: 0px;
    }

    div.col-md-5 {
      padding: 0px;
    }

    div.col-md-4 {
      padding: 0px;
    }

    div.col-md-3 {
      padding: 0px;
    }
  */
  .mt-checkbox {
    font-size: 13px;
  }

  /* div.col-xs-12 {
      padding-left: 10px;
      margin-left: 25px;
      margin-right: 15px;
    }*/

  /*This class for background border red */
  .bg-on {
    font-weight: bold;
    border: solid 1px red;
  }

  /*This class for */
  .bg-off {
    font-weight: bold;
  }
</style>
<div>
  <!-- Subjective Notes related fields for Emergency Note-->
  <div *ngIf="showSOnotes">
    <subjective-note [subjective-note]="notes.SubjectiveNote"
                     [clinical-detail]="clinicalDetail" (callback-subjectivenote)="CallBackSubjective($event)"></subjective-note>
  </div>

  <!-- Objective Notes fields-->
  <div class="tab-pane" id="objective" *ngIf="showSOnotes">
    <objective-note [objective-note]="notes.ObjectiveNote"
                    [clinical-detail]="clinicalDetail" (callback-objectivenote)="CallBackObjective($event)"></objective-note>
  </div>

  <!-- ER-Course -->
  <form class="hm-form">
  </form>
  <!-- Assessment-Plan -->
  <div class="tab-pane" id="assessment" *ngIf="showAP">
    <assessment-plan [editMode]="APeditMode"
                     [assessments]="assessment"
                     (callback-assessmentandplan)="CallBackAssesmentAndPlan($event)">

    </assessment-plan>
  </div>

  <!-- Start: Instructions related fields for Emergency Note-->
  <div class="tab-pane" id="instructions">
    <div class="col-md-6">
      <div class="hm-form">
        <div class="text-head-wrapper clearfix">
          <h3 class="text-head cstm-add-heading">Instructions</h3>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-4">Follow Up<b>:</b></label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3">
                  <input class="form-control" type="number" min="0" max="150"
                         onFocus="this.value=0"
                         [(ngModel)]="notes.FollowUp"
                         (focusout)="FocusOut()"/>
                </div>
                <div class="col-md-9">
                  <div class="input-group">
                    <div class="icheck-inline">
                      <label class="mt-radio mt-radio-outline">
                        <input name="FollowUpUnit" type="radio" value="day" [(ngModel)]="notes.FollowUpUnit" (focusout)="FocusOut()">
                        <span></span>Days
                      </label>
                      <label class="mt-radio mt-radio-outline">
                        <input name="FollowUpUnit" type="radio" value="week" [(ngModel)]="notes.FollowUpUnit" (focusout)="FocusOut()">
                        <span></span>Weeks
                      </label>
                      <label class="mt-radio mt-radio-outline">
                        <input name="FollowUpUnit" type="radio" value="month" [(ngModel)]="notes.FollowUpUnit" (focusout)="FocusOut()">
                        <span></span>Months
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-4">Remarks<b>:</b></label>
            <div class="col-md-8">
              <textarea class="form-control" [(ngModel)]="notes.Remarks" maxlength="500" rows="3" (focusout)="FocusOut()"></textarea>
            </div>
          </div>
        </div>
      </div>

      <br />

    </div>
  </div>
  <!-- End: Instructions related fields for Emergency Note-->
</div>
