.inline-edit {
  display: inline-block;
  width: 100%;
}

.textarea-edit{
    width: 100%;
    margin-bottom: 0;
    white-space: pre;
}

.inline-edit:hover {
  background-color: #eae2e2;
}

  .inline-edit:focus {
    background-color: #ffffff;
  }
