.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: none;
}
.depositForm p {
  font-size: 12px;
  color: #434343;
}
.p-0 {
  padding: 0 !important;
}
.mb-1 {
  margin-bottom: 0.4rem;
}
.legendMessage .legend {
  padding: 0;
  display: flex;
  font-size: 12px;
  margin: 10px 0;
  /* gap: 0 5px; */
  justify-content: flex-end;
}
.legendMessage .legend i {
  margin: 0;
  color: #fb6161;
}
/* .page-content-white .page-content .page-bar {
  z-index: 0 !important;
} */
