<div class="wrapper">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <div class="form-group">
                            <from-to-date-select (on-change)="OnFromToDateChange($event)" [date-settings-name]="'billing-reports'"></from-to-date-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">DepartmentName<b style="float: right">:</b></label>
                            <div class="col-md-8">
                                <danphe-multiselect *ngIf="DepartmentList.length > 0" [ddl-data]="DepartmentList"  [placeholder-text]="'-- Select Department --'" [pre-selected]="preselectedDepartment" [value-property-name]="'DepartmentId'" (selected-items-list)="OnDepartmentChange($event)" [display-property-name]="'DepartmentName'" [single-selection]="false">
                                </danphe-multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4">Rank<b style="float: right">:</b></label>
                            <div class="col-md-8">
                                <danphe-multiselect *ngIf="RankList.length > 0" [ddl-data]="RankList" [pre-selected]="preSelectedRanks" [placeholder-text]="'--Select Ranks --'" [value-property-name]="'RankId'" (selected-items-list)="OnRankChange($event)" [display-property-name]="'RankName'" [single-selection]="false">
                                </danphe-multiselect>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary" (click)="GetDepartmentWiseRankCountReportData()">Load</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <danphe-grid [grid-colDefaults]="DepartmentWiseRankCountGridColumns" [grid-data]="DepartmentWiseRankCountReportData" [grid-exportOptions]="gridExportOptions" [grid-showExport]="true" [report-for]="'pharmacy'" [grid-date-range]="dateRange" [show-header]="true" [filter-parameters]="FilterParameters">
            </danphe-grid>
        </div>
    </div>
</div>
