<style>
  .billing-table {
    background: #fff;
    margin-bottom: 10px;
  }

  .billing-table .form-control {
    font-size: 1em !important;
  }

  .table thead tr th {
    font-size: 0.9em;
  }

  .nxt-td {
    /*    text-align: right;*/
    font-weight: bold;
    width: 140px;
    padding-right: 12px;
  }

  .mb-8 {
    width: 100%;
    height: 25px;
    margin-bottom: 8px;
    font-size: 0.95em;
    font-weight: bold;
  }

  table.billing-table tr td {
    padding: 8px 4px;
    padding-bottom: 0px;
  }

  .padding-0-rt {
    padding-right: 0px;
  }

  .padding-0-lt {
    padding-left: 0px;
  }

  .ht-managed td {
    font-family: Source Sans Pro;
    font-weight: bold;
    vertical-align: middle;
    border: none;
    padding: 4px 6px;
  }

  td {
    font-size: 0.9em
  }

  .ht-managed td:nth-child(1) {
    text-align: right;
    font-size: 0.9em;
  }

  .b-htable td {
    padding: 6px 4px;
    font-size: 0.95em;
    font-family: 'Source Sans Pro';
    font-weight: bold;
  }
</style>

<table class="bil-summ" cellpadding="10" style="width: 100%; margin-bottom: 0px;">
  <tr>
    <td style="" class="nxt-td"> Payment Mode: </td>
    <td>
      <select [(ngModel)]="PaymentMode" class="mb-8" name="pay_mode" id="pay_mode" (change)="OnPaymentModeChange()">
        <option value="cash">Cash</option>
        <option value="credit" style="font-weight:bold" [disabled]="deductDeposit">CREDIT</option>
        <option value="cheque">Cheque</option>
        <option value="card"> Smart Card</option>
      </select>
    </td>
  </tr>
  <tr *ngIf="PaymentMode =='credit' && 'CreditOrganization' | booleanParameter : 'Billing'">
    <td style="" class="nxt-td">
      Credit Organization<b *ngIf="CreditOrganizationMandatory" class="color-red"> *</b><b style="float:right;">:</b>
    </td>
    <td>
      <select class="form-control mb-8" [(ngModel)]="CreditOrganization.OrganizationId"
        (change)="OnCreditOrganizationChange()" [ngModelOptions]="{standalone: true}">
        <option selected value="0">Select CreditOrganization</option>
        <option *ngFor="let oList of creditOrganizationsList" value="{{oList.OrganizationId}}">
          {{oList.OrganizationName}}
        </option>
      </select>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="" class="nxt-td" *ngIf="PaymentMode !='cash'">
      Payment Details:
    </td>
    <td>
      <textarea *ngIf="PaymentMode !='cash'" [(ngModel)]="PaymentDetails" (change)="OnPaymentModeChange()"
        class="mb-8"></textarea>
    </td>
  </tr>

  <!--<tr *ngIf="showDeductFromDeposit">
    <td style="text-align: right" class="nxt-td">Deduct from Deposit:</td>
    <td align="left">
      <input type="checkbox" [(ngModel)]="deductDeposit" ng-checked="deductDeposit"
             [disabled]="DepositBalance  <= 0 || PaymentMode == 'credit'"
             style="width:18px;height:18px;" (click)="DepositDeductCheckBoxChanged()">
    </td>
  </tr>
  <tr *ngIf="deductDeposit">
    <td style="width:180px">Deposit Deduction:</td> 
    <td align="left">{{depositDeductAmount}}</td>
  </tr>
  <tr *ngIf="deductDeposit">
    <td style="width:180px">New Deposit Balance:</td>
    <td align="left">{{newDepositBalance}}</td>
  </tr>-->
</table>