.left-panel .panel-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.left-panel .patient-hdr-label:nth-of-type(odd) {
  padding: 10px 0;
}

body[onload="window.print()"] .left-panel .patient-hdr-label b,
body[onload="window.print()"] .p-relative b:before {
  display: none !important;
  color: #fff !important;
  width: 0px !important;
}

.p-relative b:before {
  display: none !important;
  color: #fff !important;
  width: 0px !important;
}

.sub-main-cls-default {
  width: 100% !important;
}

.sub-main-cls-default .p-relative {
  position: relative;
}

.sub-main-cls-default strong {
  font-weight: bold;
  margin-right: 10px;
}

.dsv-div .left-panel .patient-hdr-label,
.left-panel .patient-hdr-label {
  display: inline-block;
  width: 50%;
  font-size: 13px;
}

.dsv-div .left-panel .right {
  padding-left: 15%;
}

.left-panel .patient-hdr-label.signature,
.dr-signature-list .patient-hdr-label {
  max-width: 400px;
  width: 100%;
  display: block;
}

.left-panel .patient-hdr-label b:before,
.p-relative b:before {
  display: none !important;
}

@media print {
  .patient-hdr-label {
    display: none !important;
    color: #fff !important;
    width: 1px !important;
  }

  .left-panel .panel-heading {
    margin-top: 0;
  }
}
