
<section *ngIf="enablePreview">
    <danphe-view-imaging-report  [showImagingReport]="showImagingReport" 
                        [requisitionId]="requisitionId"></danphe-view-imaging-report>
    <div class="container">
        <h3 class="panel-heading"><b>Imaging Result</b></h3>
        <table class="table table-striped table-bordered table-hover" style="width:800px">
            <tr>
                <th>No</th>
                <th sortable-header><b>Date</b></th>
                <th sortable-header><b>Imaging Type</b></th>
                <th sortable-header><b>Imaging Item</b></th>
                <th sortable-header><b>Report</b></th>

            </tr>
            <tr *ngFor="let rep of imagingReports; let i = index">
                <td>{{i+1}}</td>
                <td>{{rep.RecordedOn | DanpheDateTime:'format':'YYYY-MM-DD HH:mm'}}</td>
                <td>{{rep.ImagingTypeName}}</td>
                <td>{{rep.ImagingItemName}}</td>
               <td><a (click)="ViewReport(rep);" style="cursor:pointer" class="icon-{{rep.ImagingTypeName}}" title="ViewReport">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
            </tr>
        </table>
    </div>
</section>

