.caption {
    text-align: center;
    color: black;
  }

  #change-visit-scheme-form {
    margin-top: 20px;
    margin: 0 10px; 
    border: 1px solid black;
    padding: 20px;
  }

  .form-group-change-to {
    border: 1px solid black;
    margin: 10px; 
    padding: 10px; 
  }
  .patient-details-form {
    border: 1px solid black;
    margin: 10px; 
    padding: 10px; 
  }

 
  
  .btn {
    float: right; 
    margin-left: 10px; 
  }