<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OPDSticker" value="Fax"/>
    <add key="BillingPrinter" value="Microsoft Print to PDF"/>
    <add key="StickerPrinter" value="Deskjet"/>
    <add key="ServerPath" value="C:\DanpheHealthInc_PvtLtd_Files\Print"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>