<div class="wrapper">
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="CreateRequisition()">
        Create&nbsp;Requisition&nbsp;
      </button>
    </div>
    <div class="col-md-9" style="display: flex; flex-direction: row-reverse;">
      <div class="input-group">
        <div class="icheck-inline">
          <label class="mt-checkbox mt-checkbox-outline" style="font-weight: bold;color: green;">
            <input checked="checked" (change)="FilterRequisitionList('all')" name="name" style="width:15px;height:15px" type="radio" class="ng-untouched ng-pristine ng-valid">
            <span></span>ALL
          </label>
          <label class="mt-checkbox mt-checkbox-outline" style="font-weight: bold;color: green;">
            <input name="name" (change)="FilterRequisitionList('complete')" style="width:15px;height:15px" type="radio" class="ng-untouched ng-pristine ng-valid">
            <span></span>Completed
          </label>
          <label class="mt-checkbox mt-checkbox-outline" style="font-weight: bold;color: green;">
            <input name="name" (change)="FilterRequisitionList('pending')" style="width:15px;height:15px" type="radio" class="ng-untouched ng-pristine ng-valid">
            <span></span>Pending
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- @*-----All Item Requisition List-----*@-->
<div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <danphe-grid [grid-colDefaults]="requisitionGridColumns" [grid-data]="filterRequisitionList" [rangeType]="dateRange" [show-CustomDate]="true" [NepaliDateInGridParams]="RequisitionNepaliDateInGridSettings" (onDateChange)="onDateChange($event)" (grid-actions)="RequisitionGridAction($event)"></danphe-grid>
    </div>
  </div>
</div>

<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDispatchList">
  <div class="portlet-body form" style="background-color:white">
    <!--Model Box Body Start-->
    <div class="form-body">
      <div class="col-md-12">
        <div class="col-md-1 hidden-xs hidden-sm noPrint" style="margin-right: 24px;">
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
          <div class="col-md-12 noPrint">
            <div class="caption" style="color:blue; margin-top:10px;">
            </div>
            <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
            <hr />
          </div>
          <danphe-grid [grid-colDefaults]="DispatchListGridColumns" [grid-data]="dispatchList" (grid-actions)="DispatchDetailsGridAction($event)" [NepaliDateInGridParams]="DispatchNepaliDateInGridSettings" [grid-exportOptions]="gridExportOptions" [grid-showExport]="true">
          </danphe-grid>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
<!--Inner View-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDetailsbyDispatchId">
  <div class="portlet-body form" style="background-color:white">
    <!--Model Box Body Start-->
    <div class="col-md-12" style="display: flex; justify-content: center;">

      <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
        <div><a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel"><span class="fa fa-times"> </span></a></div>
        <!-- Billing Header Start -->
        <!--Nepali-Receipt-view-->
      <app-dispatch-np-view *ngIf="showNepaliReceipt else EnglishReceiptView" [dispatch-id]="DispatchId" [module-type]="'pharmacy-dispensary'"></app-dispatch-np-view>
      <!--English-Receipt-view-->
      <ng-template #EnglishReceiptView>
        <div id="printpage" class="row printStyle print-border">
          <div style="text-align:center;">
            <div class="col-md-12">
              <div class="row" style="margin-bottom: 10px;">
                <div class="logo" style="width: 18%;padding:0px 15px 0px 15px; float: left;">
                  <img class="img-responsive" style="max-height:70px;" src="../../../themes/theme-default/images/hospital-logo-phrm.PNG" />
                </div>
                <div style="width: 64%;float: left;padding-bottom:  0px;">
                  <div class="text-center bill-head" style="text-align: center;font-family:sans-serif; margin-top: 10px;">
                    <span style="font-size:15px;"><strong>{{headerDetail.hospitalName}}</strong></span><br />
                    <span style="font-size:15px;">{{headerDetail.address}}</span><br />
                    <span style="font-size:13px;">PAN no: {{headerDetail.PANno}} , Tel: {{
                      headerDetail.tel}}</span><br />
                    <span style="font-size:15px;"><strong> Pharmacy Unit </strong></span><br />
                  </div>
                </div>
                <div style="float: left;">
                  <div class="qr-code" style="position: absolute; right: 12px; top: 9px;">
                    <qr-code [size]="75" [backgroundAlpha]="0"></qr-code>
                  </div>
                </div>
                <!-- Billing Header  -->
                <div style="clear:left"></div>
              </div>
              <div class="clear"></div>
              <div class="left" style="text-align:left;">
                <p>Dispatch Id :<b> {{innerDispatchdetails.DispatchId}}</b></p>
                <p>Requisition No:<b> {{innerDispatchdetails.RequisitionId}}</b></p>
              </div>
              <div class="right" style="text-align:right;">
                <p>Dispatch Date:<b> {{innerDispatchdetails.CreatedOn | date}}</b>&nbsp;
                  <i *ngIf="innerDispatchdetails.CreatedOn">({{innerDispatchdetails.CreatedOn |
                    nepaliDate:'format':'YYYY-MM-DD'}} BS )</i>
                </p>
                <p>Requisition Date:<b> {{requisitionDate | date}}</b>
                  <i *ngIf="requisitionDate">({{requisitionDate | nepaliDate:'format':'YYYY-MM-DD'}} BS )</i>
                </p>

              </div>
              <div class="clear"></div>
              <p class="text-center btm-pad border-up-down"><b>DISPATCH DETAILS PRINT</b></p>
              <div class="clear"></div>
              <div class="clear footer"></div>
              <div class="table-responsive">
                <table class="table table-striped table-hover" style="background-color:initial;margin-top:10px;width:100%">
                  <thead>
                    <tr style="font-weight: bold;text-align:center">
                      <td>S.N</td>
                      <td>Item Name</td>
                      <td>Item Code</td>
                      <td>UOM</td>
                      <td>Batch No</td>
                      <td>Expiry Date</td>
                      <td>Dispatched Qty.</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="text-align:center" *ngFor="let row of dispatchListbyId ; let i= index ">
                      <td><b>{{ i+ 1 }}</b></td>
                      <td>{{row.ItemName}}</td>
                      <td>{{row.ItemCode}}</td>
                      <td>{{row.UOMName}}</td>
                      <td>{{row.BatchNo}}</td>
                      <td>{{row.ExpiryDate | date}}</td>
                      <td>{{row.DispatchedQuantity}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <div class="col-md-12">
                <div style="text-align: left" class="col-md-4">Requested
                  By:&nbsp;<b>{{innerDispatchdetails.CreatedByName}}</b></div>
                <div *ngIf="receivedby!=null" style="text-align: left" class="col-md-4">Received
                  By:&nbsp;<b>{{innerDispatchdetails.ReceivedBy}}</b></div>
                <div style="text-align: left" class="col-md-4">Dispatched
                  By:&nbsp;<b>{{innerDispatchdetails.DispatchedByName}}</b></div>
              </div>
              <div style="float:right">
                &nbsp;
                &nbsp;
              </div>
            </div>
          </div>
        </div>

        <div class="row center-style">
          <div class="col-md-12 col-xs-12 ">
            <a (click)="print()" class="btn btn-default" style="position: absolute;top: -31px; right: 1px;">
              Print
              <i class="glyphicon glyphicon-print"></i>
            </a><span> </span><span> </span>
          </div>
        </div>
      </ng-template>
      <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
      </div>
    </div>
  </div>
</div>

<!--</form>-->
<!--Model Box Body End-->
</div>