<style>
  .invoice-title {
    position: relative;
    right: 198px;
    top: 110px;
  }

  .main-info {
    margin-top: 15px;
  }


  .pharmacyReceipt-print-main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .pharmacyReceipt-print-main .print-detail {
    width: 100%;
  }

  .pharmacyReceipt .bill-itms thead {
    border-bottom: none;
  }

  table th {
    position: sticky;
    top: 0;
    background-color: rgb(165, 172, 172);
  }

  table tbody tr,
  table thead {
    display: table;
    width: 100%;
    table-layout: fixed;

  }


  table tbody {
    /* max-height: 450px; */
    display: block;
    /* overflow-y: scroll; */
  }

  .sff-list tr td {
    font-size: 11px;
    overflow: hidden;
    /* width: 50px; */
    padding: 3px !important;
    vertical-align: middle;
  }

  .sff-list tr th {
    font-size: 12px !important;
  }

  tr.bg-red-covid-positive {
    background: #e7505a !important;
    color: #fff;
  }

  .file-hover:hover {
    cursor: pointer;
  }
</style>
<div *ngIf="showReport">
  <danphe-lab-view-report *ngIf="showReport && labReportFormat == 'format1'" [templateReport]="singleReport"
                          [hidePrintButton]="true" [showReport]="showReport" [showHeader]="showHeader" [printReportFromGrid]="false"
                          [enableEdit]="false" [create-report-for-claim]="true">
  </danphe-lab-view-report>

  <danphe-lab-view-report-format2 *ngIf="showReport && labReportFormat == 'format2'" [templateReport]="singleReport"
                                  [showReport]="showReport" [showHeader]="showHeader" [printReportFromGrid]="false" [enableEdit]="false"
                                  [create-report-for-claim]="true">
  </danphe-lab-view-report-format2>
</div>
<danphe-view-imaging-report *ngIf="showImagingReport" [requisitionId]="imagingRequisitionId"
                            [create-report-for-claim]="true">

</danphe-view-imaging-report>

<registration-sticker *ngIf="showOpdSticker" [patientVisitId]="selectedVisit.PatientVisitId">
</registration-sticker>

<div class="popup-static portlet box portlet-fullscreen" *ngIf="ShowFileUploadPopUp">
  <div class="col-md-10 col-md-offset-1">
    <div class="modelbox-div">
      <div class="modelbox-header">
        <h4 class="margin-0-vr">Select Your Files To Upload</h4>
      </div>
      <div class="modelbox-body">
        <div class="dropdown" style="display:inline-block;">
          <span *ngIf="!IsClaimProcessed">Choose File To Upload : &nbsp;</span>
          <button *ngIf="!IsClaimProcessed" class="dropdown-toggle grid-btnCstm" type="button"
                  (click)="fileInput.click()">
            <i class="fa fa-upload" aria-hidden="true"></i>
            <input #fileInput style="margin-left: 50%;display: none;" type='file' multiple
                   (change)='selectFiles($event)'>
          </button>
          <br>
          <hr>
          <div>
            <label for="id_select_schemeTypeProduct">SchemeType SubProduct: </label>
            <select name="schemeTypeProduct" id="id_select_schemeTypeProduct"
                    (change)="selectSSFSchemeTypeSubProduct($event)" [disabled]="IsClaimProcessed === true ? true : null">
              <option value="">--Select Scheme SubProduct--</option>
              <option *ngFor="let item of SchemeTypeSubProduct" value="{{ item.value }}"> {{ item.name }}</option>
            </select>
          </div>
          <div style="padding-top: 10px;">
            <h4><strong>Generate Below mentioned documents automatically:</strong></h4>
          </div>
          <div class="row" style=" display: flex; justify-content: space-around; padding-bottom: 10px;">
            <div class="col" *ngFor="let itm of documentsToBeAutoGenerated;let i = index;">
              <i class="fa fa-check-circle" *ngIf="itm.isDocumentGenerated"
                 style="color:#469d46; zoom:1.5; position: relative; bottom: 1px;"></i>
              <i class="fa fa-times" *ngIf="itm.cannotGenerateDocument"
                 style="color:red; zoom:1.5; position: relative; bottom: 1px;"></i>
              <input type="checkbox" name="{{'name_generate_document_'+i}}" id="{{'id_generate_document_'+i}}"
                     [(ngModel)]="itm.isSelected" (ngModelChange)="ProcessAndGenerateDocument(itm, i)"
                     [attr.disabled]="(itm.isSelected || itm.disabled) ? true : null" style="zoom: 1.5;" />
              <label for="{{'id_generate_document_'+i}}"
                     style="position: relative; bottom: 5px; left: 3px;">{{itm.documentName}}</label>
            </div>
          </div>
          <table style="margin-top: 10px;">
            <thead>
              <th>#</th>
              <th>File Name</th>
              <th>File Size</th>
              <th>Action</th>
            </thead>
            <tbody style="margin-top: 5px !important;">
              <tr *ngFor="let file of files; let i = index">
                <td>{{i+1}}</td>
                <td>{{ file?.name }}</td>
                <td> {{ formatBytes(file?.size) }} </td>
                <td>
                  <i class="file-hover fa fa-eye" aria-hidden="true" (click)="OpenPreviewDialog(i)"
                     style="zoom: 1.5;"></i>
                  <i *ngIf="!IsClaimProcessed && file.isFileFromUser" class="file-hover fa fa-trash" aria-hidden="true"
                     (click)="DeleteFile(i)" style="zoom: 1.5;"></i>
                </td>
              </tr>
              <hr>
              <tr *ngIf="files && files.length">
                <td>
                  <!-- <span>File Size Limit: {{maximumAllowedFileSizeLimit}}</span> -->
                </td>
                <td>
                  <span>Uploaded Files Total Size: </span>{{totalSizeOfFiles}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modelbox-footer">
        <div *ngIf="generatingDocumentHold" style="text-align: center; color:#2b3688">
          <h4><strong>Generating Document, Wait for green tick to appear and proceed further.</strong></h4>
        </div>
        <div>
          <figure>
            <figCaption style="color:#051fef">NOTE:</figCaption>
            <ul style="list-style: none; color: #051fef; border: 1px solid; width: 60%;">
              <li>Step 1: Select SchemeType.</li>
              <li>Step 2: Upload Files that are not auto generated.</li>
              <li>Step 3: Click On Process Claim After you see green ticks before every checkboxes.</li>
              <li>Step 4: Wait for some time to process the claim.</li>
              <li>Step 5: Verify all the listed Files.</li>
              <li>Step 6: If everything looks good, Proceed to Claim Submission.</li>
            </ul>
          </figure>
        </div>
        <div *ngIf="isSubmitClicked" style="text-align: center;">
          <h4><strong> Your Claim Submission Request is Finalizing.... Please Wait </strong></h4>
        </div>
        <div class="all-buttons text-right">
          <button type="button" class="btn btn-success btn-sm horizontal-space" (click)="CloseFileUploadPopUp()"> Cancel
          </button>
          <button type="button" class="btn btn-cancel btn-sm horizontal-space"
                  [disabled]="(disableProcessClaimButton === true) ? true : null"
                  (click)="ProcessFinalClaim()"> Process Claim </button>
          <input
                 DanpheConfirmationDialog
                 id="btn_submit_claim"
                 type="submit"
                 [title]="confirmationTitle"
                 [message]="confirmationMessage"
                 (confirm)="HandleConfirm();"
                 (cancel)="HandleCancel()" style="font-weight: bold;margin-right: 10px;" class="btn green btn-success"
                 value="Submit Claim" [disabled]="(IsClaimProcessed === false || isSubmitClicked === true) ? true : null" />
        </div>
      </div>
      <div class="close-modelbox lb-close-btn">
        <button class="btn btn-danger" (click)="CloseFileUploadPopUp()">X</button>
      </div>
    </div>
  </div>
</div>


<!--START: Claim Booking-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="ShowClaimBooking">
  <div class="col-md-10 col-md-offset-1">
    <div class="modelbox-div">
      <div class="modelbox-header">
        <h4 class="margin-0-vr">Book Claim</h4>
      </div>
      <div class="modelbox-body">
        <div class="dropdown" style="display:inline-block;">
          <div>
            <label for="id_select_schemeTypeProduct">SchemeType SubProduct: </label>
            <select name="schemeTypeProduct" id="id_select_schemeTypeProduct"
                    (change)="selectSSFSchemeTypeSubProductForClaimBooking($event)">
              <option value="">--Select Scheme SubProduct--</option>
              <option *ngFor="let item of SchemeTypeSubProduct" value="{{ item.value }}"> {{ item.name }}</option>
            </select>
          </div>
        </div>
        <div>
          <table style="margin-top: 10px;" *ngIf="Invoices && Invoices.length > 0">
            <thead>
              <th>#</th>
              <th>InvoiceNo</th>
              <th>InvoiceAmount</th>
              <th>Module</th>
              <th>BookingStatus</th>
              <th>Action</th>
            </thead>
            <tbody style="margin-top: 5px !important;">
              <tr *ngFor="let inv of Invoices; let i = index">
                <td>{{i+1}}</td>
                <td>{{ inv.InvoiceNoFormatted }}</td>
                <td>{{ inv.InvoiceTotalAmount | number : "1.2-2" }}</td>
                <td>{{ inv.ModuleName }}</td>
                <td>{{ inv.BookingStatus }}</td>
                <td>
                  <button *ngIf="inv.BookingStatus === 'Not Booked'" type="button" id="id_ssfClaim_btn_bookClaim" class="btn btn-primary"
                          [disabled]="bookClaimClicked" (click)="BookClaim(inv)" style="padding: 0px;">Book Claim</button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <table *ngIf="Invoices && Invoices.length > 0" style="color: #354ae7;">
                <tr>
                  <td>TotalInvoiceAmount:</td>
                  <td> <strong>{{ TotalInvoiceAmountForClaim | number : "1.2-2" }}</strong> </td>
                </tr>
                <tr>
                  <td>BookedInvoiceAmount:</td>
                  <td> <strong>{{ AlreadyBookedInvoiceAmount | number : "1.2-2" }}</strong> </td>
                </tr>
                <tr>
                  <td>RemainingInvoiceAmount:</td>
                  <td> <strong>{{ RemainingInvoiceAmountToBook | number : "1.2-2" }}</strong> </td>
                </tr>

                <tr>
                  <td>TotalReturnAmount:</td>
                  <td> <strong>{{ TotalReturnAmountForClaim | number : "1.2-2" }}</strong> </td>
                </tr>
                <tr>
                  <td>BookedReturnAmount:</td>
                  <td> <strong>{{ AlreadyBookedReturnAmount | number : "1.2-2" }}</strong> </td>
                </tr>
                <tr>
                  <td>RemainingReturnAmount:</td>
                  <td> <strong>{{ RemainingReturnAmountToBook | number : "1.2-2" }}</strong> </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modelbox-footer" style="text-align: right;">
        <!-- <button type="button" id="id_ssfClaim_btn_bookClaim" class="btn green btn-success" [disabled]="bookClaimClicked" (click)="BookClaim()">Book Claim</button> -->
      </div>
      <div class="close-modelbox lb-close-btn">
        <button class="btn btn-danger" (click)="CloseClaimBookingPopup()">X</button>
      </div>
    </div>
  </div>
</div>
<!--END: Claim Booking-->


<!--START: image Preview-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showImageFilePreviewPopUp">
  <div class="portlet-body form">
    <div class="form-body">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12 col-sm-12 col-xs-12 modelbox-div">
          <div class="col-md-12">
            <h4 style="text-align:center">
              <b>
                <a style="float:right; border-radius: 50% !important;
                                  margin-top: -50px; margin-right: -50px;" class="btn btn-danger  hidden-print"
                   (click)="CloseFilePreviewPopUp()" title="Cancel">X</a>
              </b>
            </h4>
          </div>
          <div class="col-md-12">
            <h4 class="margin-0-vr">Image Preview</h4>
          </div>
          <img width="100%" style="height: 600px;" class="img-responsive" [src]="fileSrc" />
        </div>
        <div class="col-md-1 hidden-xs hidden-sm"> </div>
      </div>
    </div>
  </div>
</div>
<!--END: image Preview-->

<!--START: Document Preview-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showNonImageFilePreviewPopUp">
  <div class="portlet-body form">
    <div class="form-body">
      <div class="col-md-12">
        <div class="col-md-12 col-sm-12 col-xs-12 modelbox-div">
          <div class="col-md-12">
            <h4 style="text-align:center">
              <b>
                <a style="float:right; border-radius: 50% !important;
                                  margin-top: -50px; margin-right: -50px;" class="btn btn-danger  hidden-print"
                   (click)="CloseFilePreviewPopUp()" title="Cancel">X</a>
              </b>
            </h4>
          </div>
          <div class="col-md-12">
            <h4 class="margin-0-vr">Document Preview</h4>
          </div>
          <div class="col-md-12" style="padding:5px;margin-top: 15px;">
            <embed *ngIf="fileSrc" [src]="fileSrc" width="100%" height="700px" />
          </div>
        </div>
        <div class="col-md-1 hidden-xs hidden-sm"> </div>
      </div>
    </div>
  </div>
</div>
<!--END: Document Preview-->

<div class="wrapper">

  <div class="row">
    <div class="col-md-8 col-xs-12">
      <from-to-date-select (on-change)="OnFromToDateChange($event)" [date-settings-name]="'billing-reports'">
      </from-to-date-select>
    </div>
    <div class="col-md-2">
      <input class="form-control" type="text">
    </div>
    <div class="col-md-2">
      <button id="reload" [disabled]="loading" (click)=" loading = true; GetSSFInvoiceDetail()"
              class="btn btn-primary"><i class="fa fa-refresh"></i> Load Data</button>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-5">
      <input class="searchtbx" [(ngModel)]="searchString" onclick="this.select();" placeholder="Search">
    </div>
  </div>
  <br />
  <div>
    <span>Patient Type:</span>
    <select name="patientType" id="id_select_patientType" (change)="ChangePatientType($event)">
      <option value="inpatient">Inpatient</option>
      <option value="outpatient">Outpatient</option>
    </select>
  </div>
  <div class="col-md-12" style="padding:0px;" id="print_ledger">
    <div class="row">
    </div>
    <table class="table-bordered" style="width:100%;  margin-bottom: 20px;" border="1"
           *ngFor="let data of PatientWiseClaimList | searchFilter:searchString | async; let i=index;">
      <tr style="background-color: #599be0 !important;">
        <th colspan="1" style="text-align: center; background-color: #7aaee5 !important;"> <input autocomplete="off"
                 class="mt-checkbox mt-checkbox-outline" [(ngModel)]="data.IsSelected" type="checkbox"
                 (change)="CheckPatientAllInvoice(data,i)" style="zoom: 2;" /></th>
        <th colspan="2" style="text-align: center;background-color: #7aaee5 !important;">Patient Name : {{
          data.PatientName }}({{data.PatientCode}})</th>
        <th colspan="2" style="text-align: center;background-color: #7aaee5 !important;">Address : {{ data.Address }}
        </th>
        <th colspan="2" style="text-align: center;background-color: #7aaee5 !important;">Claim Code : {{ data.ClaimCode
          }} </th>
        <th colspan="2" style="text-align: center;background-color: #7aaee5 !important;">Policy No : {{ data.PolicyNo }}
        </th>
      </tr>
      <tr style="font-size: 12px">
        <th style="background-color: white;">
        </th>
        <th style="background-color: white;">Invoice No.</th>
        <th style="background-color: white;">Invoice Total</th>
        <th style="background-color: white;">Cash</th>
        <th style="background-color: white;">Credit</th>
        <th style="background-color: white;">Status</th>
        <th style="background-color: white;">Actions</th>
      </tr>
      <tr *ngFor="let row of data.InvoiceList; let ind=index;">
        <td></td>
        <td>{{row.InvoiceNoFormatted}}</td>
        <td>{{row.InvoiceTotalAmount | number : "1.2-2"}}</td>
        <td>{{row.Cash | number : "1.2-2"}}</td>
        <td>{{row.Credit | number : "1.2-2"}}</td>
        <td>{{row.Status}}</td>
        <td *ngIf="ind == 0">
          <div class="dropdown" style="display:inline-block;">
            <button class="dropdown-toggle grid-btnCstm" type="button" (click)="OpenFileUpload(data)">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </button>
          </div>
          <div class="dropdown" style="display:inline-block;">
            <button class="dropdown-toggle grid-btnCstm" type="button" (click)="OpenClaimBooking(data)">
              Book Claim
            </button>
          </div>
        </td>
        <td *ngIf="ind != 0"></td>
      </tr>
    </table>
    <br>
  </div>
  <div class="col-md-12" id="billing-reciept">

    <!-- START: New  Billing Invoice -->
    <style>
      @page {
        size: A5 landscape;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 70%;
        scale: 70%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      body {
        font-size: 12px;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      table td,
      table th {
        padding: 0;
        font-size: 10px;
      }

      .column {
        float: left;
        padding: 5px;
      }

      .box-body {
        padding: 0px 10px 0 10px;
      }

      .c_name {
        font-size: 10pt !important;
        margin-bottom: 0;
        margin-top: 0;
      }

      .c_paragraphs {
        font-size: 8pt !important;
        margin: 0 0 0 0;
        padding: 0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
      }

      table td,
      table th {
        text-align: left;
        vertical-align: top !important;
      }
    </style>

    <div class="A5 landscape">
      <div class="sheet" id="id_ssf_bill_invoice_print">
        <div class="box-body invoice header" style="color: black; font-weight: 600;" *ngIf="ShowBill">

          <table border="0" style="width: 100%; margin: 0 auto 5px auto; vertical-align: top !important" cellspacing="0" cellpadding="0"
                 *ngIf="InvoiceDisplaySettings.ShowHeader && InvoiceDisplaySettings.HeaderType === 'image'">
            <tr>
              <td>
                <img src="\themes\theme-default\images\billing-invoice-header-image.png" alt="" style="width: 100%;">
              </td>
            </tr>
          </table>
          <table border="0" style="width: 100%; margin: 0 auto 5px auto; vertical-align: top !important" cellspacing="0" cellpadding="0"
                 *ngIf="InvoiceDisplaySettings.ShowHeader && InvoiceDisplaySettings.HeaderType === 'custom'">
            <tr>
              <td colspan="2" width="25%">
                <img src="\themes\theme-default\images\office-logo-new.png" alt="" height="50px" width="100px">
              </td>
              <td colspan="4" width="50%">
                <h3 class="c_name" style="text-align: center; margin-bottom: 0px;"><strong>{{headerDetail.CustomerName}}</strong></h3>
                <p class="c_paragraphs" style="text-align: center; margin-bottom: 0px;">{{headerDetail.Address}}</p>
                <p class="c_paragraphs" style="text-align: center; margin-bottom: 0px;">Ph No: {{headerDetail.Tel}}</p>
              </td>
              <td colspan="2" width="25%" style="text-align: right; vertical-align: top;">
                <p class="c_paragraphs" style="text-align: right; margin-top: 10px; margin: 0;">
                  <strong>{{headerDetail.CustomerRegLabel}}</strong>
                </p>
              </td>
            </tr>
          </table>
          <table border="0" style="width: 100%; margin: 0 auto; vertical-align: top !important" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="11" style="text-align: center;">
                <p><strong><span>
                      <span>
                        <b>
                          {{Invoice_Label}}
                        </b>
                      </span>

                    </span>
                  </strong></p>
              </td>
            </tr>
            <tr style="border: 1px solid #ccc;">
              <td colspan="11" style="padding: 6px !important;">
                <table style="width: 100%; margin-bottom: 0!important;">
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Invoice No: <strong>{{BillingInvoiceInfo.InvoiceNumFormatted}}</strong></p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Transaction Date:<strong> {{BillingInvoiceInfo.TransactionDate |
                          DanpheDateTime:'format':'YYYY-MM-DD'}}</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Hospital No:
                        <strong>{{SelectedClaimObject.PatientInfo[0].PatientCode}}</strong>
                      </p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Invoice Date:
                        <strong>{{BillingInvoiceInfo.TransactionDate | DanpheDateTime:'format':'YYYY-MM-DD'}}</strong>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;"><strong>Patient's Name:
                          {{SelectedClaimObject.PatientInfo[0].ShortName}}</strong></p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Date:<strong>{{localDateTime}}</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;" *ngIf="SelectedClaimObject.PatientInfo[0].CountryName === CountryNepal">
                        Address:
                        <strong>
                          <span
                                *ngIf="showMunicipality && SelectedClaimObject.PatientInfo[0].MunicipalityName">{{SelectedClaimObject.PatientInfo[0].MunicipalityName}}
                            <span *ngIf="SelectedClaimObject.PatientInfo[0].WardNumber">-{{SelectedClaimObject.PatientInfo[0].WardNumber}}</span>,
                          </span>{{SelectedClaimObject.PatientInfo[0].CountrySubDivisionName}}</strong>
                      </p>
                      <p class="c_paragraphs" style="margin-bottom: 0px;" *ngIf="SelectedClaimObject.PatientInfo[0].CountryName !== CountryNepal">
                        Address: <strong>
                          <span *ngIf="SelectedClaimObject.PatientInfo[0].Address">{{SelectedClaimObject.PatientInfo[0].Address}},
                          </span>{{SelectedClaimObject.PatientInfo[0].CountrySubDivisionName}},
                          {{SelectedClaimObject.PatientInfo[0].CountryName}}</strong>
                      </p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Contact No:
                        <strong>{{SelectedClaimObject.PatientInfo[0].PhoneNumber}}</strong>
                      </p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Age/Sex : <strong>{{finalAge}}</strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Type: <strong>{{SelectedClaimObject.PatientInfo[0].SchemeName}}</strong></p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;">Method of payment: <strong><span style="text-transform:uppercase;">
                            {{BillingInvoiceInfo.PaymentMode }}
                          </span></strong></p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" style="text-align: left;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;" *ngIf="SelectedClaimObject.PatientInfo[0].PolicyNo">Policy/Member No:
                        <strong><span
                                style="text-transform:uppercase;">
                            {{SelectedClaimObject.PatientInfo[0].PolicyNo }}
                          </span></strong>
                      </p>
                    </td>
                    <td colspan="4" style="text-align: right;">
                      <p class="c_paragraphs" style="margin-bottom: 0px;" *ngIf="SelectedClaimObject.PatientInfo[0].DepartmentName">Dept:
                        <strong><span
                                style="text-transform:uppercase;">
                            {{SelectedClaimObject.PatientInfo[0].DepartmentName }}
                          </span></strong>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="margin-top: 10px;">
              <th style="padding: 5px !important; width: 5%">SN.</th>
              <th colspan="4" style="padding: 5px !important; width: 40%">Particular(s)</th>
              <th style="padding: 5px !important; width: 10%">ItemCode</th>
              <th style="padding: 5px !important; width: 5%">Unit</th>
              <th style="padding: 5px !important; width: 10%">Price</th>
              <th style="padding: 5px !important; width: 10%">Dis%</th>
              <th style="padding: 5px !important; width: 10%">Dis.Amt</th>
              <th style="padding: 5px !important; width: 10%">Amount</th>
            </tr>
            <tr *ngFor="let row of SsfClaimObject.BillingInvoiceItems; let i=index">
              <td style="padding: 0px 5px;  width: 5%">{{i+1}}.</td>
              <td colspan="4" style="padding: 0px 5px; width: 40%; text-transform: uppercase;">
                {{row.ItemName}}
                <span *ngIf="row.PerformerName!=null && ShowProviderName"> ({{row.PerformerName}})</span>
              </td>
              <td style="padding: 0px 5px;  width: 10%">
                {{row.ItemCode}}</td>
              <td style="padding: 0px 5px;  width: 5%">
                {{row.Quantity}}</td>
              <td style="padding: 0px 5px;  width: 10%">
                {{row.Price | number : "1.2-2"}}</td>
              <td style="padding: 0px 5px;  width: 10%">
                {{row.DiscountPercent | number : "1.2-2"}}</td>
              <td style="padding: 0px 5px;  width: 10%">
                {{row.DiscountAmount | number : "1.2-2"}}</td>
              <td style="padding: 0px 5px;  width: 10%">
                {{row.Quantity * row.Price | number : "1.2-2"}}
              </td>
            </tr>
            <tr style="border-top: 1px solid #ccc;">
              <td colspan="4" style="padding: 5px !important; vertical-align: top;">
                <p class="c_paragraphs" style="margin: 0px">
                  <strong>In Words : {{ BillingInvoiceInfo.TotalAmount | number: "1.2-2" | NumberInWords | uppercase}} ONLY</strong>
                </p>
              </td>
              <td colspan="6" style="padding: 5px !important; text-align: right;">
                <p class="c_paragraphs" style="margin: 0px"><strong>SubTotal: </strong></p>
                <p class="c_paragraphs" style="margin: 0px"><strong>Discount: </strong></p>
                <p class="c_paragraphs" style="margin: 0px"><strong>Total Amount: </strong></p>
                <p class="c_paragraphs" style="margin: 0px"><strong>Credit Amount: </strong>
                </p>
                <p class="c_paragraphs" style="margin: 0px"><strong>Received Amount:
                  </strong></p>
              </td>
              <td style="padding: 5px !important;">
                <p class="c_paragraphs" style="margin: 0px">{{BillingInvoiceInfo.SubTotal | number : "1.2-2"}}</p>
                <p class="c_paragraphs" style="margin: 0px">{{BillingInvoiceInfo.DiscountAmount | number : "1.2-2"}}</p>
                <p class="c_paragraphs" style="margin: 0px">{{BillingInvoiceInfo.TotalAmount | number : "1.2-2"}}</p>
                <p class="c_paragraphs" style="margin: 0px">
                  {{(BillingInvoiceInfo.NetReceivableAmount) | number :
                  "1.2-2"}}</p>
                <p class="c_paragraphs" style="margin: 0px">
                  {{BillingInvoiceInfo.ReceivedAmount | number :
                  "1.2-2"}}</p>
              </td>
            </tr>
            <tr style="border-top: 1px solid #ccc;">
              <td colspan="8" style="padding: 5px !important; vertical-align: top;">
                <p class="c_paragraphs" style="margin: 0px;" *ngIf="BillingInvoiceInfo.Tender > 0">
                  <strong>Tender:</strong>{{BillingInvoiceInfo.Tender | number : "1.2-2"}}, <strong>Change/Return: </strong>
                  {{BillingInvoiceInfo.Change | number : "1.2-2"}}
                </p>
              </td>
            </tr>
            <tr style="border-top: 1px solid #ccc;" *ngIf="BillingInvoiceInfo.PaymentDetails !== null">
              <td colspan="8" style="padding: 5px !important; vertical-align: top;">
                <p class="c_paragraphs" style="margin: 0px;"><strong>PaymentDetails:
                  </strong>{{BillingInvoiceInfo.PaymentDetails}}
                </p>
              </td>
            </tr>
            <tr style="border-top: 1px solid #ccc;">
              <td colspan="4" style="padding: 5px !important; vertical-align: top;">
                <p class="c_paragraphs" style="margin: 0px"><strong>User: </strong>{{BillingInvoiceInfo.UserName}}</p>
              </td>
              <td colspan="6" style="padding: 5px !important; vertical-align: top; text-align: right;">
                <p class="c_paragraphs" style="margin: 0px;"><strong>Time:
                  </strong>{{BillingInvoiceInfo.TransactionDate | DanpheDateTime:'format':'hh:mm A'}}</p>
              </td>
            </tr>
            <tr>
              <td colspan="11" style="padding: 0px 5px 0px 5px !important; vertical-align: top; text-align: center;">
                <div *ngIf="InvoiceFooterNoteSettings.ShowFooter">
                  <p class="c_paragraphs"><b *ngIf="InvoiceFooterNoteSettings.ShowNepali"> {{InvoiceFooterNoteSettings.NepaliText}} </b></p>
                  <p class="c_paragraphs"><b *ngIf="InvoiceFooterNoteSettings.ShowEnglish"> {{InvoiceFooterNoteSettings.EnglishText}} </b></p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <!-- END: New  Billing Invoice -->

    <!-- START: Pharmacy Invoice New -->
    <style>
      @page {
        size: A5 landscape;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      body {
        font-size: 11pt;
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      P {
        margin: 0 !important;
      }

      table td,
      table th {
        padding: 0;
        font-size: 9pt;
      }

      .column {
        float: left;
        padding: 5px;
      }

      .box-body {
        padding: 0px 10px 0 10px;
      }

      .c_name {
        font-size: 11pt !important;
        margin-bottom: 0;
        margin-top: 0;
      }

      .c_paragraphs {
        font-size: 9pt !important;
        margin: 0 0 0 0;
        padding: 0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;
      }

      table td,
      table th {
        text-align: left;
        vertical-align: top !important;
      }

      table th {}

      @media print {
        @page {
          size: a5 landscape;
          margin: 0;
        }

        header,
        footer,
        nav,
        aside,
        form {
          display: none;
        }

        body {
          font-size: 11pt;
          margin: 0;
          line-height: 1.2;
          padding: 0;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        P {
          margin: 0 !important;
        }

        .c_paragraphs {
          font-size: 9pt !important;
          margin: 0 0 0 0;
          padding: 0;
        }

        .c_name {
          font-size: 11pt !important;
          margin-bottom: 0;
          margin-top: 0;
        }

        table {
          margin-bottom: 20px;
          width: 100% !important;
        }

        table td,
        table th {
          padding: 0;
          vertical-align: top !important;
        }

        table th {}
      }

      @media print and (orientation: landscape) {

        .c_paragraphs {
          font-size: 9pt !important;
        }

        .c_name {
          font-size: 11pt !important;
        }

        P {
          margin: 0 !important;
        }

        .invoice-receipt {
          max-width: 850px;
          padding: 10px;
          border: 1px dotted black;
          margin: 0 auto;
          overflow: hidden;
          font-size: 15px;
          position: relative;
          z-index: 2;
        }
      }
    </style>

    <div>
      <div class="A5 landscape">
        <div id="id_ssf_pharmacy_invoice_print" class="invoice-receipt sheet" *ngIf="generatePharmacyInvoice">
          <div>
            <!-- <p class="no-margin" style="text-align:right;font-style:italic;" *ngIf="receipt.PrintCount">COPY({{receipt.PrintCount}}) OF ORIGINAL
            </p> -->
          </div>
          <div class="box-body invoice header">
            <table border="0" style="width: 100%; margin: 0 auto;" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" width="25%">
                  <img class="img-responsive" style="max-height:70px; position: relative; top: 10px;"
                       src="../../../themes/theme-default/images/hospital-logo-phrm.PNG" />
                </td>
                <td colspan="6" width="50%" style="color: #000 !important;">
                  <h3 class="c_name" style="text-align: center; margin-bottom: 0px;"><strong>{{pharmacyHeaderDetail.hospitalName}}</strong></h3>
                  <p class="c_paragraphs" style="text-align: center; margin-bottom: 0px;">{{pharmacyHeaderDetail.address}}</p>
                  <p class="c_paragraphs" style="text-align: center; margin-bottom: 0px;">{{ pharmacyHeaderDetail.tel}}</p>
                  <p class="c_paragraphs" style="text-align: center; margin-bottom: 0px;">{{ pharmacyHeaderDetail.DDA}}</p>
                </td>
                <td colspan="3" width="25%" style="text-align: right; vertical-align: top;">
                  <p class="c_paragraphs" style="text-align: right; margin-top: 10px; margin: 0; color: #000 !important;">
                    <strong>{{GeneralFieldLabel.PANNo}}: {{pharmacyHeaderDetail.PANno}}</strong>
                  </p>
                </td>
              </tr>
            </table>
            <table border="0" style="width: 100%; margin: 0 auto;" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="12" style="text-align: center; color: #000 !important;">
                  <p><strong>PHARMACY UNITS</strong></p>
                </td>
              </tr>
              <tr>
                <td colspan="12" style="text-align: center; color: #000 !important;">
                  <p *ngIf="pharmacyHeaderDetail.hospitalName"><strong>{{PharmacyInvoiceLabel}}</strong></p>
                  <p *ngIf="!pharmacyHeaderDetail.hospitalName">
                    <b>REF. BILL</b>
                  </p>

                </td>
              </tr>
              <tr style="border: 1px solid #ccc; color:black!important;">
                <td colspan="12" style="padding: 6px !important;">
                  <table style="width: 100%; margin-bottom: 0;">
                    <tr>
                      <td colspan="6" style="text-align: left;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;" *ngIf="pharmacyHeaderDetail.hospitalName">
                          <strong>Invoice No:</strong>
                          {{pharmacyReceipt.CurrentFinYear}} - PH{{ pharmacyReceipt.ReceiptPrintNo}}
                        </p>
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;" *ngIf="!pharmacyHeaderDetail.hospitalName">
                          <strong>Ref BillNo:</strong>
                          {{pharmacyReceipt.CurrentFinYear}} - PH{{ pharmacyReceipt.ReceiptPrintNo}}
                        </p>
                      </td>
                      <td colspan="6" style="text-align: right;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Transaction Date:</strong>
                          {{pharmacyReceipt.ReceiptDate |
                          DanpheDateTime:'format':'YYYY-MM-DD'}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="6" style="text-align: left;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Hospital No :
                          </strong>{{pharmacyReceipt.Patient.PatientCode}}</p>
                      </td>
                      <td colspan="6" style="text-align: right;" *ngIf="pharmacyHeaderDetail.hospitalName">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Invoice Date:</strong>
                          {{pharmacyReceipt.ReceiptDate | DanpheDateTime:'format':'YYYY-MM-DD'}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="6" style="text-align: left;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Patient's Name:
                          </strong>{{pharmacyReceipt.Patient.ShortName}}</p>
                      </td>
                      <td colspan="6" style="text-align: right;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;">{{pharmacyReceipt.ReceiptDate | nepaliDate }}</p>
                      </td>
                    </tr>
                    <tr *ngIf="pharmacyReceipt.Patient.PatientId > 0">
                      <td colspan="6" style="text-align: left;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Address: </strong>
                          <span
                                *ngIf="pharmacyReceipt.Patient.Address!==null">{{pharmacyReceipt.Patient.Address}},
                            {{pharmacyReceipt.Patient.CountrySubDivisionName}}</span>
                        </p>
                      </td>
                      <td colspan="6" style="text-align: right;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"> Age/Sex :{{pharmacyReceipt.Patient.DateOfBirth |
                          DanpheDateTime:'age'
                          }}/{{pharmacyReceipt.Patient.Gender}}</p>
                      </td>
                    </tr>
                    <tr *ngIf="pharmacyReceipt.ProviderName && pharmacyReceipt.ProviderNMCNumber">
                      <td colspan="6" style="text-align: left;">
                        <p *ngIf="pharmacyReceipt.ProviderName" class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Provider's
                            Name:
                          </strong>{{pharmacyReceipt.ProviderName}}
                        </p>
                      </td>
                      <td colspan="6" style="text-align: right;" *ngIf="pharmacyReceipt.ProviderNMCNumber">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;">
                          {{GeneralFieldLabel.NMCNo}}:{{pharmacyReceipt.ProviderNMCNumber}}</p>
                      </td>
                    </tr>
                    <tr *ngIf="pharmacyReceipt.ClaimCode || pharmacyReceipt.PolicyNo">
                      <td colspan="6" style="text-align: left;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"> ClaimCode: {{pharmacyReceipt.ClaimCode}}</p>
                      </td>
                      <td colspan="6" style="text-align: right;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>PolicyNo: </strong>{{pharmacyReceipt.PolicyNo}}
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="6" style="text-align: left;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Contact No:
                          </strong>{{pharmacyReceipt.Patient.PhoneNumber}}</p>
                      </td>
                      <td colspan="6" style="text-align: right;">
                        <p class="c_paragraphs" style="margin-bottom: 0px !important;"><strong>Method of payment:
                          </strong>{{pharmacyReceipt.PaymentMode}}</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="color:black!important; margin-top: 10px;">
                <th style="padding: 3px 5px !important">SN.</th>
                <th colspan="4" style="padding: 3px 5px !important">Particular(s)</th>
                <th style="padding: 3px 5px !important">Qty</th>
                <th colspan="2" style="padding: 3px 5px !important">Expiry</th>
                <th style="padding: 3px 5px !important">Batch</th>
                <th style="padding: 3px 5px !important">Rack No.</th>
                <th style="padding: 3px 5px !important">Rate</th>
                <th style="padding: 3px 5px !important; text-align: right;">Amount</th>
              </tr>
              <tr *ngFor="let row of pharmacyReceipt.InvoiceItems; let i=index" style="color:black!important;">
                <td style="padding: 3px 5px !important; ">{{i+1}}</td>
                <td colspan="4" style="padding: 3px 5px !important;">{{row.ItemName}} </td>
                <td style="padding: 3px 5px !important; ">{{row.Quantity}}</td>
                <td colspan="2" style="padding: 3px 5px !important; ">{{row.ExpiryDate | date: 'dd MMM yyy'}}</td>
                <td style="padding: 3px 5px !important; ">{{row.BatchNo}}</td>
                <td style="padding: 3px 5px !important; ">{{row.RackNo}}</td>
                <td style="padding: 3px 5px !important; ">{{row.SalePrice | number: "1.2-4"}} </td>
                <td style="padding: 3px 5px !important; text-align: right;">{{row.SubTotal | number: "1.2-4"}}</td>
              </tr>
              <tr style="border-top: 1px solid #ccc; color:black!important;">
                <td colspan="8" style="padding: 5px 10px 5px 10px !important; vertical-align: top;">
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;"><strong>In Words :{{pharmacyReceipt.TotalAmount | NumberInWords}}
                      <span
                            *ngIf="pharmacyReceipt.TotalAmount !=0">Only</span></strong></p>
                </td>
                <td colspan="3" style="padding: 5px 10px 5px 10px !important; text-align: right;">
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;"><strong>SubTotal: </strong></p>
                  <p *ngIf="pharmacyReceipt.DiscountAmount  && isitemlevlDis || isMainDiscountAvailable" class="c_paragraphs">
                    <strong>Discount:
                    </strong>
                  </p>
                  <p *ngIf="pharmacyReceipt.VATAmount && isItemLevelVATApplicable" class="c_paragraphs" style="margin-bottom: 0 !important;">
                    <strong>Taxable Amount:
                    </strong>
                  </p>
                  <p *ngIf="pharmacyReceipt.VATAmount && isItemLevelVATApplicable" class="c_paragraphs" style="margin-bottom: 0 !important;">
                    <strong>Non Taxable Amount:
                    </strong>
                  </p>
                  <p *ngIf="pharmacyReceipt.VATAmount && isItemLevelVATApplicable" class="c_paragraphs" style="margin-bottom: 0 !important;">
                    <strong>VAT:
                    </strong>
                  </p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;"><strong>Cash Amount: </strong></p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;"><strong>Credit Amount: </strong></p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;"><strong>Total Amount: </strong></p>
                </td>
                <td style="padding: 5px 10px 5px 10px !important; text-align: right;">
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;">{{pharmacyReceipt.SubTotal | number: "1.2-4"}}</p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;"
                     *ngIf="pharmacyReceipt.DiscountAmount  && isItemLevelDiscountApplicable || isMainDiscountAvailable">
                    {{pharmacyReceipt.DiscountAmount |
                    number: "1.2-4"}}</p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;" *ngIf="pharmacyReceipt.VATAmount && isItemLevelVATApplicable">
                    {{pharmacyReceipt.TaxableAmount | number: "1.2-4"}}
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;" *ngIf="pharmacyReceipt.VATAmount && isItemLevelVATApplicable">
                    {{pharmacyReceipt.NonTaxableAmount | number: "1.2-4"}}
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;" *ngIf="pharmacyReceipt.VATAmount && isItemLevelVATApplicable">
                    {{pharmacyReceipt.VATAmount | number: "1.2-4"}}
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;">{{pharmacyReceipt.CashAmount | number: "1.2-4"}}</p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;">{{pharmacyReceipt.CreditAmount | number: "1.2-4"}}</p>
                  <p class="c_paragraphs" style="margin-bottom: 0 !important;">{{coreService.currencyUnit}}
                    {{pharmacyReceipt.TotalAmount | number: "1.2-4"}}</p>
                </td>
              </tr>
              <tr *ngIf=" pharmacyReceipt.PaymentMode != 'credit'" style=" border-top: 1px solid #ccc; color:black!important;">
                <td colspan="12" style="padding: 10px !important; vertical-align: top;">
                  <p class="c_paragraphs" *ngIf=" pharmacyReceipt.PaymentMode != 'credit'"><strong>Tender:
                    </strong>{{pharmacyReceipt.Tender | number : "1.2-2"}}</p>
                  <p class="c_paragraphs" *ngIf=" pharmacyReceipt.PaymentMode != 'credit'"><strong>Change/Return:</strong>
                    {{pharmacyReceipt.Change | number: "1.2-2"}}</p>
                </td>
              </tr>
              <tr style="border-top: 1px solid #ccc; color:black!important;" *ngIf="pharmacyReceipt.PaymentModeDetails.length">
                <td colspan="12" style="padding: 10px 10px 0 10px !important; vertical-align: top;">
                  <p class="c_paragraphs">{{pharmacyReceipt.PaymentModeDetails | paymentDetails}}</p>
                </td>
              </tr>
              <tr style="border-top: 1px solid #ccc; color:black !important;">
                <td colspan="6" style="padding: 10px 10px 0 0 !important; vertical-align: top; text-align: left">
                  <p *ngIf="pharmacyReceipt.CreditOrganizationName" class="c_paragraphs"><strong>Credit Organization:
                    </strong>{{pharmacyReceipt.CreditOrganizationName}}</p>
                </td>
                <td colspan="6" style="padding: 10px 10px 0 10px !important; vertical-align: top; text-align: right">
                  <p *ngIf="pharmacyReceipt.StoreName" style="text-align: right" class="c_paragraphs"><strong>Store:
                    </strong>{{pharmacyReceipt.StoreName}}
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="6" style="padding: 0 10px !important; vertical-align: top;" style="color:black!important;">
                </td>
                <td colspan="6" style="padding: 0 10px !important; vertical-align: top; text-align: right; color:black !important;">
                  <p *ngIf="pharmacyReceipt.Remarks!=null" style="text-align: right!important;" class="c_paragraphs"><strong>Remarks:
                    </strong>{{pharmacyReceipt.Remarks}}
                  </p>
                </td>
              </tr>
              <tr>
                <td colspan="6" style="padding: 0 10px !important; vertical-align: top;" style="color:black!important;">
                  <p class="c_paragraphs"><strong>User: </strong>{{pharmacyReceipt.BillingUser}}</p>
                </td>
                <td colspan="6" style="padding: 0 10px !important; vertical-align: top; text-align: right;" style="color:black!important;">
                  <p class="c_paragraphs" style="text-align: right;"><strong>Time: </strong>{{pharmacyReceipt.ReceiptDate |
                    DanpheDateTime:'format':'HH:mm'}}</p>
                </td>
              </tr>
              <tr>
                <td colspan="12" style="padding: 10px !important; text-align: center;" style="color:black!important;">
                  <p class="c_paragraphs" *ngIf="showEnglish">{{englishText}}</p>
                  <p class="c_paragraphs" *ngIf="showNepali">{{nepaliText}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- END: Pharmacy Invoice -->
    </div>
  </div>