<div class="wrapper">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <from-to-date-select (on-change)="OnFromToDateChange($event)"
                                [date-settings-name]="'billing-reports'"></from-to-date-select>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-4">Membership<b style="float:right">:</b></label>
                                <div class="col-md-8">
                                    <danphe-multiselect *ngIf="Memberships.length > 0" [ddl-data]="Memberships"
                                        [pre-selected]="preSelectedMemberships"
                                        [placeholder-text]="'--Select Memberships --'"
                                        [value-property-name]="'MembershipTypeId'"
                                        (selected-items-list)="MembershipsChanged($event)"
                                        [display-property-name]="'MembershipTypeName'" [single-selection]="false"
                                    >
                                    </danphe-multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-4">Rank<b style="float:right">:</b></label>
                                <div class="col-md-8">
                                    <danphe-multiselect *ngIf="Ranks.length > 0" [ddl-data]="Ranks"
                                        [pre-selected]="preSelectedRanks" [placeholder-text]="'--Select Ranks --'"
                                        [value-property-name]="'RankId'" (selected-items-list)="RanksChanged($event)"
                                        [display-property-name]="'RankName'" [single-selection]="false" >
                                    </danphe-multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary"
                                (click)="LoadRankMembershipWiseDischargePatientReport()">Load</button>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <danphe-grid [grid-colDefaults]="RankMembershipWiseDischargePatientReportGridColumns"
                            [grid-data]="RankMembershipWiseDischargePatientReportData"
                            [grid-exportOptions]="gridExportOptions" [grid-showExport]="true" [report-for]="pharmacy"
                            [show-header]="true" [filter-parameters]="filterParameters" [grid-date-range]="dateRange"
                            [NepaliDateInGridParams] ="NepaliDateInGridSettings">
                        </danphe-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>