.info-item {
  padding: 5px;
}
.add-res-table-holder {
  width: 100%;
}
.msg-icn-err {
  color: red;
  font-size: 17px;
  cursor: pointer;
}

.icn-group {
  font-size: 17px;
  color: #e83b3b;
  cursor: pointer;
}

.msg-icn-warn {
  color: #c1c112;
  font-size: 17px;
  cursor: pointer;
}

a.cke_button__maximize {
  display: none;
}

.cstm-maxmin {
}

.maximize-window {
  margin-top: 0px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1111;
}

.fullscreen,
.remove {
  opacity: 1;
  margin-right: 7px;
}

.fullscreen:after,
.remove:after {
  display: inline-block;
  top: 0px;
  position: relative;
  font-size: 16px;
  font-family: FontAwesome;
  color: #fff;
  content: "\f065";
  width: 24px;
  height: 24px;
  text-align: center;
  background: #3d3e3e;
}

.remove:after {
}

.font-cross-md {
  font-size: 16px;
}

.btn-remove-dyn-comp {
  margin-left: 20%;
  vertical-align: top;
  padding: 0px 5px 0px;
  background: #2d2d2d;
  /*background: #b93823;*/
  color: #fff;
}

.btn-addnew-comp {
  background: #d0d0d0;
}
.tmplate-name-hdr {
  color: #000;
  font-weight: 600;
  background: #116587;
  color: #fff;
}
.bg-grad-header {
  background: -moz-linear-gradient(
    to bottom,
    rgb(234, 234, 234) 0%,
    rgb(222, 222, 222) 100%
  );
  background: -webkit-gradient(
    to bottom,
    rgb(234, 234, 234) 0%,
    rgb(222, 222, 222) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgb(234, 234, 234) 0%,
    rgb(222, 222, 222) 100%
  );
  background: -o-linear-gradient(
    to bottom,
    rgb(234, 234, 234) 0%,
    rgb(222, 222, 222) 100%
  );
  background: -ms-linear-gradient(
    to bottom,
    rgb(234, 234, 234) 0%,
    rgb(222, 222, 222) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(234, 234, 234) 0%,
    rgb(222, 222, 222) 100%
  );
}
.align-vertical-mid {
  vertical-align: middle;
}
.top-0 {
  margin-top: 0;
}
.font-600 {
  font-weight: 600;
}
.test-infos-detail {
  background: #e8e8e8;
}
.txt-black {
  color: #000;
}

@media only screen and (min-width: 1024px) {
  .test-name-ellipsis {
    white-space: nowrap;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
}

.component-name,
.specimen-name {
  line-height: 28px;
}

.single-test-add {
}

.test-data-input-box {
}

input.cstm-res-input {
  width: 85%;
  padding: 2px 8px;
  border: 1px solid #d2d2d2;
  height: 30px;
  line-height: 30px;
}

.test-error-msg {
  margin-left: 5px;
}
.test-error-msg i.fa {
  line-height: 28px;
}
.cstm-res-autocomplete {
  width: 85%;
}
.cstm-res-autocomplete input {
  width: 100%;
}
.tbl-templatewise {
  margin-bottom: 20px;
}
textarea.no-resize {
  resize: none;
}
.html-tmplate-holder {
  display: table;
  width: 100%;
  margin-top: 12px;
}
.pad-8-all {
  padding: 8px;
}
.test-title {
  color: #006687;
}
.lbl-no-growth {
  margin-right: 10px;
  line-height: 18px;
}
.vender-detail {
  background: #ff6060;
  color: #f7f7f7;
}

.green {
  color: green;
}

.culture-ip-wrapper,
.culture-ip-wrapper .test-data-input-box {
  display: flex;
}
.pos-rel {
  position: relative;
}
.remove-group {
  background: #f12e2e;
  border: none;
  padding: 0px 10px;
  color: #fff;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
}
.cltr-cstm-res-input {
  width: 85%;
}
