<style>
    .voucher-popup {
        height: initial !important;
        top: 10% !important;
        width: 60% !important;
    }
</style>
<div class="row" style="margin-bottom:10px;display:none;">
    <table class="col-md-12">
        <tr style="background-color: #bde4e8 !important;">
            <td><b style="color:green;">Shortcut keys</b></td>
            <td colspan="4">
                <b>Add Row(ledger)</b> <i style="margin-right:15px;">Alt+A,</i>
                <b>Create New Ledger</b> <i style="margin-right:15px;">Alt+C,</i>
                <b>Save</b><i style="margin-right:15px;">Alt+S, Enter,</i>
                <b>Select Voucher</b><i style="margin-right:15px;">Alt+V and Press Space,</i>
                <b>Delete</b><i style="margin-right:15px;">Alt+X, Alt+Delete</i>
            </td>
        </tr>
    </table>
</div>
<div class="ap-v-header">
    <div class="row">
        <div class="col-md-2">
            <div [rbac-permission]="{'name':'accounting-transaction-backdate-voucherentry-btn','actionOnInvalid':'hidden'}"
                 class="ac-check-wrapper">
                <label for="chkBackDateEntry" class="mt-checkbox mt-checkbox-outline">
                    <input name="isBackDateEntry" type="checkbox" [disabled]="voucherVerificationRequired" value="Back Date Entry"
                           [(ngModel)]="IsBackDateEntry"
                           (change)="ChkBackDateEntryOnChange()"
                           id="chkBackDateEntry" style="zoom:1.4">
                    <span></span>Back Date Entry </label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <div><b>Voucher Type:</b></div>
                    <select [(ngModel)]="selVoucherTypeId" id="voucher" [disabled]="voucherVerificationRequired || isEditVoucher" autofocus
                            (change)="onVoucherTypeChange()">
                        <option *ngFor="let v of voucherTypeList" value="{{v.VoucherId}}">{{v.VoucherName}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div><b>Voucher Number:</b></div>
                    <div class="relative">
                        <input disabled type=text [(ngModel)]="TempVoucherNumber" [ngModelOptions]="{standalone: true}" />
                        <i title="This Voucher number is not final. It may change during SAVE." color=#006687
                           class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="ac-check-wrapper">
                        <div><b>Voucher Date:</b> {{TransactionDate | nepaliDate:'format':'YYYY-MM-DD'}} <br />
                            {{TransactionDate | DanpheDateTime:'format':'YYYY-MM-DD'}} (AD)</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div [rbac-permission]="{'name':'accounting-transaction-backdate-voucherentry-btn','actionOnInvalid':'hidden'}"
                         class="ac-check-wrapper">
                        <label for="chkCopyVoucher" class="mt-checkbox mt-checkbox-outline">
                            <input name="isCopyVoucher" type="checkbox" [disabled]="voucherVerificationRequired || isEditVoucher" value="Copy Voucher"
                                   [(ngModel)]="isCopyVoucher"
                                   id="chkCopyVoucher">
                            <span></span>Copy From Old Voucher </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" *ngIf="IsBackDateEntry">
    <div class="row mb10">
        <label class="col-md-3">Voucher Date:<b class="color-red"></b></label>
        <div class="col-md-8">
            <fiscal-year-calendar [showSingleDatePicker]="true" [showAllFiscalYear]="false" (fiscalYearDate)="selectDate($event)">
            </fiscal-year-calendar>
        </div>
    </div>
</div>
<div class="form-body" *ngIf="showPayeeName == true || showChequeNumber==true ">
    <div class="col-md-12">
        <form [formGroup]="transaction.TransactionValidator">
            <div class="col-md-6 col-xs-12" *ngIf="showPayeeName">
                <div class="form-group">
                    <label class="control-label col-md-3" style="font-size: 15px;top: 2px;"><b>Payee Name:</b></label>
                    <div class="col-md-6">
                        <input id="PayeeName" class="form-control" type="text" value="" placeholder="Payee Name"
                               formControlName="PayeeName" [(ngModel)]="transaction.PayeeName" />
                        <div class="color-red font-sm" *ngIf="transaction.IsDirty('PayeeName')"
                             [hidden]="transaction.IsValidCheck('PayeeName','required')">Please Enter Payee Name.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" *ngIf="showChequeNumber">
                <div class="form-group">
                    <label class="control-label col-md-3" style="font-size: 15px;top: 2px;"><b>Cheque No:</b></label>
                    <div class="col-md-6">
                        <input id="ChequeNo" class="form-control" type="text" value="" placeholder="Cheque No"
                               [(ngModel)]="transaction.ChequeNumber" formControlName="ChequeNumber" />
                        <div class="color-red font-sm" *ngIf="transaction.IsDirty('ChequeNumber')"
                             [hidden]="transaction.IsValidCheck('ChequeNumber','required')">Please Enter Cheque Number.</div>
                        <div class="color-red font-sm" *ngIf="transaction.IsDirty('ChequeNumber')"
                             [hidden]="transaction.IsValidCheck('ChequeNumber','pattern')">Please Enter Valid Number.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" [ngStyle]="{'margin-top' : IsBackDateEntry?  '70px' :'10px'}" style="margin-left: 5px; border:rgb(226, 235, 253) solid 1px;">
    <div *ngIf="isCopyVoucher" class="col-md-10" style="margin-top:13px;">
        <div>
            <div class="col-md-7">
                <div class="col-md-4">
                    <label> Choose Fiscal Year : </label>
                </div>
                <div class="col-md-8">
                    <fiscal-year-calendar [showSingleDatePicker]="true" [showAllFiscalYear]="false"
                                          (fiscalYearDate)="GetFiscalYearIdForCopyVoucher($event)">
                    </fiscal-year-calendar>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-6">
                    <label> Voucher Number : </label>
                </div>
                <div class="col-md-6">
                    <input type="text" [(ngModel)]="CopyVoucherNumber" placeholder="Enter Voucher Number"
                           [ngModelOptions]="{standalone: true}"
                           (focusout)="getCopyVoucher()" (keydown.enter)="getCopyVoucher()" />
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div *ngIf="selectedVoucherCode == voucherCodeEnum.PaymentVoucher ||selectedVoucherCode == voucherCodeEnum.ReceiptVoucher"
     style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-2">
            <label *ngIf="selectedVoucherCode == voucherCodeEnum.PaymentVoucher" style="font-weight: bold;">Payment From: </label>
            <label *ngIf="selectedVoucherCode == voucherCodeEnum.ReceiptVoucher" style="font-weight: bold;">Receive From: </label>
        </div>
        <div class="col-md-1">
            <input name="paymentMode" [(ngModel)]="paymentMode" checked type="radio" [disabled]="voucherVerificationRequired" value="Cash"
                   id="pay_cash"
                   (change)="filterPaymentOrReceiptLedger()">
            <label for="pay_cash" style="margin-left: 5px;">Cash</label>
        </div>
        <div class="col-md-1">
            <input name="paymentMode" [(ngModel)]="paymentMode" type="radio" [disabled]="voucherVerificationRequired" value="Bank" id="pay_bank"
                   (change)="filterPaymentOrReceiptLedger()">
            <label for="pay_bank" style="margin-left: 5px;">Bank</label>
        </div>
        <div class="col-md-2">
            <label *ngIf="selectedVoucherCode == voucherCodeEnum.PaymentVoucher" style="font-weight: bold;">Payment Given To: </label>
            <label *ngIf="selectedVoucherCode == voucherCodeEnum.ReceiptVoucher" style="font-weight: bold;">Payment Received From: </label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="paymentOrReceiptPartyName" (ngModelChange)="UpdateNarration()">
        </div>
    </div>
    <div class="row" style="margin:10px 10px">
        <table class="table table-striped table-hover inv_table table-bordered tbPadding">
            <thead>
                <tr>
                    <th style="width:10%" *ngIf=!subLedgerAndCostCenterSetting.EnableSubLedger>Code</th>
                    <th style="width:20%"> Ledger (Main)</th>
                    <th style="width:10%" *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger>Code</th>
                    <th style="width:25%" *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger> Sub Ledger</th>
                    <th style="width:10%" *ngIf=subLedgerAndCostCenterSetting.EnableCostCenter> Cost Center </th>
                    <th style="width:10%" *ngIf="paymentMode == paymentModeList.Bank"> Cheque Number </th>
                    <th style="width:10%" *ngIf="paymentMode == paymentModeList.Bank"> Cheque Date </th>
                    <th style="width:15%">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngIf=!subLedgerAndCostCenterSetting.EnableSubLedger>
                        <input danphe-auto-complete [(ngModel)]="additionalPartyDetailForPaymentOrReceiptVoucher.selectedLedgerCode"
                               [source]="paymentORreciptLedgerList"
                               (keydown.enter)="ChangeFocus('extra_Ledger_for_PMTV_and_Receipt')"
                               placeholder="Code" display-property-name="Code" [disabled]="voucherVerificationRequired"
                               value-property-name=null [grid-sort]="'Code'" min-chars="1" (valueChanged)="AssignExtraLedgerCode();"
                               [list-formatter]="LedgerCodeFormatter" max-num-list="10" onclick="this.select()"
                               id="extra_Ledger_Code_for_PMTV_and_Receipt"
                               style="width:100%;" match-formatted="true" />
                    </td>
                    <td>
                        <input danphe-auto-complete [source]="paymentORreciptLedgerList" class="form-control"
                               [(ngModel)]="additionalPartyDetailForPaymentOrReceiptVoucher.selectedLedger"
                               placeholder="Select Ledger" display-property-name="LedgerName" [disabled]="voucherVerificationRequired"
                               value-property-name=null
                               match-formatted="true" min-char="1" [grid-sort]="'Code'"
                               [list-formatter]="LedgerListFormatter" max-num-list="15" (valueChanged)="AssignExtraLedger()"
                               id="extra_Ledger_for_PMTV_and_Receipt"
                               onclick="this.select()" />
                    </td>

                    <td *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger>
                        <input danphe-auto-complete [(ngModel)]="additionalPartyDetailForPaymentOrReceiptVoucher.selectedSubLedgerCode"
                               [source]="paymentORreciptSubLedgerList"
                               placeholder="Sub-Code" display-property-name="SubLedgerCode" [disabled]="voucherVerificationRequired"
                               min-chars="1" [list-formatter]="'SubLedgerCode'" max-num-list="10" onclick="this.select()"
                               id="extra_SubLedger_Code_for_PMTV_and_Receipt" (valueChanged)="AssignExtraSubLedger(true)"
                               (keydown.enter)="ChangeFocus('extra_SubLedger_for_PMTV_and_Receipt');"
                               style="width:100%;" match-formatted="true" />
                    </td>
                    <td *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger>
                        <input danphe-auto-complete [source]="paymentORreciptSubLedgerList" class="form-control"
                               [(ngModel)]="additionalPartyDetailForPaymentOrReceiptVoucher.selectedSubLedger"
                               placeholder="Select Sub-Ledger" display-property-name="SubLedgerName" [disabled]="voucherVerificationRequired"
                               [list-formatter]="SubLedgerListFormatter" max-num-list="15" id="extra_SubLedger_for_PMTV_and_Receipt"
                               (keydown.enter)="ChangeFocus( subLedgerAndCostCenterSetting.EnableCostCenter? 'id_extraTransactionItemForPaymentOrReceiptVoucher_costCenterId_voucherEntry':(paymentMode == paymentModeList.Bank? 'input_voucherEntry_chequeNumber' : 'extra_Narration_for_PMTV_and_Receipt'));"
                               (valueChanged)="AssignExtraSubLedger(false)"
                               onclick="this.select()" />
                    </td>
                    <td *ngIf=subLedgerAndCostCenterSetting.EnableCostCenter>
                        <select [(ngModel)]="extraTransactionItemForPaymentOrReceiptVoucher.CostCenterId"
                                (keydown.enter)="ChangeFocus(paymentMode == paymentModeList.Bank ?'input_voucherEntry_chequeNumber' : 'extra_Narration_for_PMTV_and_Receipt')"
                                id="id_extraTransactionItemForPaymentOrReceiptVoucher_costCenterId_voucherEntry">
                            <option *ngFor="let costCenter of costCenterList" value="{{costCenter.CostCenterId}}"> {{costCenter.CostCenterName}}
                            </option>
                        </select>
                    </td>
                    <td *ngIf="paymentMode == paymentModeList.Bank">
                        <input type="text" id="input_voucherEntry_chequeNumber" [disabled]="voucherVerificationRequired"
                               class="form-control" (keydown.enter)="ChangeFocus('extra_Narration_for_PMTV_and_Receipt')"
                               [(ngModel)]="transaction.ChequeNumber">
                    </td>
                    <td *ngIf="paymentMode == paymentModeList.Bank">
                        <danphe-date-picker style="float: right;" [(ngModel)]="transaction.ChequeDate" [disabled]="voucherVerificationRequired"
                                            [CalendarTypes]="calType"
                                            [ngModelOptions]="{standalone: true}"> </danphe-date-picker>
                    </td>
                    <td>
                        <textarea [(ngModel)]="extraTransactionItemForPaymentOrReceiptVoucher.Description" id="extra_Narration_for_PMTV_and_Receipt"
                                  style="width:100%; margin: 5px auto;"
                                  (keydown.enter)="ChangeFocus(subLedgerAndCostCenterSetting.EnableSubLedger ? 'SubLedger_Code_1' : 'Code_1')">
              </textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<table class="table table-striped table-hover inv_table table-bordered tbPadding">
    <thead>
        <tr>
            <th style="width:1%"></th>
            <th style="width:1%">Dr/Cr</th>
            <th style="width:10%" *ngIf=!subLedgerAndCostCenterSetting.EnableSubLedger>Code</th>
            <th style="width:20%"> Ledger (Main)</th>
            <th style="width:10%" *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger>Code</th>
            <th style="width:25%" *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger> Sub Ledger</th>
            <th style="width:5%"> Dr Amount </th>
            <th style="width:5%"> Cr Amount </th>
            <th style="width:10%" *ngIf=subLedgerAndCostCenterSetting.EnableCostCenter> Cost Center </th>
            <th style="width:15%">Description</th>
            <th style="width:1%"></th>
            <th style="width:1%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let itm of transaction.TransactionItems; let i = index">
            <td><b>{{i+1}}</b></td>
            <td class="form-group">
                <form [formGroup]="itm.TransactionItemValidator" style="width:80px;">
                    <input danphe-auto-complete [(ngModel)]="selDrCrArray[i]" [source]="DrCrList" formControlName="DrCr"
                           placeholder="Dr/Cr" display-property-name="DrCr" value-property-name="DrCr" match-formatted="true"
                           (valueChanged)="onDrCrChange(i)" [list-formatter]="DrCrListFormatter" max-num-list="2"
                           onclick="this.select()" id="DrCr_{{i+1}}"
                           (keydown.enter)="ChangeFocusFromDrCr(i)"
                           style="width:60px" />
                    <div class="color-red font-sm" *ngIf="itm.IsDirty('DrCr')" [hidden]="itm.IsValidCheck('DrCr','required')">
                        Please select Transaciton Type. </div>
                </form>
            </td>
            <td *ngIf=!subLedgerAndCostCenterSetting.EnableSubLedger>
                <input danphe-auto-complete [(ngModel)]="selectedLedgerCode[i]" [source]="allLedgerList"
                       (keydown.enter)="ChangeFocus('Ledger_'+(i+1))"
                       placeholder="Code" display-property-name="Code" [disabled]="voucherVerificationRequired"
                       value-property-name=null [grid-sort]="'Code'" (valueChanged)="AssignSelectedCode(i)" min-chars="1"
                       [list-formatter]="LedgerCodeFormatter" max-num-list="10" onclick="this.select()" id="Code_{{i+1}}"
                       style="width:100%;" match-formatted="true" />
            </td>
            <td>
                <div class="div-relative">
                    <form [formGroup]="itm.TransactionItemValidator">
                        <input danphe-auto-complete [(ngModel)]="selLedgerArr[i]" [source]="allLedgerList" [disabled]="voucherVerificationRequired"
                               placeholder="Ledger Name" formControlName="LedgerId" display-property-name="LedgerName"
                               (keydown.enter)="ChangeFocus('narration')"
                               [grid-sort]="'LedgerName'" (focusout)="AssignSelectedLedger(i)" min-chars="1"
                               [list-formatter]="LedgerListFormatter" max-num-list="15" onclick="this.select()" id="Ledger_{{i+1}}"
                               style="width:100%;font-size: 14px;" match-formatted="true" />

                        <div class="color-red font-sm" *ngIf="itm.IsDirty('LedgerId')"
                             [hidden]="itm.IsValidCheck('LedgerId','required')"> Please select Ledger.</div>
                    </form>
                    <a *ngIf="(selLedgerArr[i] && selLedgerArr[i].LedgerId == 0)"
                       class="fa fa-question"
                       (click)="CreateNewLedgerOnClick(i)" title="Click to Create New Ledger"></a>
                </div>
            </td>
            <!-- <td></td> -->
            <td *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger>
                <input danphe-auto-complete [(ngModel)]="selSubLedgerCode[i]" [source]="ledgerWiseSubLedgerMaster[i]"
                       (keydown.enter)="ChangeFocus('SubLedger_'+(i+1))"
                       placeholder="Sub-Code" display-property-name="SubLedgerCode" [disabled]="voucherVerificationRequired"
                       (focusout)="AssignSelectedSubLedgerCode(i)" min-chars="1"
                       [list-formatter]="'SubLedgerCode'" max-num-list="10" onclick="this.select()" id="SubLedger_Code_{{i+1}}"
                       style="width:100%;" match-formatted="true" />
            </td>
            <td *ngIf=subLedgerAndCostCenterSetting.EnableSubLedger>
                <div class="div-relative">
                    <form [formGroup]="itm.TransactionItemValidator">
                        <input danphe-auto-complete [(ngModel)]="selectedSubLedger[i]" [source]="ledgerWiseSubLedgerMaster[i]"
                               [disabled]="voucherVerificationRequired"
                               placeholder="Sub Ledger" formControlName="SubLedgerId" display-property-name="SubLedgerName"
                               (keydown.enter)="ChangeFocus('narration')"
                               [grid-sort]="'SubLedgerName'" (focusout)="AssignSubLedger(i)" min-chars="1"
                               [list-formatter]="SubLedgerListFormatter" max-num-list="15" onclick="this.select()" id="SubLedger_{{i+1}}"
                               style="width:100%;font-size: 14px;" match-formatted="true" />
                        <div class="color-red font-sm" *ngIf="itm.IsDirty('SubLedgerId')"
                             [hidden]="itm.IsValidCheck('SubLedgerId','required')"> Please select sub-Ledger.</div>
                    </form>
                </div>
            </td>
            <td>
                <form [formGroup]="itm.TransactionItemValidator" *ngIf=itm.DrCr>
                    <input type="number" formControlName="Amount" id="Amount_{{i+1}}"
                           (keydown.enter)="ChangeFocus(subLedgerAndCostCenterSetting.EnableCostCenter?'CostCenter_'+(i+1):'Description_'+(i+1) )"
                           min="0" [(ngModel)]="itm.Amount"
                           (focusout)="CalculateLedger()" name="amount" onfocus="this.select()" onwheel="this.blur();" />
                    <div class="color-red font-sm" *ngIf="itm.IsDirty('Amount')"
                         [hidden]="itm.IsValidCheck('Amount','invalidNumber')">Enter valid amount.</div>
                </form>
            </td>
            <td>
                <form [formGroup]="itm.TransactionItemValidator" *ngIf=!itm.DrCr>
                    <input type="number" formControlName="Amount" id="Amount_{{i+1}}"
                           (keydown.enter)="ChangeFocus(subLedgerAndCostCenterSetting.EnableCostCenter? 'CostCenter_'+(i+1):'Description_'+(i+1) )"
                           min="0" [(ngModel)]="itm.Amount"
                           (focusout)="CalculateLedger()" name="amount" onfocus="this.select()" onwheel="this.blur();" />
                    <div class="color-red font-sm" *ngIf="itm.IsDirty('Amount')"
                         [hidden]="itm.IsValidCheck('Amount','invalidNumber')">Enter valid amount.</div>
                </form>
            </td>
            <td *ngIf=subLedgerAndCostCenterSetting.EnableCostCenter>
                <form [formGroup]="itm.TransactionItemValidator">
                    <select [(ngModel)]="itm.CostCenterId" id="CostCenter_{{ i+1 }}" (keydown.enter)="ChangeFocus('Description_'+(i+1))"
                            formControlName="CostCenter">
                        <option *ngFor="let costCenter of costCenterList" value={{costCenter.CostCenterId}}> {{costCenter.CostCenterName}} </option>
                    </select>
                    <div class="color-red font-sm" *ngIf="itm.IsDirty('CostCenter')"
                         [hidden]="itm.IsValidCheck('CostCenter','required')">Invalid Cost Center.
                    </div>
                </form>
            </td>
            <td>
                <textarea [(ngModel)]="itm.Description" id="narration" style="width:100%; margin: 5px auto;"
                          id="Description_{{i+1}}" (keydown.enter)="CheckAndAddNewTxnLedger($event,i)">
          </textarea>
            </td>
            <td><a *ngIf="!voucherVerificationRequired" (click)="AddNewTxnLedger()"><i class="fa fa-plus btn btn-success"></i></a></td>
            <td><a *ngIf="!voucherVerificationRequired" (click)="DeleteTxnLedgerRow(i)" title="Alt+X,Alt+Delete,Click to remove this item"> <i
                       class="btn btn-danger fa fa-times"></i> </a></td>
        </tr>

    </tbody>
</table>
<div class="clearfix" style="margin-bottom:10px">
    <div class="sum_data pull-left">
        <h4>Narration: &nbsp;&nbsp; <label style="color: blue;" (click)="PushNarration()"><i class="fa fa-upload" aria-hidden="true"></i>
                Push Narration</label>
        </h4>
        <form [formGroup]="transaction.TransactionValidator">
            <textarea class="col-md-12" [(ngModel)]="transaction.Remarks" id="narration"
                      (keydown.enter)="ChangeFocus(voucherVerificationRequired ? 'btn_Verify_Voucher' : 'btn_Voucher_Save')"
                      formControlName="Remarks"></textarea>
            <div class="color-red font-sm" *ngIf="transaction.IsDirty('Remarks')" min="0"
                 [hidden]="transaction.IsValidCheck('Remarks','maxLength')"> Max length for Remarks is 100 characters </div>
        </form>
    </div>
    <div class="sum_table pull-right">
        <ul>
            <li *ngIf="selectedVoucherCode != voucherCodeEnum.PaymentVoucher && selectedVoucherCode != voucherCodeEnum.ReceiptVoucher"
                style="font-weight:bold;color:green;"><b>Total Debit:</b>{{totalDebit | Currency:'4'}}</li>
            <li *ngIf="selectedVoucherCode != voucherCodeEnum.PaymentVoucher && selectedVoucherCode != voucherCodeEnum.ReceiptVoucher"
                style="font-weight:bold;color:red;"><b>Total Credit:</b>{{totalCredit | Currency:'4'}}</li>
            <li *ngIf="selectedVoucherCode == voucherCodeEnum.PaymentVoucher || selectedVoucherCode == voucherCodeEnum.ReceiptVoucher"
                style="font-weight:bold;color:green;"><b>Total Amt.:</b>{{totalAmount | Currency:'4'}}</li>
            <li><b>In Words :</b>{{totalAmount | NumberInWords | CapitalFirstLetter}} Only</li>
        </ul>
    </div>
    <div class="sum_data pull-left" *ngIf="isEditVoucher">
        <h4>Reason:</h4>
        <textarea class="col-md-12" class="form-control" [(ngModel)]="transaction.Reason" id="voucherEdit_Reason"
                  placeholder="Enter reason (Minimum 20 characters)"></textarea>
    </div>
</div>
<div class="btn-wrapper">
    <button *ngIf="!voucherVerificationRequired && !isEditVoucher " [disabled]="HideSavebtn" id="btn_Voucher_Save" class="btn green btn-success"
            (click)="SaveVoucherToDb()"
            title="Alt+S, Enter"><u>S</u>ave</button>

    <button *ngIf="isEditVoucher" [disabled]="HideSavebtn" id="btn_Voucher_Save_Edit_Change" class="btn green btn-success"
            (click)="UpdateTransaction()"
            title="Alt+S, Enter">Save Edited Voucher</button>

    <button *ngIf="voucherVerificationRequired" [disabled]="HideSavebtn" id="btn_Verify_Voucher" class="btn green btn-success"
            (click)="VerifyVoucher()">Verify Voucher</button>

    <button class="btn btn-danger" (click)="Cancel()"> <u>C</u>ancel </button>
</div>
<!---------------------Print/View Pop Up form starts ------------------------>
<transaction-view [voucherNumber]="voucherNumber" [FiscalYearId]="fiscalYId" [showEditVoucherBtn]="false"
                  (callback-copy)="AssignSelectedTransaction()">
</transaction-view>

<ledger-add-reusable *ngIf="showAddNewLedgerPage" (callback-add)="CallBackAddNewLedger($event)"></ledger-add-reusable>