<link href="../../../../../../assets-dph/styles/pharmacy/phrm-sale.component.css" rel="stylesheet"/> 
<style>
    .no-margin{
        margin: 0 !important;
    }
    .indnt{
        text-indent: 15px;
    }
    input.form-control{
        height: 28px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<div><h5>Nursing Requisition</h5></div>

<span class="caption-subject font-blue-sharp bold uppercase">
    <button class="btn btn-primary btn-sm" style="margin:8px !important; border-radius: 20px !important; " (click)="StockDetails()">
        View Stock Details
    </button>

</span>

<div class="hide-main">
    <div class="well" *ngIf="showInfo">
        <div class="patient_info">
            <div class="row">
                <div class="col-sm-2">
                    <label>Patient Code:<span [innerHTML]="currentPatient.PatientCode"></span></label>
                </div>
                <div class="col-sm-2">
                    <label>Name:<span [innerHTML]="currentPatient.ShortName"></span></label>
                </div>
                <div class="col-sm-2">
                    <label>Address:<span [innerHTML]="currentPatient.Address"></span></label>
                </div>
                <div class="col-sm-2">
                    <label>Age:<span [innerHTML]="currentPatient.Age"></span></label>
                </div>
                <div class="col-sm-2">
                    <label>Gender:<span [innerHTML]="currentPatient.Gender">Baluwatar Kathmandu</span></label>
                </div>
                <div class="col-sm-2">
                    <label>Contact No:<span [innerHTML]="currentPatient.PhoneNumber">Baluwatar Kathmandu</span></label>
                </div>

            </div>
        </div>
    </div>
         
    <div class="row" style="margin-left: -2px;">
        <div class="form-body">
            <div id="phrmPatientation" class="collapse out">
                <div class="col-md-12">
                    <div class="row">
                        <form [formGroup]="currentPatient.PHRMPatientValidator">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-md-3 padding-set" style="padding-right: 5px;">
                                        <input class="form-control" maxlength="30" type="text" formControlName="FirstName" [(ngModel)]="currentPatient.FirstName"
                                               required value=""
                                               placeholder="First Name  *" />

                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('FirstName')" [hidden]="currentPatient.IsValidCheck('FirstName','required')"> First Name is required</span>
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('FirstName')" [hidden]="currentPatient.IsValidCheck('FirstName','maxlength')"> First Name must be less than 30 characters</span>
                                    </div>
                                    <div class="col-md-3 padding-set" style="padding-right: 5px;">
                                        <input class="form-control" maxlength="30" type="text" formControlName="MiddleName" [(ngModel)]="currentPatient.MiddleName"
                                               value=""
                                               placeholder="Middle Name" />
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('MiddleName')" [hidden]="currentPatient.IsValidCheck('MiddleName','maxlength')">Middle Name must be less than 30 characters</span>
                                    </div>
                                    <div class="col-md-3 padding-set" style="padding-right: 5px;">

                                        <input class="form-control" maxlength="30" type="text" formControlName="LastName" [(ngModel)]="currentPatient.LastName"
                                               required value=""
                                               placeholder="Last Name *" />
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('LastName')" [hidden]="currentPatient.IsValidCheck('LastName','required')"> Last Name is required</span>
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('LastName')" [hidden]="currentPatient.IsValidCheck('LastName','maxlength')"> Last Name must be less than 30 characters</span>
                                    </div>
                                    <div class="col-md-3 padding-set" style="padding-right: 5px;">

                                        <input class="form-control" maxlength="100" type="text" formControlName="Address" [(ngModel)]="currentPatient.Address"
                                               value=""
                                               placeholder="Address  " />
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('Address')" [hidden]="currentPatient.IsValidCheck('Address','required')">Address is required</span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12 col-xs-12" style="margin-top: 12px;margin-bottom: 5px;">
                                <div class="form-group">
                                    <div class="col-md-4 padding-set">

                                        <div class="col-md-3" style="padding-left:0px;padding-right: 0px;">
                                            <input class="form-control" type="number" min="0" max="150" name="Age" (focusout)="CalculateDob();"
                                                   [(ngModel)]="currentPatient.Age" placeholder="Age" style="padding-right:0px; height: 28px;" formControlName="Age" />
                                        </div>
                                        <div class="col-md-9" style="padding-right: 0px; padding-left: 4px;padding-top: 4px;">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="no-margin" style="color:red;">
                                                        <span>*</span>
                                                    </label>
                                                    <label class="mt-radio mt-radio-outline no-margin indnt">
                                                        <input name="AgeUnit" type="radio" value="Y" [(ngModel)]="currentPatient.AgeUnit" [ngModelOptions]="{standalone: true}" (focusout)="CalculateDob();">
                                                        <span></span>Yrs
                                                    </label>

                                                    <label class="mt-radio mt-radio-outline no-margin indnt">
                                                        <input name="AgeUnit" type="radio" value="M" [(ngModel)]="currentPatient.AgeUnit" [ngModelOptions]="{standalone: true}" (focusout)="CalculateDob();">
                                                        <span></span>Mnths
                                                    </label>

                                                    <label class="mt-radio mt-radio-outline no-margin indnt">
                                                        <input name="AgeUnit" type="radio" value="D" [(ngModel)]="currentPatient.AgeUnit" [ngModelOptions]="{standalone: true}" (focusout)="CalculateDob();">
                                                        <span></span>Days
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('Age')" [hidden]="currentPatient.IsValidCheck('Age','required')">Age is required</span>
                                    </div>
                                    <div class="col-md-4 padding-set">

                                        <div class="input-group"  style="padding-top: 4px;">
                                            <div class="icheck-inline">
                                                <p style="float: left;margin: 0;">Gender</p>
                                                <label class="no-margin" style="color:red;">
                                                    <span></span>*
                                                </label>
                                                <label class="no-margin mt-checkbox mt-checkbox-outline indnt">
                                                    <input type="radio" value="Male" [(ngModel)]="currentPatient.Gender" formControlName="Gender">
                                                    <span></span>Male
                                                </label>

                                                <label class="no-margin mt-checkbox mt-checkbox-outline indnt">
                                                    <input type="radio" value="Female" [(ngModel)]="currentPatient.Gender" formControlName="Gender">
                                                    <span></span>Female
                                                </label>
                                                <label class="no-margin mt-checkbox mt-checkbox-outline indnt">
                                                    <input type="radio" value="Others" [(ngModel)]="currentPatient.Gender" formControlName="Gender">
                                                    <span></span>Other
                                                </label>
                                                
                                            </div>
                                        </div>
                                        <span class="color-red font-sm" *ngIf="currentPatient.IsDirty('Gender')" [hidden]="currentPatient.IsValidCheck('Gender','required')">Gender is required</span>
                                    </div>
                                    <div class="col-md-3 padding-set">
                                        <input class="form-control" style="height: 28px;" maxlength="11" type="tel" [(ngModel)]="currentPatient.PhoneNumber" [ngModelOptions]="{standalone: true}" name="PhoneNumber" placeholder="contact number" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--@*Start:- duplicate patient list popup*@-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showExstingPatientList">
    <div class="portlet-body form">
        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <div class="col-md-12">
                        <b>
                            <u style="color:#bd8111">Alert ! we have found existing Patient(s) with similar information.</u>
                            <a style="float:right;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                        </b>
                        <hr />
                    </div>
                    <br />

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr style="background-color:lightgray">
                                        <th>Name</th>
                                        <th>Hospital No.</th>
                                        <th>Gender</th>
                                        <th>Phone Number</th>
                                        <th>Birth Date</th>
                                        <th>Address</th>
                                        <th>Patient Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let patient of matchingPatientList;let i = index">
                                        <td>{{patient.FirstName}}&nbsp;{{patient.MiddleName}}&nbsp;{{patient.LastName}}</td>
                                        <td> {{patient.PatientCode}}</td>
                                        <td> {{patient.Gender}}</td>
                                        <td> {{patient.PhoneNumber}}</td>
                                        <td> {{patient.DateOfBirth}}</td>
                                        <td> {{patient.Address}}</td>
                                        <td>{{ patient.IsOutdoorPat==true?'Indoor':'Outdoor'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 18px;">
                        <b>IF YOU'RE SURE THAT THIS IS NEW PATIENT, CLICK &nbsp; &nbsp;&nbsp; &nbsp;<span class="glyphicon glyphicon-hand-right" style="font-size:25px;vertical-align: middle;"></span> </b> &nbsp; &nbsp;
                        <button type="button" class="btn btn-primary btn-sm" (click)="PostPatientRegistration()" [disabled]="loading1">
                            <i class="glyphicon glyphicon-plus"> </i>&nbsp;&nbsp;Add as New Patient
                        </button>
                    </div>
                </div>
                <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!--@*End:- duplicate patient list popup*@-->
<!--@*End:- Outdoor Patient Registraiton*@-->
<!--@*Start:- Sale*@-->

<div class="row">
    <div class="col-md-12">
        <div>
            <table class="table table-striped table-hover" style="background-color:initial;margin-top:3px">
                <thead>
                    <tr class="table-tr-style">
                        <th></th>
                        <th></th>
                        <th><b>Drug/Medicine Name</b></th>
                        <th><b>Expiry</b></th>
                        <th><b>Batch</b></th>
                        <th></th>
                        <th><b>ReqQty</b></th>
                        <th><b>AvlQty</b></th>
                        <th><b>Qty</b></th>
                        <th><b>M.R.P.</b></th>
                        <th><b>Amount</b></th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of currSaleItems; let i = index">
                        <td>
                            <a (click)="DeleteRow(i)"><i class="btn btn-danger fa" style="float:left;padding: 2px 8px !important;">X</i></a>
                        </td>
                        <td>
                            <span class="tooltip">
                                <i class="fa fa-medkit"></i>
                                <span class="tooltiptext">{{row.GenericName}}--{{row.Dosage}}--{{row.Frequency}}--{{row.Duration}}</span>
                            </span>
                        </td>
                        <td style="width:200px" class="autocomplete-item">
                            <input *ngIf="row.enableItmSearch" danphe-auto-complete class="form-control"
                                   [(ngModel)]="row.selectedItem"
                                   [source]="ItemListForSale"
                                   [list-formatter]="myItemListFormatter"
                                   placeholder="--Select Medicine--"
                                   display-property-name="ItemName"
                                   value-property-name=null
                                   onClick="this.select();"
                                   (valueChanged)="onChangeItem($event,i)"
                                   max-num-list="20"
                                   [ngModelOptions]="{standalone: true}"
                                   min-chars="0"
                                   style="width:250px;"
                                   id="{{'item-box'+i}}"
                                   [grid-sort]="'ItemName'"
                                    match-formatted="true"
                                   (keyup.enter)="switchTextBox(i)" />

                            <input *ngIf="!row.enableItmSearch" disabled class="form-control" style="width:250px;" type="text" [(ngModel)]="row.ItemName" />

                        </td>

                        <td>
                            <label style="width:100px ; "
                                   min="0" type="date" value="">{{row.ExpiryDate | date}}</label>

                        </td>
                        <td>
                            <input [(ngModel)]="row.BatchNo"
                                   [ngModelOptions]="{standalone: true}" style="width:80px ; "
                                   min="0" class="form-control" type="text" value="" disabled>
                        </td>                       
                        <td>
                            <a (click)="AddRowRequestOnClick(i)"><i class="glyphicon glyphicon-plus btn btn-success" style="padding: 2px 8px !important;"></i></a>
                        </td>
                        <td>
                            <input [(ngModel)]="row.RequestedQuantity"
                                   [ngModelOptions]="{standalone: true}" style="width:80px ; "
                                   min="0" class="form-control" type="number" value="" disabled>
                        </td> 
                        <td>
                            <input [(ngModel)]="row.TotalQty"
                                   [ngModelOptions]="{standalone: true}" style="width:80px ; "
                                   min="0" class="form-control" type="number" value="" disabled>
                        </td>
                        <td>
                            <form [formGroup]="row.InvoiceItemsValidator">
                                <input [(ngModel)]="row.Quantity" (ngModelChange)="ValueChanged(i)"
                                       formControlName="Quantity" style="width:80px ; "
                                       min="0" class="form-control" type="number" onwheel="this.blur()" value="" id="{{ 'qty-box'+i }}" (keyup.enter)="AddRowRequestOnClick(i)" onClick="this.select();">
                                <span class="error-msg" *ngIf="row.TotalQty<row.Quantity">Sales Qty Should be less than Total Qty</span>
                                <span class="color-red font-sm" *ngIf="row.IsDirty('Quantity')" [hidden]="row.IsValidCheck('Quantity','invalidNumber')">Not Valid quantity</span>

                            </form>
                        </td>

                        <td>
                            <input [(ngModel)]="row.MRP" (ngModelChange)="ValueChanged(i)"
                                   [ngModelOptions]="{standalone: true}" style="width:80px ; "
                                   min="0" class="form-control" type="number" value="" disabled>
                        </td>                       
                        <td>
                            <input [(ngModel)]="row.SubTotal"
                                   [ngModelOptions]="{standalone: true}" style="width:80px ; "
                                   min="0" class="form-control" type="number" value="" disabled>
                        </td>                       

                    </tr>
                </tbody>
            </table>
            <table class=" col-sm-6 ">
                <tr>
                    <td class="col-sm-offset-6 col-sm-3"></td>
                    <td> Discount Amount: </td>
                    <td>
                        <input onwheel="this.blur()" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currSale.DiscountAmount" (ngModelChange)="AllCalculation(0,currSale.DiscountAmount)" id="discountamount" name="discountamount" type="number">
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-offset-6 col-sm-3"></td>
                    <td> Discount Percentage: </td>
                    <td>
                        <input onwheel="this.blur()" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currSale.DiscountPer" (ngModelChange)="AllCalculation(currSale.DiscountPer,0)" id="discountpercent" name="discountpercent" type="number">
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-offset-6 col-sm-3"></td>
                    <td> Tender </td>
                    <td>
                        <input onwheel="this.blur()" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currSale.Tender" (ngModelChange)="ChangeTenderAmount()" id="tender" name="tender" type="number">
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-offset-6 col-sm-3"></td>
                    <td> Change </td>
                    <td>
                        <input onwheel="this.blur()" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currSale.Change" (ngModelChange)="AllCalculation()" id="change" name="change" type="number">
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"> </td>
                    <td>Remarks: </td>
                    <td><input [(ngModel)]="currSale.Remark" [ngModelOptions]="{standalone: true}" class="form-control" name="Remarks" type="text"></td>
                </tr>
            </table>
            <table class=" col-sm-6 ">
                <tr>
                    <td class="col-sm-offset-6 col-sm-3"></td>
                    <td>Sub Total: </td>
                    <td>
                        <input onwheel="this.blur()" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="currSale.SubTotal" disabled id="subtotal" name="subtotal" type="number">
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"></td>
                    <td>Total Amount: </td>
                    <td>
                        <input onwheel="this.blur()" [(ngModel)]="currSale.TotalAmount" [ngModelOptions]="{standalone: true}" disabled class="form-control" name="TotalAmount" type="number">
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"></td>
                    <td> Adjustment: </td>
                    <td>
                        <input [(ngModel)]="currSale.Adjustment" [ngModelOptions]="{standalone: true}" class="form-control" name="Adjustment" type="number" disabled>
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"></td>
                    <td> Paid Amount: <i class="glyphicon glyphicon-hand-right blink" style="color:red;font-size:10px;"></i> </td>
                    <td>
                        <input [(ngModel)]="currSale.PaidAmount" [ngModelOptions]="{standalone: true}" class="form-control blink" name="PaidAmount" type="number" disabled>
                    </td>
                </tr>
                <tr class="dot">
                    <td colspan="3" class="text-capitalize">In Words : <b>{{currSale.PaidAmount | NumberInWords}} </b>Only. <br /><br /></td>
                </tr>
                <tr>
                    <td class="col-sm-offset-8 col-sm-2"> </td>
                    <td></td>
                    <td>
                        <input type="button" class="btn btn-success" value="Save" (click)="SaveSaleWithCreditPatient()" />
                        <span></span>
                        <input type="button" class="btn btn-danger" [disabled]="loading" (click)="Cancel()" value="Cancel">
                        <span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--@*End:- Sale*@-->
<!--@*Start:- PopUp Modal For Doctor and NMC in case of Narcotic sales (Narcotics Record)*@-->
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showSupplierAddPage">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <form class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                        <br />
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Patient Name<b class="color-red">  *</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="50"
                                               [(ngModel)]="narcoticsRecord.BuyerName"
                                               value="" [ngModelOptions]="{standalone: true}"
                                               placeholder="Enter Patient Name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Refill</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="narcoticsRecord.Refill"
                                               value="" [ngModelOptions]="{standalone: true}"
                                               placeholder="Enter Refill" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Doctor Name<b class="color-red">  *</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="30"
                                               [(ngModel)]="narcoticsRecord.DoctorName"
                                               [ngModelOptions]="{standalone: true}"
                                               value=""
                                               placeholder="Enter Doctor's Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">NMC Number<b class="color-red">  *</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="100"
                                               [(ngModel)]="narcoticsRecord.NMCNumber"
                                               [ngModelOptions]="{standalone: true}"
                                               value=""
                                               placeholder="Enter NMC Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 18px;">
                            <div class="form-actions">
                                <input type="button" class="btn btn-primary" (click)="SaveNarcotics()" value="Add" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                </div>
            </div>
        </form>
        <!--</form>-->
        <!--Model Box Body End-->
    </div>
</div>
<!--@*End:- PopUp Modal For Doctor and NMC in case of Narcotic sales (Narcotics Record)*@-->
<!--@*Start:- PopUp Modal For Stock Details*@-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showStockDetails">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <div class="col-md-12">
                        <div class="caption" style="color:blue; margin-top:10px;">
                        </div>
                        <a style="float:right;  margin-top:-10px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                        <hr />
                    </div>
                    <div id="print-good-reciept" class="row printStyle print-border" style="margin-top: 50px;">
                        <div style="text-align:left; margin-left:15px;">
                            <div class="col-md-12">
                                <stock-details-list>
                                </stock-details-list>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
            </div>
        </div>
        <!--</form>-->
        <!--Model Box Body End-->
    </div>
</div>
