
<style>
    .printStyle {
        border: dotted 1px;
        margin: 10px 50px;
    }

    .print-border-top {
        border-top: dotted 1px;
    }

    .print-border-bottom {
        border-bottom: dotted 1px;
    }

    .print-border {
        border: dotted 1px;
    }

    .center-style {
        text-align: center;
    }

    .border-up-down {
        border-top: dotted 1px;
        border-bottom: dotted 1px;
    }
</style>


<div class="row">
    <div class="row" style="width: 100%; margin-bottom: 25px;">
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-5">From Date<b class="color-red">  *</b><b style="float:right;">:</b></label>
                <div class="col-md-7">
                    <danphe-date-picker [(ngModel)]="fromDate" [ngModelOptions]="{standalone: true}" ngDefaultControl [CalendarTypes]="'en,np'">
                    </danphe-date-picker>
                </div>
            </div>

        </div>
        <div class="col-md-5 col-xs-12">
            <div class="form-group">
                <label class="control-label col-md-4">To Date<b class="color-red">  *</b><b style="float:right;">:</b></label>
                <div class="col-md-7">
                    <danphe-date-picker [(ngModel)]="toDate" [ngModelOptions]="{standalone: true}" ngDefaultControl [CalendarTypes]="'en,np'">
                    </danphe-date-picker>
                </div>
            </div>

        </div>

        <div class="col-md-2 col-xs-12">
            <div class="form-group">
                <button class="btn blue" type="button" (click)="LoadSaleInvoiceList()">
                    <i class="fa fa-search"></i>
                    Show Patient
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="saleGridColumns" [grid-data]="pharmListfiltered"
                     (grid-actions)="SaleInvoiceGridActions($event)"
                     [grid-exportOptions]="gridExportOptions"
                     [grid-showExport]="true"
                     >
        </danphe-grid>
    </div>
</div>

<!--START:  Popup for show selected Invoice items details show -->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showSaleItemsPopup">
    <div class="portlet-body form" style="background-color:white">

        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <div class="col-md-12">
                        <div class="caption" style="color:blue; margin-top:10px;">
                            Duplicate Bill Print
                        </div>
                        <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                        <hr />
                    </div>
                    <div class="row printStyle print-border" style="margin-top: 50px;">
                        <div style="text-align:center;">
                            <pharmacy-receipt *ngIf="pharmacyReceipt !=null" [receipt]="pharmacyReceipt">
                            </pharmacy-receipt>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
            </div>
        </div>

    </div>
</div>
