

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover" style="background-color:initial;margin-top:20px">
                <thead>
                    <tr style="background-color:whitesmoke">
                        <th>Request Date</th>
                        <th>Item Name</th>
                        <th>Batch NO</th>
                        <th>Quantity</th>
                        <th> Total Amount</th>
                        <th> <input type="button" class="btn green-meadow" (click)="PayCreditBill('All')" [disabled]="loading" value="Pay All" /></th>                                               
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of creditBillInvItems;let i = index">
                        <td><input [(ngModel)]="row.CreatedOn" disabled name="Test" type="text"></td>
                        <td><input [(ngModel)]="row.ItemName" disabled name="Test" type="text"></td>
                        <td><input [(ngModel)]="row.BatchNo" disabled /></td>
                        <td><input [(ngModel)]="row.Quantity" disabled name="receipt" type="text"></td>
                        <td><input [(ngModel)]="row.TotalAmount" disabled name="Test" style="width:100px" type="number"></td>
                        <td>
                            <input type="button" style="width:40px; float:left;" class="btn green-meadow" (click)="PayCreditBill(i)" [disabled]="loading" value="Pay" />                                                    
                            <input typeof="button" style="width:40px; float:left;" class="btn red" (click)="RemoveItem(i)" [disabled]="loaading" value="X" />
                        </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
