<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showPopUp">
  <div class="portlet-body form">
    <div class="modelbox-div clearfix" style="padding:5rem; margin: 5rem;">
      <div class="caption lb-caption">
        <h3>
          Disinfection Details of {{selectedItemName}}
        </h3>
      </div>
      <form [formGroup]="storeForm" class="hm-form" (ngSubmit)="submit(storeForm.value)" *ngIf="storeForm">
        <div class="form-body">
          <div class="form-group">
            <label class="control-label col-md-4">Disinfected On<sup class="color-red">*</sup><b>:</b></label>
            <div class="col-md-8">
              <danphe-date-picker formControlName="DisinfectedDate" [(ngModel)]="disinfectionDate" [CalendarTypes]="'en,np'" showTime="true"></danphe-date-picker>
              <div *ngIf="storeForm.get('DisinfectedDate').invalid && (storeForm.get('DisinfectedDate').dirty || storeForm.get('DisinfectedDate').touched)">
                <div *ngIf="storeForm.get('DisinfectedDate').errors.required">
                  <span class="color-red font-sm">Disinfection Date is required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Disinfection Method<sup class="color-red">*</sup><b>:</b></label>
            <div class="col-md-8">
              <select name="DisinfectionMethod" id="DisinfectionMethod" formControlName="DisinfectionMethod">
                <option value="Chemical Disinfection">Chemical Disinfection</option>
                <option value="Autoclave">Autoclave</option>
                <option value="Microwave">Microwave</option>
                <option value="Other">Other</option>
              </select>
              <div *ngIf="storeForm.get('DisinfectionMethod').invalid && (storeForm.get('DisinfectionMethod').dirty || storeForm.get('DisinfectionMethod').touched)">
                <div *ngIf="storeForm.get('DisinfectionMethod').errors.required">
                  <span class="color-red font-sm">Disinfection Method is required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Disinfection Remarks<b>:</b></label>
            <div class="col-md-8">
              <textarea name="DisinfectionRemarks" id="DisinfectionRemarks" cols="30" rows="3" formControlName="DisinfectionRemarks"></textarea>
            </div>
          </div>
          <div style="float:right">
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <button type="submit" class="btn btn-success green">Proceed </button>
            <button type="reset" class="btn btn-danger" (click)="Close()"> Cancel </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>