<div class="well ipd-title" style="margin-bottom: 0px;">
  <div class="row clearfix">
    <div class="col-md-4 col-sm-6">
      <div class="left">
        <a class="label label-primary btn btn-primary" data-toggle="collapse" href="#Collapse1" role="button"
          aria-expanded="false" aria-controls="Collapse1" style="margin-right: 15px;"> <i class="fa fa-star"></i> My
          Favorites</a>
      </div>

      <div class="middle">
        <a class="label label-primary btn btn-primary" data-toggle="collapse" href="#Collapse2" role="button"
          aria-expanded="false" aria-controls="Collapse2"><i class="fa fa-file-text" style="margin-right: 5px;"></i>
          Follow Up List</a>
      </div>
    </div>
    <div class="col-md-8 col-sm-6">
      <div class="right">
        <label for="#departmentlist" class=" label label-default"><i class="fa fa-filter"></i> Department Filter
          :</label>
        <select style="height: 25px; margin-left: 1px;" [(ngModel)]="SelectedDepartmentId"
          (change)="FilterList(SelectedDepartmentId)" id="departmentlist">
          <option value="0">ALL</option>
          <option *ngFor="let dept of DepartmentList" value="{{dept.DepartmentId}}">{{dept.DepartmentName}}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="collapse" id="Collapse1">
  <div class="tabbable-custom">
    <div class="tab-content">

      <danphe-grid [grid-colDefaults]="OPFavoritePatientGridColumns" [grid-data]="FavoritePatients"
        (grid-actions)="DocAppointmentGridActions($event)"> </danphe-grid>

    </div>
  </div>
</div>

<div class="collapse" id="Collapse2">
  <div class="tabbable-custom">
    <div class="tab-content">
      <danphe-grid [grid-colDefaults]="OPFollowUpPatientGridColumns" [grid-data]="FollowUpPatients"
        (grid-actions)="DocAppointmentGridActions($event)"> </danphe-grid>

    </div>
  </div>
</div>

<div class="row">
  <div class="tabbable-custom">
    <div class="tab-content hm-form">
      <div class="tab-pane active" id="visitType">

        <div class="panel panel-default no-border panel_title">
          <!-- <h4><b> DEPARTMENT : {{DepartMentName}}</b> </h4> -->

        </div>

        <danphe-cust-date (onDateChange)="onDateChange($event)" [rangeType]="dateRange"></danphe-cust-date>
        <danphe-grid [grid-colDefaults]="DoctorOPNewPatientGridColumns" [grid-data]="FilteredOPDPatientGridData"
          (grid-actions)="DocAppointmentGridActions($event)"> </danphe-grid>

      </div>

      <!-- <div class="tab-pane" id="mySummary">
            <doctor-summary></doctor-summary>
        </div>
        <div class="tab-pane" id="allvisitlist" style="display:none;">
            <danphe-cust-date (onDateChange)="onDateChangeDept($event)" [rangeType]="dateRange"></danphe-cust-date>
            <br />
            <danphe-grid *ngIf="DeptVisitList.length" [grid-colDefaults]="docDeptAppointmentGridColumns" [grid-data]="DeptVisitList" (grid-actions)="DocDeptAppointmentGridActions($event)">
            </danphe-grid>
            <h5 *ngIf="!DeptVisitList.length">no records found</h5>
        </div> -->
    </div>
  </div>
</div>


<!--POPUP for change doctor-->

<div class="popup-static portlet box portlet-fullscreen" *ngIf="showAssignToOther">
  <div class="portlet-body form" style="background-color:white">
    <form class="form-horizontal">
      <div class="form-body">
        <div class="col-md-12">
          <div class="col-md-3 hidden-xs hidden-sm" style="margin-right:24px;"> </div>
          <div class="col-md-6 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
            <div class="col-md-12">
              <div class="caption" style="color:blue;">
                <h3>Re-assign this patient</h3>
              </div>
              <a style="float:right;  margin-top:-32px;" class="btn btn-danger" (click)="ClosePopUp()"
                title="Cancel">X</a>
            </div>
            <div class="col-md-12">
              <label class="control-label col-md-3"> <b>Patient Name</b><b style="float:right;">:</b> </label>
              <label class="control-label col-md-3">{{currSelectedPatient.PatientName}}</label>
              <label class="control-label col-md-3"><b>Age/Sex</b><b style="float:right;">:</b></label>
              <label class="control-label col-md-3">{{currSelectedPatient.AgeSex}}</label>
              <hr>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-5"> <b>Current Doctor</b><b style="float:right;">:</b> </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="currSelectedPatient.ProviderName"
                    [ngModelOptions]="{standalone: true}" disabled />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5"> <b>New Assignee</b><b class="color-red">*</b><b
                    style="float:right;">:</b> </label>
                <div class="col-md-7">
                  <select class="form-control" [(ngModel)]="newAssignee" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let doc of deptProviderList" value="{{doc.EmployeeId}}"> {{doc.ProviderName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5"> <b>Remark</b><b class="color-red">*</b><b
                    style="float:right;">:</b> </label>
                <div class="col-md-7">
                  <input class="form-control" maxlength="100" type="text" [(ngModel)]="currSelectedPatient.Remark"
                    [ngModelOptions]="{standalone: true}" placeholder="remark" />
                </div>
              </div>
              <div class="form-actions">
                <input type="button" class="btn btn-primary" (click)="AssignToOther()" value="Submit" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>