<style>
  .lbl-police-case {
    color: red;
    font-weight: bold;
    vertical-align: bottom;
    margin-left: 15px;
  }
  .lbl-INSPatient{
    color: rgb(24, 22, 22);
    font-weight: bold;
    vertical-align: bottom;
    margin-left: 15px;
  }
</style>

<div class="wrapper">
  <div class="row" style="margin-top: 10px;">
    <!-- <div class="col-lg-6 col-md-6 col-md-offset-6 clearfix">
      <div class="row pull-right">
         <label class="control-label col-md-9">Show Police Case <b>&nbsp; &nbsp;:</b> </label>
          <div class="col-md-2">
            <div class="input-group">
              <div class="icheck-inline">
                <label class="mt-checkbox mt-checkbox-outline">
                  <input id="isPoliceCase" name="isPoliceCase" type="checkbox" value="" (change)="checkValue(showPoliceCase)" [(ngModel)]="showPoliceCase" [ngModelOptions]="{standalone: true}" />
                  <span></span>
                </label>
              </div>
            </div>
          </div><div class="form-group">
        </div>
      </div>
    </div> -->
    <div class="col-lg-12 col-sm-12">
      <div style="float:right">
         <label class="lbl-INSPatient" for="isINSPatient">Insurance Patient<b>:</b> </label>
         <input id="isINSPatient" name="isINSPatient" style="zoom:1.5; height:auto; margin-left:10px;" type="checkbox"
         (change)="FilterGridItems(showIsInsurancePatient)" [(ngModel)]="showIsInsurancePatient" [ngModelOptions]="{standalone: true}" />
       </div>
      <!-- <div style="float:right">
        <label class="lbl-police-case" for="isPoliceCase">Show Police Case<b>:</b> </label>
        <input id="isPoliceCase" name="isPoliceCase" style="zoom:1.5; height:auto; margin-left:10px;" type="checkbox"
        (change)="FilterGridItems(showPoliceCase)" [(ngModel)]="showPoliceCase" [ngModelOptions]="{standalone: true}" />
      </div> -->
      
    </div>
  </div>
  <div *ngIf="showDischargedList">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="dischargedListGridColumns" [grid-data]="dischargedList" (grid-actions)="DischargedListGridActions($event)" [rangeType]="dateRange"
                 (onDateChange)="onDateChange($event)"
                 [show-CustomDate]="true" [NepaliDateInGridParams]="NepaliDateInGridSettings"> </danphe-grid>
      </div>
    </div>
  </div>
  <div *ngIf="showDischargeSummary">
    <button class="btn btn-primary btn-sm" (click)="HideDischargeSummary()"> <i class="fa fa-backward"></i>&nbsp;&nbsp;&nbsp;Back </button>
    <discharge-summary-add [selectedDischarge]="selectedDischarge"
                           [fromClinical]="false"
                           [showDischargeSummary]="showDischargeSummary"
                           (sendData)="DischargeSummaryCallback($event)"
                           (CallBackFromAdd)='CallBackFromAddEdit($event)'></discharge-summary-add>
  </div>
  <div *ngIf="showSummaryView">
    <button class="btn btn-primary btn-sm" (click)="HideDischargeSummary()"> <i class="fa fa-backward"></i>&nbsp;&nbsp;&nbsp;Back </button>
    <discharge-summary-view [selectedADT]="selectedDischarge"
    (EditRecordEvent)='CallbackFromViewPage($event)' [showSummaryView]="showSummaryView"></discharge-summary-view>
  </div>
  <!--<div class="popup-static portlet box portlet-fullscreen" *ngIf="IsCancelDischargePage">
    <div class="portlet-body form" style="background-color:white">
      <div class="form-body">
        <div class="col-md-12 form-horizontal">
          <div class="col-md-3 hidden-xs hidden-sm" style="margin-right: 24px;"> </div>
          <div class="col-md-6 col-sm-10 col-xs-10 modelbox-div" style="margin-right: 24px;">
            <div class="col-md-12">
              <div class="caption" style="color:blue;">
                <h3> <span>Are you Sure Want to Cancel Discharge???</span> </h3>
              </div>
              <a style="float:right; margin-top:-32px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
              <hr />
              <div>
                <label><b>Discharged Date :</b> </label>
                <span> {{selectedDischarge.DischargedDate}}</span><br>

                <form [formGroup]="selectedDischargeCancel.DischargeCancelValidator">
                  <div class="form-group">
                    <label class="control-label col-md-4"><b>Cancel Discharge Note</b><b class="color-red">*</b><b style="float:right;">:</b></label>
                    <div class="col-md-7">
                      <input class="form-control" maxlength="300" type="text"
                             [(ngModel)]="selectedDischargeCancel.DischargeCancelNote"
                             id="DischargeCancelNote"
                             formControlName="DischargeCancelNote"
                             placeholder="Discharge Cancel Description" />

                      <span class="color-red font-sm" *ngIf="selectedDischargeCancel.IsDirty('DischargeCancelNote')" [hidden]="selectedDischargeCancel.IsValidCheck('DischargeCancelNote','maxlength')"> Length is not proper</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <br />
            <br />
            <div class="col-md-12">
              <div class="col-md-2" style="margin-right: 24px;padding-top: 10px;"> </div>
              <div class="col-md-6 form-horizontal" style="margin-right: 24px;">
                <div class="form-actions">
                  <input type="button" class="btn btn-primary" (click)="CancelDischarge();" style="margin-left:80px;" id="Approve" value="Cancel Discharge" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="popup-static portlet box portlet-fullscreen" *ngIf="IsCancelDischargePage">
    <div class="portlet-body form">
      <div class="modelbox-div" style="margin-left:30%;margin-right:25%;margin-top:2%">
        <div style="margin:20px;">
          <table class="table table-striped text-center">
            <tr>
              <td><b>{{selectedDischarge.Name}}</b></td>
              <td> Inpatient: <b>{{selectedDischarge.VisitCode}}</b></td>
            </tr>
            <tr>
              <td>Hospital No: {{selectedDischarge.PatientCode}}</td>
              <td> Age/Sex :{{selectedDischarge.DateOfBirth | DanpheDateTime:'age'}} / {{selectedDischarge.Gender}} </td>
            </tr>
          </table>
          <div class="text-center">
            <strong style="text-align:center;color:red">Are you Sure Want to Cancel Discharge???</strong><br />
          </div>
          <a style="float:right;margin-top: -150px;margin-right: -40px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
          <hr />
          <div> </div>
          <table class="table">
            <tr>
              <td>Admission Date:</td>
              <td> {{selectedDischarge.AdmittedDate | DanpheDateTime:'format':'YYYY-MM-DD'}} A.D ({{selectedDischarge.AdmittedDate | nepaliDate:'format':'YYYY-MM-DD'}} B.S)</td>
            </tr>
            <tr>
              <td> Discharge Date  :</td>
              <td>
                <span>

                  {{selectedDischarge.DischargedDate  | DanpheDateTime:'format':'YYYY-MM-DD'}} A.D ({{selectedDischarge.DischargedDate | nepaliDate:'format':'YYYY-MM-DD'}} B.S)
                </span>
              </td>
            </tr>
            <!--<tr>
              <td> Discharge Date <b>(BS)</b> :</td>
              <td><np-calendar ngDefaultControl [showTime]="true" [display]="single-line" [(ngModel)]="selectedDischarge.DischargedDate"> </np-calendar></td>
            </tr>-->
          </table>
          <form [formGroup]="selectedDischargeCancel.DischargeCancelValidator">
            <div class="form-group">
              <label class="control-label col-md-4"><b>Cancel Discharge Note</b><b class="color-red">*</b><b style="float:right;">:</b></label>
              <div class="col-md-7">
                <input class="form-control" maxlength="300" type="text"
                       [(ngModel)]="selectedDischargeCancel.DischargeCancelNote"
                       id="DischargeCancelNote"
                       formControlName="DischargeCancelNote"
                       placeholder="Discharge Cancel Description" />
                <!-- <span class="color-red font-sm" [hidden]="selectedDischargeCancel.IsValidCheck('DischargeCancelNote','required') || !(selectedDischargeCancel.IsDirty('DischargeCancelNote'))">Cancel Reason is required</span> -->
                <span class="color-red font-sm" *ngIf="selectedDischargeCancel.IsDirty('DischargeCancelNote')" [hidden]="selectedDischargeCancel.IsValidCheck('DischargeCancelNote','maxlength')"> Length is not proper</span>
              </div>
            </div>
          </form>
          <hr />
          <div class="text-center">
            <input type="button" class="btn btn-primary" (click)="CancelDischarge();" style="margin-top: 35px;" id="Approve" value="Cancel Discharge" [disabled]="loading" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
