@media all and (min-width:992px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-6 {
	float: left;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.border-up-down {
    border-top: dotted 1px;
    border-bottom: dotted 1px;
}
.text-center {
    text-align: center;
}
.hr , p{
    margin: 8px 0;
}
hr {
    border-style: dotted;
    border-bottom:1px;
}

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse:collapse;
    border-spacing:0px;
    text-align:center;
}
.table-bordered, .table-bordered > tbody, .table-bordered > tbody > tr, .table-bordered > tbody > tr > td {
    padding: 8px;
    vertical-align: top;
    border: 1px solid #e7ecf1;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fbfcfd;
}
tr{
    height:30px;
}
.img-responsive, .img-thumbnail, .table, label {
    max-width: 100%;
}
b, optgroup, strong {
    font-weight: 500;
}

body {
    color: #333;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
    line-height: 1.4285;
    width:97%;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
    clear:both;
}

.print-border-bottom {
    border-bottom: dotted 1px;
}
*{
    font-size:12px;
}



