
<div class="popup-static portlet box portlet-fullscreen custom_modal">
    <div class="portlet-body form">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="modelbox-div clearfix">
					<div class="caption custom-caption">
						<h3>
							<span>Reset Password </span>
							<span>For {{CurrentUser.UserName}}</span>
						</h3>                             
						<a class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
					</div>
					<form [formGroup]="CurrentUser.UserProfileValidator" class="form-horizontal hm-form">
						<div class="form-body">							
							<div class="form-group">
								<label class="control-label col-md-5">New Password<sup>*</sup><b>:</b></label>
								<div class="col-md-7">
									<input id="newpass" (keyup.enter)="GoToNextInput('cfmpass')" value="" class="form-control" maxlength="21" [(ngModel)]="CurrentUser.Password" formControlName="Password"
										   type="password" placeholder="Enter New Password" />
									<span class="color-red font-sm" *ngIf="CurrentUser.IsDirty('Password')" [hidden]="CurrentUser.IsValidCheck('Password','required')"> New Password is required</span>
									<span class="color-red font-sm" *ngIf="CurrentUser.IsDirty('Password')" [hidden]="CurrentUser.IsValidCheck('Password','minlength')"> Minimum 6 character needed</span>
									<span class="color-red font-sm" *ngIf="CurrentUser.IsDirty('Password')" [hidden]="CurrentUser.IsValidCheck('Password','maxlength')"> Maximum 20 character Only </span>

								</div>
						 	</div>
							<div class="form-group">
								<label class="control-label col-md-5">Confirm Password<sup>*</sup><b>:</b></label>
								<div class="col-md-7">
									<input id="cfmpass" (keyup.enter)="GoToNextInput('ResetPasswordbtn')" value="" class="form-control" maxlength="21"  [(ngModel)]="CurrentUser.ConfirmPassword" formControlName="ConfirmPassword"
										   type="password" placeholder="Enter Confirm Password" />
									<span class="color-red font-sm" *ngIf="CurrentUser.IsDirty('ConfirmPassword')" [hidden]="CurrentUser.IsValidCheck('ConfirmPassword','required')"> Confirm Password is required</span>
									<span class="color-red font-sm" *ngIf="CurrentUser.IsDirty('ConfirmPassword')" [hidden]="CurrentUser.IsValidCheck('ConfirmPassword','minlength')"> Minimum 6 character needed</span>
									<span class="color-red font-sm" *ngIf="CurrentUser.IsDirty('ConfirmPassword')" [hidden]="CurrentUser.IsValidCheck('ConfirmPassword','maxlength')"> Maximum 20 character Only </span>

									<span class="color-red font-sm" *ngIf="CurrentUser.UserProfileValidator.controls.ConfirmPassword.errors?.MatchNewAndConfirmPassword">Password not match</span>

								</div>
							 </div>											
						</div>
						<div class="panel-footer">
							<input id="ResetPasswordbtn" type="button" class="btn green btn-success margin-7-hr" (click)="ResetPassword()" value="Save" />
							<input type="button" class="btn btn-danger" value="Cancel" (click)="ClearData()" />
						</div>
					</form>
				</div>
			</div>
		</div>
        
    </div>

</div>






    
            



            <!--<form [formGroup]="CurrentUser.UserProfileValidator" class="form-horizontal">
                       <div class="form-body">
                           <div class="col-md-12 col-xs-12" style="margin-right: 24px;">
                               <div class="form-group">
                                   <label class="control-label col-md-4">Select Employee<b class="color-red">*</b><b style="float:right;">:</b></label>
                                   <div class="col-md-8">
                                       <select class="form-control" [(ngModel)]="CurrentUser.EmployeeId"
                                               formControlName="EmployeeId"
                                               (ngModelChange)="GetEmail(CurrentUser.EmployeeId)">
                                           <option *ngFor="let emp of filteredEmpList"
                                                   value="{{emp.EmployeeId}}"
                                                   [disabled]=update>
                                               {{emp.Salutation}}.{{emp.FirstName}} {{emp.MiddleName}} {{emp.LastName}}
                                           </option>
                                       </select>
                                       <span class="color-red font-sm"  [hidden]="CurrentUser.IsValidCheck('EmployeeId','required') || !(CurrentUser.IsDirty('EmployeeId'))">Select Employee</span>
            </div>
                               </div>
                               <div class="form-group">
                                   <label class="control-label col-md-4">User Name<b class="color-red">*</b><b style="float:right;">:</b></label>
                                   <div class="col-md-8">

                                       <input required value="" class="form-control" maxlength="30"
                                              [(ngModel)]="CurrentUser.UserName"
                                              formControlName="UserName"
                                              type="text" id="UserName" placeholder="User Name" />
                                       <span class="color-red font-sm" [hidden]="CurrentUser.IsValidCheck('UserName','required') || !(CurrentUser.IsDirty('UserName'))">Enter User Name.</span>

                                   </div>
                               </div>

                               <div class="form-group">
                                   <label class="control-label col-md-4">Email Id<b class="color-red">*</b><b style="float:right;">:</b></label>
                                   <div class="col-md-8">
                                       <input name="" required value="" class="form-control" maxlength="30"
                                              [(ngModel)]="CurrentUser.Email" formControlName="Email"
                                              type="email" placeholder="Email Id" /><br />
                                       <span class="color-red font-sm" [hidden]="CurrentUser.IsValidCheck('Email','required') || !(CurrentUser.IsDirty('Email'))">Enter Email Id</span>
                                       <span class="color-red font-sm" [hidden]="CurrentUser.IsValidCheck('Email','pattern') || !(CurrentUser.IsDirty('Email'))">Email Id is Not Proper </span>

                                   </div>
                               </div>

                               <div class="form-group">
                                   <label class="control-label col-md-4">Password<b class="color-red">*</b><b style="float:right;">:</b></label>
                                   <div class="col-md-8">
                                       <input name="" required value="" class="form-control" maxlength="30"
                                              [(ngModel)]="CurrentUser.Password" formControlName="password"
                                              type="password" placeholder="password" /><br />
                                       <span class="color-red font-sm" [hidden]="CurrentUser.IsValidCheck('password','required') || !(CurrentUser.IsDirty('password'))">Enter Password</span>

                                   </div>
                               </div>

                               <div class="form-group">
                                   <label class="control-label col-md-4">Is Active <b style="float:right;">:</b> </label>
                                   <div class="col-md-8">
                                       <div class="input-group">
                                           <div class="icheck-inline">
                                               <label class="mt-checkbox mt-checkbox-outline">
                                                   <input id="isActive" name="isActive" type="checkbox" value=""
                                                          [(ngModel)]="CurrentUser.IsActive"
                                                          [ngModelOptions]="{standalone: true}">
                                                   <span></span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="form-actions">
                                   <input type="button" class="btn btn-primary" *ngIf="!update" (click)="Add()" value="Add" />
                                   <input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />
                               </div>

                           </div>
                       </div>
                   </form>-->
          
      

 


