<base href="/Doctors">

<style>
    /*.page-sidebar-closed .page-content-wrapper .page-content, .page-content-wrapper .page-content {
        margin-left: 0px !important;
    }

    .page-sidebar-wrapper, .page-header.navbar.navbar-fixed-top {
        display: none;
    }

    .page-container {
        background: none;
    }

    .page-header-fixed .page-container {
        display: none;
    }*/
</style>

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top" style="box-shadow: 0px 0px 2px #45484c;height: inherit;">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#">
                <img src="../../themes/theme-default/images/hospitals-logo/hospital-logo-landingpage.png" alt="logo" class="logo-default" style="width:155px;height:36px;margin-top:8px" title="Go to DanpheEMR-Home" />
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu pull-right" style="width: 80%;">
            <div class="cstm-header-top">
                <div class="pat-info-top" style="float: left;width: 100%;position: relative;">
                    <div class="pat-profile-pic" style="position: absolute;left: -60px;top: 10px;border: 2px solid #fff;">
                        <img *ngIf="!PatService.globalPatient.ProfilePic" alt="Avatar" height="50" width="50" src="/themes/theme-default/images/NO_Image.png">
                        <img class="img-rounded" *ngIf="PatService.globalPatient.ProfilePic && PatService.globalPatient.ProfilePic.FileBase64String" [src]="'data:image/jpeg;base64,'+PatService.globalPatient.ProfilePic.FileBase64String" style="width:50px;height:50px;" />
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h1 class="pat-name-hd">
                            {{PatService.globalPatient.ShortName}}
                        </h1>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <p>Hospital No: {{PatService.globalPatient.PatientCode}}</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="padding-top: 8px;color: white;">
                                    Allergy:

                                    <div class="tooltip" style="background-color: #fde11a;padding: 0px 5px;color: #006687;">
                                        <span>{{PatService.globalPatient.AllergyFormatted.Primary}}</span>

                                        <p *ngIf="PatService.globalPatient.AllergyFormatted.Secondary" class="tooltiptext ttptextdown" [innerHTML]="PatService.globalPatient.AllergyFormatted.Secondary"></p>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <p class="hd-parag-st">Attending:  {{ visitService.globalVisit.ProviderName }}</p>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="pat-info-bottom" style="float: left; padding: 12px 0px 5px 0px; width: 100%;">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <p>Age/Sex: {{PatService.globalPatient.DateOfBirth | DanpheDateTime:'age' }} / {{PatService.globalPatient.Gender}}</p>
                    </div>
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <p *ngIf="visitService.globalVisit.VisitType != 'OUTPATIENT'">Ward/Bed: {{PatService.globalPatient.WardName}} / {{PatService.globalPatient.BedNo}} </p>

                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p class="inout-pat">{{visitService.globalVisit.VisitType}}</p>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <a class="btn-back" [routerLink]="['/Doctors/OutPatientDoctor']"><i class="fa fa-home"></i>Home</a>
                    </div>


                </div>

            </div>

        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->


<div class="page-container doc-pagecontainer" style="margin-top: 69px !important;">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse doctor-sdbar">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="menu-content out page-sidebar-menu doctor-sidebar-list" *ngIf="validRoutes != undefined" style="padding-top: 0px">
                <li *ngFor="let route of validRoutes">
                    <a routerLink="{{route.RouterLink}}" [routerLinkActive]="'cstm-sidenav-active'">{{route.DisplayName}}<i class="{{route.Css}}"></i></a>
                </li>
                <li *ngIf="!isVisitConcluded">
                    <a (click)="ConcludeVisit()">Conclude Visit</a> 
                </li>     
                <li *ngIf="isVisitConcluded">
                    <a>This visit is concluded</a> 
                </li>               
            </ul>

            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->

    <div class="page-content-wrapper">
        <div class="page-content doc-pagecontent" style="padding: 0px 15px 10px 15px;">
            <router-outlet> </router-outlet>
        </div>
    </div>

    <!-- END CONTENT -->

</div>







