<div class="row">
    <div class="col-md-12">
        <div class="caption">
            <i class="glyphicon glyphicon-asterisk font-red-sunglo"></i>
            <span class="caption-subject font-blue-sharp bold uppercase">Add Purchase Order Of Pharmacy</span>
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px">
    <form [formGroup]="currentPO.PurchaseOrderValidator" class="form-horizontal">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2">Supplier<b style="float:right">:</b></label>
                <div class="col-md-3 col-sm-3">

                    <select class="form-control" style="float:left" [(ngModel)]="currentPO.SupplierId" formControlName="SupplierId" (ngModelChange)="GetSupplierDetails(currentPO.SupplierId)">
                        <option *ngFor="let suplist of supplierList" value="{{suplist.SupplierId}}">{{suplist.SupplierName}}</option>
                    </select>
                    <span style="color:red" *ngIf="currentPO.IsDirty('SupplierId')" [hidden]="currentPO.IsValidCheck('SupplierId','required')"> Supplier is required</span>
                </div>
                <div class="col-md-3 col-sm-3">
                    <span *ngIf="ShowSupplierDetails== true" style="font-size:small;background-color:whitesmoke;">Supplier ContactNo :<b>&nbsp;&nbsp;{{SelectedSupplier.ContactNo}}</b></span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;

                </div>
                <div class="col-md-3 col-sm-3">
                    <span *ngIf="ShowSupplierDetails== true" style="font-size:small;background-color:whitesmoke;">Supplier Address :<b>&nbsp;&nbsp;{{SelectedSupplier.ContactAddress}}</b></span>

                </div>
            </div>

        </div>
    </form>
</div>



<div class="row">

    <div class="col-md-12">


        <div class="table-responsive">

            <table class="table table-striped table-hover" style="background-color:initial;margin-top:10px">
                <thead>
                    <tr>
                        <th></th>
                        <th sortable-header col="itemnames"><b>ItemName</b></th>
                        <th sortable-header col="quantity"><b>Quantity</b></th>
                        <th></th>
                        <th><b>Standard Rate</b></th>
                        <th><b>VAT %</b></th>
                        <th><b>TotalAmount </b></th>
                        <th><b>Delivery Days</b></th>
                        <th><b>Remark</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of currentPO.PHRMPurchaseOrderItems; let i = index">

                        <td><a (click)="DeleteRow(i)"><i class="btn btn-danger fa">X</i></a></td>
                          <td>
                            <form [formGroup]="row.PurchaseOrderItemValidator">
                                <input danphe-auto-complete class="form-control "
                                       [(ngModel)]="row.SelectedItem"
                                       [source]="ItemList"
                                       [list-formatter]="myListFormatter"
                                       placeholder="Item Name"
                                       display-property-name="ItemName"
                                       value-property-name=null
                                       min-chars="0"
                                       max-num-list="20"
                                       (valueChanged)="SelectItemFromSearchBox(row.SelectedItem,i)"
                                       formControlName="ItemId"
                                       onClick="this.select();"
                                       style="width:250px " />
                                <div style="color:red" *ngIf="row.IsDirty('ItemId')" [hidden]="row.IsValidCheck('ItemId','required')"> Item is required</div>
                            </form>

                        </td>
                        <td>
                            <form [formGroup]="row.PurchaseOrderItemValidator">
                                <input style="width:100px;" [(ngModel)]="row.Quantity" (ngModelChange)="CalculationForPOItem()" class="form-control" min="1" formControlName="Quantity" name="quantity" type="number">
                                <div style="color:red" *ngIf="row.IsDirty('Quantity')" [hidden]="row.IsValidCheck('Quantity','required')"> Quantity is required</div>

                            </form>
                        </td>
                        <td>
                            <a (click)="AddRowRequest()"><i class="glyphicon glyphicon-plus btn btn-success"></i></a>
                        </td>
                        <td>
                            <input style="width:100px;" [(ngModel)]="row.StandaredPrice" class="form-control" disabled name="price" type="number">
                        </td>
                        <td><input style="width:80px;" [(ngModel)]="row.VatPercentage" disabled class="form-control" max="100" name="vatpercent" type="number"></td>
                        <td><input style="width:110px;" [(ngModel)]="row.TotalAmount" disabled class="form-control" name="total" type="number"></td>
                        <td> <input style="width:100px;" [(ngModel)]="row.DeliveryDays" class="form-control" name="deliverydays" type="number"> </td>
                        <td><input style="width:100px;" [(ngModel)]="row.Remarks" class="form-control" name="remarks" type="text"></td>

                    </tr>
                </tbody>
            </table>


            <table class="col-sm-offset-4 col-sm-5 ">

                <tr>
                    <td class="col-sm-offset-6 col-sm-3"></td>
                    <td> SubTotal: </td>
                    <td><input class="form-control" [(ngModel)]="currentPO.SubTotal" disabled id="subtotal" name="subtotal" type="number"></td>
                </tr>


                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"></td>
                    <td>VAT Amount:</td>
                    <td> <input [(ngModel)]="currentPO.VATAmount" disabled class="form-control" name="DiscountPercent" type="number"></td>

                </tr>

                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"></td>
                    <td>Total Amount: </td>
                    <td><input [(ngModel)]="currentPO.TotalAmount" disabled class="form-control" name="TotalAmount" type="number"></td>
                </tr>

                <tr class="form-group">
                    <td class="col-sm-offset-8 col-sm-2"> </td>
                    <td>Remarks: </td>

                    <td><input [(ngModel)]="currentPO.Remarks" class="form-control" name="Remarks" type="text"></td>

                </tr>
                <tr class="dot">
                    <td colspan="3" class="text-capitalize">In Words : <b>{{currentPO.TotalAmount | NumberInWords}} </b>Only. <br /><br /></td>
                </tr>
                <tr></tr>

            </table>

        </div>
    </div>
    <div class="col-sm-offset-5 col-sm-5">
        <input type="button" class="btn btn-success" value="Request" (click)="AddPurchaseOrder()" [disabled]="loading" />
        <span></span>
        <input type="button" class="btn btn-danger" value="Cancel">
        <span></span>

    </div>
</div>






