@*@using DanpheEMR.Security
@model ChangePasswordViewModel

Welcome @Model.UserName 
  <div class="row">
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{

     
        <div class="form-body">
            <div class="col-md-12">
              
                <div class="caption">

                    <i class="glyphicon glyphicon-asterisk font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Change&nbsp; Password&nbsp;Section &nbsp; </span>
                </div>

                <div class="col-md-5 col-xs-12">
                 
                    <div class="form-group">
                        <b>
                            <label class="control-label col-md-5">
                               User Name
                            </label>
                        </b>
                        <div class="col-md-8">
                            <input  type="text" name="username" value="@Model.UserName" readonly/>
                            
                        

                        </div>
                    </div>

                </div>



                <div class="col-md-5 col-xs-12">
                    
                    <div class="form-group">
                        <b>
                            <label class="control-label col-md-5">
                                Old Password
                            </label>
                        </b>
                        <div class="col-md-8">
                            <input class="form-control" required type="text" name="password"
                                    placeholder="Enter Old Password" />

                        </div>
                    </div>

                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        <b>
                            <label class="control-label col-md-5">
                                New Password
                            </label>
                        </b>
                            <div class="col-md-8">
                                <input class="form-control" required type="text" name="newpassword"
                                        placeholder="Enter New Password" />

                            </div>
</div>

                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        <b><label class="control-label col-md-5">
                            Confirm Password
                        </label></b>
                        <div class="col-md-8">
                            <input class="form-control" required type="text" name="confirmpassword"
                                    placeholder="Enter Confirm Password" />
                          
                        </div>
                    </div>



                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        <div class="col-md-4"></div>
                            <div class="col-md-8">
                                
                                <button class="btn blue" type="submit">
                                    <i class="fa fa-search"></i>
                                    Save
                                </button>
                            </div>
                        </div>



                </div>


            </div>
           
        </div>



}
</div>*@



@using DanpheEMR.Security
@model ChangePasswordViewModel

@{
    string message = (string)ViewData["status"];
}

<meta charset="utf-8" />
<link href="~/themes/theme-default/login/css/login.style.css" rel="stylesheet" type="text/css" />
<link href="~/themes/theme-default/login/components/tipsy/tipsy.css" rel="stylesheet" type="text/css" media="all" />

<style type="text/css">
    html {
        background-image: none;
    }
   input
   {
       width:300px;
       height:50px;
       border-radius:10px;
   }
  
  .well
   {
       width:300px;
     
       color:blue;
       font-size:large ;
       text-align:initial;
   }
   .well h3
   {
       color:black;
       font-size:large;
   }
    #versionBar {
        background-color: #212121;
        position: fixed;
        width: 100%;
        height: 35px;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: 35px;
    }

    .copyright {
        text-align: center;
        font-size: 10px;
        color: #CCC;
    }

        .copyright a {
            color: #A31F1A;
            text-decoration: none;
        }

    .ui-selectmenu.small, .ui-selectmenu-menu.small {
        width: 320px;
    }

    .username_id {
        background-image: url(../images/icon/user_.png);
    }
</style>

<div id="alertMessage" class="error"></div>
<div class="text_success">
    <img src="~/themes/theme-default/login/images/loadder/loader_green.gif" alt="Danphe" />

    <span>Please wait</span>
</div>
<div id="login">
    
    <div class="inner">
        <div class="logo">
            
            <img src="~/themes/theme-default/images/office-logo-new.png" style="width: 200px;position: absolute;left: -50px;" />
        </div>
        <div class="userbox"></div>
        <div class="formLogin">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
               
                    <div class="row">
                        
                        <div class="well">
                          <h3>Change Password</h3> Welcome @Model.UserName
                        </div>
                        
                    </div>

                    <br />
                <div class="tip">
                    <b> UserName : </b> <input name="username" value="@Model.UserName" readonly type="text"  />
                </div><br/>
                <div class="tip">
                  <b> Old Password :</b>    <input name="password"  type="password" placeholder="enter old password" />
                </div><br />
                <div class="tip">
                    <b> New Password :</b>   <input name="newpassword"  type="password" placeholder="enter new password"  />

                </div><br />
                <div class="tip">
                    <b>Confirm Password :</b>    <input name="confirmpassword"  type="password" placeholder="enter confirm password"  />
                       
            </div>
            
            <br />
                
                @if (message == "changepassword-failed")
                {
                    <div style="padding:10px;color:red; font-weight:bold;">
                        Invalid credentials !
                    </div>
                }
               else if (message == "new&confirmpass-not-provided")
                   {
                  <div style = "padding:10px;color:red; font-weight:bold;" >
                   New and Confirm password is not provided !!
                  </div >
                }
                else if (message == "new&confirmpass-different")
                    {
                        <div style="padding:10px;color:red; font-weight:bold;">
                            New and Confirm Password are Different
                        </div>
                    }

              <div style = "padding:20px 0px 0px 0px;" >
                       <div style = "float:right;padding:2px 4px ;" >
                          <div >
                             <ul class="uibutton-group">
                                <li>
                                    <button id = "but_login" type="submit" class="uibutton normal" style="margin-bottom:30px; margin-right:10px;">Save</button>
                                </li>
                             </ul>
                          </div>
                       </div>
               </div>
            }
        </div>
    </div>
    <div class="clear"></div>
    <div class="shadow"></div>
</div>
<!--Login div-->
<div class="clear"></div>
<div id="versionBar">
    <div class="copyright"> &copy; Copyright 2017  All Rights Reserved <span class="tip"><a href="#" title="DanpheHealth Pvt. Ltd.">DanpheHealth Pvt. Ltd.</a> </span> </div>
    <!-- // copyright-->
</div>
<!-- Link JScript-->
<script type="text/javascript" src="~/themes/theme-default/login/js/jquery.min.js"></script>
<script type="text/javascript" src="~/themes/theme-default/login/components/effect/jquery-jrumble.js"></script>
<script type="text/javascript" src="~/themes/theme-default/login/components/ui/jquery.ui.min.js"></script>
<script type="text/javascript" src="~/themes/theme-default/login/components/tipsy/jquery.tipsy.js"></script>
<script type="text/javascript" src="~/themes/theme-default/login/components/checkboxes/iphone.check.js"></script>
<script type="text/javascript" src="~/themes/theme-default/login/js/login.js"></script>
