<style>

    div{
        border-radius:30px !important;
        text-align:center;
        padding:0px;
        box-shadow:3px 3px 3px 3px grey;
}
</style>


<div>
    <h1>
    <b>404</b>  Oop's! <span style="color:orange;"> Error !</span>
    </h1>
    <a href="@Url.Action("Login","Account")"> Back to login page</a>
</div>

