
<div style="width:500px;height:185px; border:2px solid green; position:absolute;background-color:lightgreen; left:30%; ">
    <h3 style="text-decoration:underline;">Forgot password ? never mind.. </h3>

    <div style="font-weight:bold;font-size:15px; color:blue;">

        We've raised your request succesfully.<br />
        Please contact the system-administrator for more details.
    </div>
    <br />
    <a href="@Url.Action("Login","Account")"> Back to login page</a>
</div>
