<style>
    div {
        border-radius: 20px !important;
        text-align: center;
        padding: 0px;
        box-shadow: 3px 3px 3px 3px grey;
    }
</style>


<div style="color:red;">

    <h3>
        <b>
            401 Oops!
        </b>
    </h3>
    <h4> <b>UNAUTHORIZED ACCESS !</b> </h4>
</div>

<router-outlet></router-outlet>