@{
    string message = (string)ViewData["message"];
}

<div>
    <h3> UnAuthorized Access..</h3><br />
    <h2>sorry ! it seems that you don't have necessary permissions to view this page..</h2>

</div>
