<input type="button" class="btn btn-primary" (click)="AddCategory()" value="Add Sales Category" />
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <danphe-grid [grid-colDefaults]="salesDetailsGridColumns" [grid-data]="salescategory" (grid-actions)="SalesDetailsGridActions($event)">
    </danphe-grid>
  </div>
  </div>
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showCategoryAddPage">
  <div class="portlet-body form" style="background-color:white">
    <!--Model Box Body Start-->
    <form [formGroup]="CurrentCategory.SalesCategoryValidator" class="form-horizontal">
      <div class="form-body">
        <div class="col-md-12">
          <div class="col-md-10 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
            <div class="col-md-12">
              <div class="caption" style="color:blue; margin-top:10px;">
                <span >Add Sales Category</span>
              </div>
              <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
              <hr />
            </div>
            <br />
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Category<b style="float:right;">:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text"
                            [(ngModel)]="CurrentCategory.Name"
                           value=""
                         [ngModelOptions]="{standalone: true}"
                           placeholder="Enter Category" /> </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-4">Is Batch Applicable<b style="float:right;">:</b></label>
                  <div class="col-md-7">
                    <div class="input-group">
                      <div class="icheck-inline">
                        <label class="mt-checkbox mt-checkbox-outline">
                          <input name="IsBatchApplicable" type="checkbox" value="IsBatchApplicable" [(ngModel)]="CurrentCategory.IsBatchApplicable" [ngModelOptions]="{standalone: true}">
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div>

            </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Is Expiry Applicable <b style="float:right;">:</b></label>
                  <div class="col-md-7">
                    <div class="input-group">
                      <div class="icheck-inline">
                        <label class="mt-checkbox mt-checkbox-outline">
                          <input name="IsExpiryApplicable" type="checkbox" value="IsExpiryApplicable" [(ngModel)]="CurrentCategory.IsExpiryApplicable" [ngModelOptions]="{standalone: true}">
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="padding-bottom: 18px;">
                <input type="button" class="btn btn-primary" (click)="PostSalesCategoryDetails()" value="Add" />
            </div>
          </div>
          <div class="col-md-1 hidden-xs hidden-sm" style="margin-right: 24px;">
          </div>
        </div>
      </div>
    </form>
    <!--form end-->
    <!--Model Box Body End-->
  </div>
</div>

