<div class="row" *ngIf="showStockList">
        <!--<div class="col-md-12">
                <div class="col-md-12 col-xs-12">
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <button class="btn blue" type="button" (click)="GetStockDetailsList()">
                                <i class="fa fa-search"></i>
                                Show Details
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>-->
    <div class="col-lg-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="stockDetailsGridColumns"
                     [grid-data]="stockDetailsList"
                     (grid-actions)="StockDetailsGridAction($event)">
        </danphe-grid>
    </div>
</div>

<div class="row" *ngIf="!showStockList">
    <div class="col-md-12">
        <div class="caption">
            <i class="glyphicon glyphicon-asterisk font-red-sunglo"></i>
            <span class="caption-subject font-blue-sharp bold uppercase">
                Stock Manage
                <input type="button" class="btn blue" value="Back" (click)="Cancel()" style="margin-left:10px !important;" />
            </span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-lg-6 col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed" id="exportTable" style="background-color:initial;margin-top:10px">
                    <tbody>
                        <tr >
                            <td style="font-weight:bold;">
                                Item Name
                            </td>
                            <td>
                                {{selectedItem.ItemName}}
                            </td>
                        </tr>
                        <tr >
                            <td style="font-weight:bold;">
                                Batch No
                            </td>
                            <td>
                                {{selectedItem.BatchNo}}
                            </td>
                        </tr>
                        <tr >
                            <td style="font-weight:bold;">
                                Expiry Date
                            </td>
                            <td>
                                {{selectedItem.ExpiryDate | date}}
                            </td>
                        </tr>
                        <tr >
                            <td style="font-weight:bold;">
                                Price
                            </td>
                            <td>
                                {{selectedItem.Price}}
                            </td>
                        </tr>
                        <tr >
                            <td style="font-weight:bold;">
                                MRP
                            </td>
                            <td>
                                {{selectedItem.MRP}}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;">
                              GoodReceipt ID
                            </td>
                            <td>
                              {{selectedItem.GoodReceiptPrintId}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
                <div class="form-group">
                    <label class="control-label col-md-4">Adjustment Type
                    <b class="color-red">  *</b><b style="float:right;">:</b>
                    </label>
                    <div class="col-md-8">
                        <form [formGroup]="selectedItem.StoreManageValidator">
                            <div class="input-group">
                                <div class="icheck-inline">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="radio" value="in" [(ngModel)]="selectedItem.InOut" formControlName="InOut">
                                        <span></span>In
                                    </label>
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="radio" value="out" [(ngModel)]="selectedItem.InOut" formControlName="InOut">
                                        <span></span>Out
                                    </label>
                                </div>
                            </div>
                            <span class="error-msg" *ngIf="selectedItem.IsDirty('InOut')" [hidden]="selectedItem.IsValidCheck('InOut','required')"> adjustment-type is required</span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
                <div class="form-group">
                    <label class="control-label col-md-4">Current Qty
                       <b style="float:right;">:</b>
                    </label>
                    <div class="col-md-8">
                        <input [(ngModel)]="selectedItem.Quantity" typeof="number" disabled
                               class="form-control"
                               name="Quantity" />
                    </div>
                </div>
            </div><div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
                <div class="form-group">
                    <label class="control-label col-md-4">Modified Qty
                        <b class="color-red">  *</b><b style="float:right;">:</b>
                    </label>
                    <div class="col-md-8">
                        <form [formGroup]="selectedItem.StoreManageValidator">
                            <input [(ngModel)]="selectedItem.UpdatedQty"
                                   formControlName="UpdatedQty" class="form-control"
                                   name="UpdatedQty" type="number" />
                            <div style="color:red" *ngIf="selectedItem.IsDirty('UpdatedQty')"
                                 [hidden]="selectedItem.IsValidCheck('UpdatedQty','invalidNumber')">quantity is required</div>
                            <div style="color:red" *ngIf="selectedItem.InOut=='out' && selectedItem.Quantity < selectedItem.UpdatedQty">cant out more quantity than current qty</div>

                        </form>
                    </div>
                </div>
            </div><div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
                <div class="form-group">
                    <label class="control-label col-md-4">Remark
                        <b class="color-red">  *</b><b style="float:right;">:</b>
                    </label>
                    <div class="col-md-8">
                        <form [formGroup]="selectedItem.StoreManageValidator">
                            <textarea [(ngModel)]="selectedItem.Remark"
                                      formControlName="Remark" class="form-control"
                                      name="Remark" type="text"></textarea>
                            <div style="color:red" *ngIf="selectedItem.IsDirty('Remark')"
                                 [hidden]="selectedItem.IsValidCheck('Remark','required')">remark is required</div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom:5px !important;">
                <div class="form-group">
                    <div class="control-label col-md-4">
                    </div>
                    <div class="" style="margin-top:10px; float:right;">
                        <input type="button" class="btn btn-success" value="Update Stock" (click)="SaveManagedStock()" [disabled]="loading" />
                        <span></span>
                        <input type="button" class="btn btn-danger" (click)="Cancel()" value="Cancel" [disabled]="loading">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:flex;align-items:center;justify-content:center;" class="popup-static portlet box portlet-fullscreen modal-box" *ngIf="showTransferPage">
  <div style="text-align:center;width:40%;" class="col-md-12 modelbox-div">
    <b (click)="Close()" title="close window" class="btn btn-danger" style="float: right;margin-top:15px;margin-right:15px">X</b>
    <h3 style="margin-bottom:4.5rem;">Transfer To Dispensary</h3>
    <p><strong>Item Name:</strong>{{selectedItem.ItemName}}</p>
    <p><strong>Expiry Date:</strong>{{selectedItem.ExpiryDate | date}}</p>
    <p><strong>Price:</strong>{{selectedItem.Price}}</p>
    <p><strong>Available Quantity:</strong>{{selectedItem.Quantity}}</p>
    <div class="bold col-md-6">Transfer Quantity:</div>
    <div class="col-md-6">
      <input style="max-width:326px;margin-bottom:4px;" class="col-md-6" type="number" [(ngModel)]="selectedItem.UpdatedQty" />
    </div>
    <div>
      <span class="error-msg" *ngIf="selectedItem.UpdatedQty<0">  Quantity is not valid. </span>
      <span class="error-msg" *ngIf="selectedItem.Quantity<selectedItem.UpdatedQty">  Transfer Qty should be less than Total Qty </span>
    </div>
    <div class="bold col-md-6">Dispensary Name:</div>
    <div class="col-md-6">
      <input danphe-auto-complete class="form-control col-md-6"
             [(ngModel)]="currentDispensary"
             [source]="dispensaryList"
             [list-formatter]="myDispensaryListFormatter"
             placeholder="Select Dispensary"
             display-property-name="Name"
             value-property-name="DispensaryId"
             min-chars="0"
             max-num-list="20"
             onClick="this.select();"
             match-formatted="true"
             [grid-sort]="'Name'"
             [ngModelOptions]="{standalone: true}" />
    </div>
    <div>
      <button (click)="transferToDispensary()" class="btn btn-danger" style="margin-bottom:10px; margin-top:10px;">Transfer</button>
    </div>
  </div>
</div>
