<div class="row">
    <div class="col-lg-12 col-sm-12">
      <danphe-grid [grid-colDefaults]="goodsreceiptGridColumns"
                   [grid-data]="grListfiltered"
                   [rangeType]="dateRange"
                   (onDateChange)="onDateChange($event)"
                   [show-CustomDate]="true"
                   (grid-actions)="GoodsReceiptGridAction($event)"
                   [NepaliDateInGridParams]="NepaliDateInGridSettings"
                   [grid-exportOptions]="GetGridExportOptions()" 
                   [grid-showExport]="true">
      </danphe-grid>
    </div>
  </div>
  