<div class="row">
    <div style="display: flex;align-items: baseline; justify-content: end;">
        <div>
            <input type="checkbox" id="showColdStorageItemCheckBox" style="zoom:1.23;scale: 1.23;margin-right: 6px;" (change)="OnChangeShowColdStorageCheckbox($event)">
            <label for="showColdStorageItemCheckBox" style="margin-right: 20px;">Show only cold storage item </label>
        </div>
        <div>
            <input type="checkbox" (change)="FilterStockListForZeroQty()" [(ngModel)]="showStockWithZeroQty" name="showStockWithZeroQty" id="showStockWithZeroQty" value="" style="width:15px;height:15px" />
            <label for="showStockWithZeroQty"  style="margin-right: 20px;">
                <span></span>Show Zero Quantity</label>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="stockListGridColumns" [grid-data]="filteredStockList" (grid-actions)="StockListGridAction($event)">
        </danphe-grid>
    </div>
</div>