<style>
    .mapped span {
        border: 1px solid green !important;
    }

    .mapped>span:after {
        border: solid green !important;
        border-width: 0 2px 2px 0 !important;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .mapped-outline>input:checked~span,
    .mapped>span:hover {
        border: 1px solid green !important;
    }

    .not-mapped span {
        border: 1px solid red !important;
    }

    .not-mapped>span:after {
        border: solid red !important;
        border-width: 0 2px 2px 0 !important;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .not-mapped-outline>input:checked~span,
    .not-mapped>span:hover {
        border: 1px solid red !important;
    }

    .padLess_table th,
    .padLess_table td {
        padding: 1px 5px !important;
    }

    .mt-checkbox {
        margin-right: 3px;
    }
</style>
<!-- style="padding-top: 5px; " -->

<div class="col-md-12">
    <form [formGroup]="CurrentLedger.LedgerValidator" class="hm-form clearfix">
        <div class="form-group col-md-4" style="margin-bottom:0px !important;">
            <label class="control-label no-padding col-md-4">Primary Group<sup>*</sup><b>:</b></label>
            <div class="col-md-6">
                <select class="form-control" maxlength="30" type="text" [(ngModel)]="CurrentLedger.PrimaryGroup" id="PrimaryGroup"
                        (change)="PrimaryGroupChanged()" placeholder="PrimaryGroup" formControlName="PrimaryGroup">
                    <option *ngFor="let pg of PrimaryGroupList" [disabled]="true" value={{pg.PrimaryGroupName}}>
                        {{pg.PrimaryGroupName}}</option>
                </select>
                <span class="color-red font-sm"
                      [hidden]="CurrentLedger.IsValidCheck('PrimaryGroup','required') || !(CurrentLedger.IsDirty('PrimaryGroup'))">primary
                    group is required</span> <span class="color-red font-sm" *ngIf="CurrentLedger.IsDirty('PrimaryGroup')"
                      [hidden]="CurrentLedger.IsValidCheck('PrimaryGroup','maxlength')"> Length is not proper</span>
            </div>
        </div>

        <div class="form-group col-md-4" style="margin-bottom:0px !important;">
            <label class="control-label no-padding  col-md-4">Chart of Accounts <sup>*</sup><b>:</b></label>
            <div class="col-md-7">

                <select class="form-control" maxlength="30" type="text" [(ngModel)]="CurrentLedger.COA" id="COA" (change)="COAChanged()"
                        placeholder="LedgerGroupName" formControlName="COA">
                    <option *ngFor="let pg of ChartOfAccountList" [disabled]="true" value={{pg.ChartOfAccountName}}>{{pg.ChartOfAccountName}}
                    </option>
                </select>

                <span class="color-red font-sm" [hidden]="CurrentLedger.IsValidCheck('COA','required') || !(CurrentLedger.IsDirty('COA'))">COA
                    is
                    required</span> <span class="color-red font-sm" *ngIf="CurrentLedger.IsDirty('COA')"
                      [hidden]="CurrentLedger.IsValidCheck('COA','maxlength')"> Length is not proper</span>
            </div>
        </div>

        <div class="form-group col-md-4" style="margin-bottom:0px !important;">
            <label class="control-label no-padding col-md-4">Ledger Group <sup>*</sup><b>:</b> </label>
            <div class="col-md-7">
                <select [(ngModel)]="CurrentLedger.LedgerGroupId" (valueChanged)="onledgerGroupChange()" id="ledgergroup"
                        formControlName="LedgerGroupName" style="width: 100%;">
                    <option *ngFor="let v of LedgergroupList" value="{{v.LedgerGroupId}}">{{v.LedgerGroupName}}</option>
                </select>
                <br />
                <span class="color-red" *ngIf="CurrentLedger.checkSelectedLedger==true">Please select Proper Ledger
                    group</span>
            </div>
        </div>
    </form>
</div>

<div class="col-md-12">
    <div class="icheck-inline" style="padding-top: 5px;">
        <div class="col-md-3">
            <input type="text" class="search-textbox" [(ngModel)]="ledgerSearchKey" placeholder="type here to search consultant"
                   (ngModelChange)="filterSelectedLedger(ledgerSearchKey)" onclick="this.select()" />

        </div>
        <div class="col-md-1" style="padding-right: 0px !important;">
            <label class="mt-checkbox mt-checkbox-outline">
                <input name="showpharmsuplierALLLedger" type="radio" checked="checked" (change)="ToggleInventorySubcategory('all')">
                <span> </span> <b> All </b> </label> <label *ngIf="TotalLedger>0">({{TotalLedger}}) </label>
        </div>
        <div class="col-md-6">
            <label class="mt-checkbox mt-checkbox-outline mapped mapped-outline" style="color: green;">
                <input name="showpharmsuplierALLLedger" type="radio" (change)="ToggleInventorySubcategory('true')">
                <span> </span> <b> Inventory SubStore with A/c Head </b> </label> <label *ngIf="MappedLedger>0">
                ({{MappedLedger}}) </label>
            <label class="mt-checkbox mt-checkbox-outline not-mapped not-mapped-outline" style="color: red; margin-left: 20px !important;">
                <input name="showpharmsuplierALLLedger" type="radio" (change)="ToggleInventorySubcategory('false')">
                <span> </span> <b> Inventory SubStore without A/c Head </b> </label> <label *ngIf="NotmappedLedger>0">
                ({{NotmappedLedger}}) </label>
        </div>
        <div class="col-md-2">
            <label> <span> </span> <b style="color: #7cb3ea;"> Selected Ledgers : </b> <b>
                    {{SelectedLedgerCount}} </b> </label>
        </div>
    </div>
    <div class="col-md-12 " style="margin-bottom: 15px;">
        <div class="table-responsive tbl-trns-itm-holder table-wrapper" style="height: 400px;">
            <table class="table table-striped table-hover custom_table padLess_table" style="width: 150vw !important; ">
                <thead style="text-align: center;">
                    <tr>
                        <th> <label class="mt-checkbox mt-checkbox-outline" style="margin: 10px !important;">
                                <input id="isActive" type="checkbox" [(ngModel)]="IsSelectAll" [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="SelectAllChkOnChange()" />
                                <span></span> </label>
                        </th>
                        <th style="width: 10%;"> SubStore Name</th>
                        <th> Ledger Code </th>
                        <th style="width: 20%;"> Ledger Name </th>
                        <th *ngIf="SubLedgerAndCostCenterSetting.EnableSubLedger" style="width: 15%;"> Sub-Ledger Name </th>
                        <th style="width: 15%;"> Description </th>
                        <th style="width: 10%;"> Opening Balance </th>
                        <th style="width: 10%;"> Opening Balance Type </th>
                        <th> Active </th>

                        <!-- Dev: 14 Feb,23 Needed for CostCenter Mapping -->
                        <!-- <th>Cost Center</th> -->

                        <!-- <th style="width: 7%;"> TDS Percent</th>
            <th style="width: 10%;"> PANNo </th>
            <th style="width: 10%;"> Address </th>
            <th style="width: 10%;"> Mobile No. </th>
            <th style="width: 10%;"> Landline No. </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let led of InventorySubList; let i = index">
                        <td style="text-align: center;">
                            <label [ngClass]="{'mapped': led.IsMapped==true, 'mapped-outline': led.IsMapped==true, 'not-mapped': led.IsMapped==false, 'not-mapped-outline': led.IsMapped==false}"
                                   class="mt-checkbox mt-checkbox-outline">
                                <input id="isActive" type="checkbox" [(ngModel)]="led.IsSelected" [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="SingleCkboxChange(i)" />
                                <span></span>
                            </label>
                        </td>

                        <td><label class="mt-checkbox mt-checkbox-outline checkbox-nolabel">
                                {{led.StoreName }}</label></td>
                        <td><label class="mt-checkbox mt-checkbox-outline checkbox-nolabel"> {{led.Code }}</label></td>
                        <td><input danphe-auto-complete class="form-control" [(ngModel)]="led.LedgerName" [source]="LedgerListAutoComplete"
                                   placeholder="Ledger Name" display-property-name="LedgerName" value-property-name=null [grid-sort]="'LedgerName'"
                                   (focusout)="AssignSelectedLedger(i)"
                                   [list-formatter]="LedgerListFormatter" max-num-list="15" onclick="this.select()" id="Ledger_{{i+1}}"
                                   match-formatted="true" style="width: 100%;" [ngStyle]="{'color':led.IsMapped==true ? 'green' : 'red' }"
                                   [disabled]="!led.IsSelected" />
                        </td>
                        <td *ngIf="SubLedgerAndCostCenterSetting.EnableSubLedger"><input danphe-auto-complete class="form-control"
                                   [(ngModel)]="SelectedSubLedger[i]"
                                   [source]="SubLedgerListForInventorySubStore"
                                   placeholder="SubLedger Name" display-property-name="SubLedgerName" value-property-name=null
                                   [grid-sort]="'SubLedgerName'"
                                   (focusout)="AssignSelectedSubLedger(i)"
                                   [list-formatter]="SubLedgerListFormatter" max-num-list="15" onclick="this.select()" id="Ledger_{{i+1}}"
                                   match-formatted="true" style="width: 100%;"
                                   [disabled]="!led.IsSelected" />
                        </td>
                        <td>
                            <input [(ngModel)]="led.Description" [ngModelOptions]="{standalone: true}" class="form-control" name="Description"
                                   [disabled]="!led.IsSelected" type="text" maxlength="200">
                        </td>
                        <td><input [(ngModel)]="led.OpeningBalance" [ngModelOptions]="{standalone: true}" class="form-control" name="OpeningBalance"
                                   [disabled]="!led.IsSelected" type="number" maxlength="20"></td>
                        <td>
                            <form [formGroup]="led.LedgerValidator">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input id="Dr" name="Dr" type="checkbox" (click)="ChangeOpeningBalType($event, i)"
                                           [(ngModel)]="led.Dr" [ngModelOptions]="{standalone: true}" [disabled]="!led.IsSelected" />
                                    <span></span>Dr</label>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input id="Cr" name="Cr" type="checkbox" (click)="ChangeOpeningBalType($event, i)"
                                           [(ngModel)]="led.Cr" [ngModelOptions]="{standalone: true}" [disabled]="!led.IsSelected" />
                                    <span></span>Cr </label>

                            </form>
                        </td>
                        <td><label class="mt-checkbox mt-checkbox-outline">
                                <input id="IsActive" name="IsActive" type="checkbox" (click)="ChangeOpeningBalType($event, i)"
                                       [(ngModel)]="led.IsActive" [ngModelOptions]="{standalone: true}" [disabled]="!led.IsSelected" />
                                <span></span>Active </label></td>

                        <!-- Dev: 14 Feb,23 Needed for CostCenter Mapping -->
                        <!-- <td>
                    <input danphe-auto-complete class="form-control" [(ngModel)]="SelectedCostCenter[i]"
                     [source]="CostCenters" placeholder="Cost Center"
                     display-property-name="CostCenterName" value-property-name=null
                     (focusout)="AssignCostCenter(i)" [list-formatter]="'CostCenterName'" 
                     max-num-list="15" onclick="this.select()" id="CostCenter_{{i+1}}" match-formatted="true" 
                     style="width: 100%;" [ngStyle]="{'color':led.IsMapped==true ? 'green' : 'red' }" 
                     [disabled]="!led.IsSelected"
                    />
                </td> -->
                        <!-- <td><input [(ngModel)]="led.TDSPercent" [ngModelOptions]="{standalone: true}" class="form-control"
                name="TDSPercent" [disabled]="!led.IsSelected" type="number" max="20">
            </td>
            <td><input [(ngModel)]="led.PANNo" [ngModelOptions]="{standalone: true}" class="form-control" name="PANNo"
                [disabled]="!led.IsSelected" type="text" maxlength="20"></td>
            <td><input [(ngModel)]="led.Address" [ngModelOptions]="{standalone: true}" class="form-control"
                name="Address" [disabled]="!led.IsSelected" type="text" maxlength="200"></td>
            <td><input [(ngModel)]="led.MobileNo" [ngModelOptions]="{standalone: true}" class="form-control"
                name="MobileNo" [disabled]="!led.IsSelected" type="number" max="20"></td>
            <td><input [(ngModel)]="led.LandlineNo" [ngModelOptions]="{standalone: true}" class="form-control"
                name="LandlineNo" [disabled]="!led.IsSelected" type="number" max="20">
            </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;"> </div>
<div class="row">
    <div class="col-md-12" style="padding-bottom: 10px;">
        <button type="button" class="btn primary-btn" style="float:right; margin-right: 20px !important;" (click)="AddLedger();" [disabled]="Loading">
            <i class="fa fa-save"></i>
            Save Ledgers
        </button>
    </div>

</div>