<style>
    .panel {
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 8px;
    }
</style>
<!-- 
<div class="caption">
    <i class="glyphicon glyphicon-asterisk font-green-turquoise"></i>
    <span class="caption-subject font-blue-sharp bold uppercase">Leave Rule List</span>
</div>
<br /> -->
<div class="row">
    <div class="col-md-1">
        <button (click)="AddRules()" class="btn btn-primary">
            <span class="fa fa-plus"></span> New Rule
        </button>
    </div>
    <div class="col-md-3">
        <label class="control-label" style="padding-top: 7px;">
            Select Year
            <b style="float:right;">:</b>
        </label>&nbsp;
        <select [(ngModel)]="yyyy" (ngModelChange)="LoadLeaveRuleList()" style="width: 150px; height: 30px;">
            <option *ngFor="let yy of years" value="{{yy}}">
                {{yy}}
            </option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="LeaveRuleListComlumns" [grid-data]="leaveRuleList"
            (grid-actions)="LeaveRuleListAction($event)"></danphe-grid>
    </div>
</div>

<div class="popup-static portlet box portlet-fullscreen" style="margin-bottom:25px" *ngIf="ShowAddLeaveRuleList">
    <div class="portlet-body" style="background-color:white">

        <div class="col-md-12">
            <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                <div style="padding:10px">
                    <i style="margin-top:13px; " class="btn btn-danger pull-right" (click)="Close()"
                        title="Cancel">X</i>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>{{ !leaveRuleModel.LeaveRuleId ? 'Add New Leave Rules' : 'Update ' + leaveRuleModel.LeaveCategoryName}}</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <form [formGroup]="leaveRuleModel.LeaveRuleValidator" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-5">Select Year:<b class="color-red">*</b><b
                                            style="float:right;">:</b></label>
                                    <div class="col-md-7">                                      
                                        <select class="form-control" [(ngModel)]="leaveRuleModel.Year"
                                            [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let yy of years" value="{{yy}}" [disabled]="update ">
                                                {{yy}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Leave Category Name:<b
                                            class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-7" *ngIf="!update">                                       
                                        <input danphe-auto-complete class="form-control col-md-11"
                                            [(ngModel)]="leaveRuleModel.LeaveCategoryName" [source]="leaveCategoryList"
                                            [list-formatter]="myLeaveCategoryFormatter"
                                            placeholder="Leave Category Name" display-property-name="LeaveCategoryName"
                                            value-property-name=LeaveCategoryName max-num-list="10" name=" LeaveCategoryName"
                                            formControlName="LeaveCategoryId"
                                            (valueChanged)="SelectLeaveCategoryFromSearchBox(leaveRuleModel.LeaveCategoryName)"
                                            onclick="this.select();" />
                                        <div class="color-red font-sm" *ngIf="!Update"
                                            [hidden]="leaveRuleModel.IsValidCheck('LeaveCategoryId','required') || !(leaveRuleModel.IsDirty('LeaveCategoryId'))">
                                            Leave Category Name is required</div>
                                    </div>
                                    <div class="col-md-7" *ngIf="update">                                       
                                        <input danphe-auto-complete class="form-control col-md-11"
                                            [(ngModel)]="leaveRuleModel.LeaveCategoryName" [source]="leaveCategoryList"
                                            [list-formatter]="myLeaveCategoryFormatter"
                                            placeholder="Leave Category Name" display-property-name="LeaveCategoryName"
                                            value-property-name=LeaveCategoryName max-num-list="10" name=" LeaveCategoryName"
                                            formControlName="LeaveCategoryId"
                                            (valueChanged)="SelectLeaveCategoryFromSearchBox(leaveRuleModel.LeaveCategoryName)"
                                            onclick="this.select();" disabled />
                                        <div class="color-red font-sm" *ngIf="!Update"
                                            [hidden]="leaveRuleModel.IsValidCheck('LeaveCategoryId','required') || !(leaveRuleModel.IsDirty('LeaveCategoryId'))">
                                            Leave Category Name is required</div>
                                    </div>
                                </div>
                                <!--*ngIf="!leaveRuleModel.LeaveRuleId "-->
                                <div class="form-group">
                                    <label class="control-label col-md-5" style="margin-top: 13px;">Days:<b 
                                            class="color-red">*</b><b style="float:right;">:</b></label>
                                    <div class="col-md-7" style="margin-top: 13px;">
                                        <input class="form-control" [(ngModel)]="leaveRuleModel.Days"
                                            formControlName="Days" type="number" id="CompanyName" value=""
                                            placeholder="Days" /><br />
                                        <div class="color-red font-sm" *ngIf="!Update"
                                            [hidden]="leaveRuleModel.IsValidCheck('Days','required') || !(leaveRuleModel.IsDirty('Days'))">
                                            Days is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Pay Percent:<b class="color-red">*</b><b 
                                            style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <input class="form-control" [(ngModel)]="leaveRuleModel.PayPercent"
                                            formControlName="PayPercent" type="number" id="CompanyName" value=""
                                            placeholder="Pay Percent" /><br />
                                        <div class="color-red font-sm" *ngIf="!Update"
                                            [hidden]="leaveRuleModel.IsValidCheck('PayPercent','required') || !(leaveRuleModel.IsDirty('PayPercent'))">
                                            Pay Percent is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Is Active:<b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input [ngModelOptions]="{standalone: true}" name="IsActive" type="checkbox"
                                                [(ngModel)]="leaveRuleModel.IsActive"
                                                [checked]="leaveRuleModel.IsActive">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-5">Is Approved:<b
                                            style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <label class="mt-checkbox mt-checkbox-outline">
                                            <input [ngModelOptions]="{standalone: true}" name="IsApproved"
                                                type="checkbox" [(ngModel)]="leaveRuleModel.IsApproved"
                                                [checked]="leaveRuleModel.IsApproved">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input type="button" style="margin-top: 22px;" class="btn btn-primary"
                                        *ngIf="!leaveRuleModel.LeaveRuleId " (click)="PostLeaveRules()"
                                        value="Add Company" />
                                    <input type="button" style="margin-top: 22px;" class="btn btn-primary"
                                        *ngIf="leaveRuleModel.LeaveRuleId " (click)="PutLeaveRules()" value="Update" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
