
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="admittedListGridColumns" [grid-data]="admittedList" (grid-actions)="AdmittedListGridActions($event)">
        </danphe-grid>
    </div>
</div>

<danphe-bed-transfer [showTransferPage]="showTransferPage"
                     [selectedBedInfo]="selectedBedInfo"
                     (transfer)="TransferUpgrade($event)"></danphe-bed-transfer>
<danphe-bed-upgrade [showUpgradePage]="showUpgradePage"
                    [selectedBedInfo]="selectedBedInfo"
                    [similarBedFeatures]="similarBedFeatures"
                    (upgrade)="TransferUpgrade($event)"></danphe-bed-upgrade>


<!--@*Don't display wristband while inside admission sticker in Admitted-List : Bug#39 ADT*@-->
<admission-sticker [patientVisitId]="patientVisitId"
                   [showSticker]="showSticker"
                   (after-print-action)="StickerPrintCallBack()" [showWristBand]="false"></admission-sticker>

<admission-cancel *ngIf="showCancelAdmissionPage"
                  [ipVisitId]="selVisitId"
                  [patientId]="selPatId"
                  (on-cancel-closed)="CancelAdmission($event)"></admission-cancel>

<change-doctor *ngIf="showChangeDoctorPage"
                [admittedPatientDrInfo]="admittedpatientdrinfo"
                (changeDoc-close)="TransferUpgrade($event)">
</change-doctor>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDischargePopUpBox">
    <div class="portlet-body form">
        <!--Model Box Body Start-->
        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <div class="col-md-12" *ngIf="disableDischarge">
                        <b>
                            <u style="color:red">Alert ! This patient has unpaid bills, Please clear them and proceed to discharge.</u>
                            <br />
                            <button type="button" class="btn btn-primary btn-sm" (click)="Close()">
                                OK
                            </button>
                        </b>
                        <hr />
                    </div>
                    <div class="col-md-12" style="padding-bottom: 18px;">
                        <b *ngIf="!disableDischarge">Are you sure you want to discharge this patient ? </b>
                        <b *ngIf="disableDischarge">Proceed with pending bills ? </b><br />
                        <form [formGroup]="admission.AdmissionValidator" class="form-horizontal">
                            <div class="col-md-12">
                                Remarks <b style="color:red">*</b>:<textarea class="form-control" maxlength="100" [(ngModel)]="admission.DischargeRemarks" formControlName="DischargeRemarks" placeholder="Remarks"></textarea><br />
                                <span class="color-red font-sm" *ngIf="admission.IsDirty('DischargeRemarks')" [hidden]="admission.IsValidCheck('DischargeRemarks','required')">Discharge Remarks is mandatory.</span>
                                <span class="color-red font-sm" *ngIf="admission.IsDirty('DischargeRemarks')" [hidden]="admission.IsValidCheck('DischargeRemarks','maxlength')">Max 100 characters.</span>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">Discharge Date <b>(AD)</b> <b style="float:right;">:</b></label>
                                <div class="col-md-4">
                                    <input class="form-control" type="datetime-local"
                                           [ngModelOptions]="{standalone: true}"
                                           [(ngModel)]="admission.DischargeDate"
                                           (ngModelChange)="compareDate()" (focusout)="EngCalendarOnDateChange()" />
                                    <span class="color-red font-sm" *ngIf="!validDate">Enter Valid Date.</span><br />
                                    <span class="color-red font-sm" *ngIf="!validDate">{{this.selectedAdmission.BedInformation.Action}} Date was {{this.selectedAdmission.BedInformation.StartedOn | DanpheDateTime:'format':'YYYY-MM-DD HH:mm'}}</span>

                                </div>
                                <label class="control-label col-md-1"> <b>(BS)</b> <b style="float:right;">:</b></label>
                                <div class="col-md-5">
                                    <np-calendar [ngModelOptions]="{standalone: true}" ngDefaultControl
                                                 [showTime]="true" [display]="single-line" [(ngModel)]="dischargeDateNp" (focusout)="NepCalendarOnDateChange();compareDate();">
                                    </np-calendar>
                                </div>

                            </div>
                        </form>
                        <div class="row">
                            <button type="button" class="btn btn-primary btn-sm" (click)="Discharge()">
                                Discharge
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" (click)="Close()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Model Box Body End-->
    </div>
</div>



<div class="popup-static portlet box portlet-fullscreen w3-modal-content w3-card-4 w3-animate-zoom" *ngIf="showPatientBillHistory">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <div class="form-body">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                    <a style="float:right;" class="btn btn-danger" (click)="CloseBillHistory()" title="Cancel">X</a>
                    <bill-history [showPatientBillHistory]="showPatientBillHistory"
                                  [patient]="selPatient" *ngIf="showPatientBillHistory"></bill-history>
                </div>
            </div>
        </div>
        <!--Model Box Body End-->
    </div>
</div>


<div *ngIf="showGenericSticker">
    <visit-gen-sticker-print *ngIf="showGenericSticker" [single-sticker-info]="patVisitGenericStickerInfo" (on-popup-closed)="CloseGenericSticker($event)">
    </visit-gen-sticker-print>
</div>

<div *ngIf="showWristBand">
    <ip-wrist-band *ngIf="showWristBand" [showWristBand]="true" [patientVisitId]="patientVisitId" [showAsPopup]="true" (on-popup-closed)="CloseWristBandPage($event)">
    </ip-wrist-band>
</div>

