<style>
  #printpage table tr td,
  #printpage table th {
    border-color: #000
  }
</style>
<div>
  <div class="inv_modal">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div>
          <div id="printpage">
            <div>
              <div style="display: flex;justify-content: space-between;">
                <div style="text-align: left;width:20%">
                  <img class="img-responsive" style="max-height:12rem;" src="../../../themes/theme-default/images/hospital-logo.PNG" />
                </div>
                <div style="text-align: center;width:60%">
                  <div style="font-weight: 700;margin-bottom:5px" *ngIf="!!headerDetail.header1">{{headerDetail.header1}} </div>
                  <div style="font-weight: 700;margin-bottom:5px" *ngIf="!!headerDetail.header2">{{headerDetail.header2}} </div>
                  <div style="font-weight: 700;margin-bottom:5px" *ngIf="!!headerDetail.header3">{{headerDetail.header3}} </div>
                  <div style="font-weight: 700;margin-bottom:5px" *ngIf="!!headerDetail.header4">{{headerDetail.header4}} </div>
                  <div style="font-weight: 700;margin-bottom:5px">{{headerDetail.hospitalName}}</div>
                  <div style="font-weight: 700;">{{headerDetail.address}}</div>
                  <div style="font-weight: 700; text-decoration: underline;">दाखिला प्रतिवेदन फाराम</div>
                </div>
                <div style="text-align: right;width:20%">
                  <div>म.ले.प.फारम नं: ४०३ </div>
                  <div>साबिकको फारम नं: ४६ </div>
                </div>
              </div>
              <div style="text-align: right; margin-bottom:2rem;">
                <div>दाखिला मितिः <span *ngIf="goodsReceipt.GoodsReceiptDate">{{goodsReceipt.GoodsReceiptDate |
                    nepaliDate }}</span></div>
                <div>दाखिला प्रतिवेदन नम्बरः {{goodsReceipt.GoodsReceiptNo}} </div>
                <div *ngIf="goodsReceipt.PurchaseOrderId">खरिद आदेश नं: {{goodsReceipt.PONumber || ''}} </div>
                <div *ngIf="goodsReceipt.DonationId">हस्तान्तरण फारम नं: {{goodsReceipt.DonationId || ''}} </div>
              </div>
            </div>
            <div>
              <table class="table table-condensed" style="width: 100%;table-layout: fixed;margin-bottom: 0;" border="1">
                <thead>
                  <tr>
                    <th style="padding: 5px 2.5px;font-size: 1rem;width: 30px;" rowspan="2">क्र.सं.</th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">जिन्सी करण सङ्केत न.
                    </th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">जिन्सी खाता पाना.नं.
                    </th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">सामानको नाम</th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">स्पेसिफि-<br />केसन
                    </th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">सामानको पहिचान नं.</th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">मोडल नं.</th>
                    <th style="padding: 5px 2.5px;font-size: 1rem; text-align: center;" colspan="4">
                      मूल्य (विल विजक अनुसार ) </th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">अन्य खर्च</th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">जम्मा </th>
                    <th style="padding: 5px 2.5px;font-size: 1rem;" rowspan="2">कैफियत</th>
                  </tr>
                  <tr>
                    <th style="padding: 5px 2.5px; width: 5%;font-size: 1rem;">इकाई </th>
                    <th style="padding: 5px 2.5px; width: 5%;font-size: 1rem;">परिमाण</th>
                    <th style="padding: 5px 2.5px; width: 5%;font-size: 1rem;">दर</th>
                    <th style="padding: 5px 2.5px; width: 5%;font-size: 1rem;">मु. अ. कर</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let gritem of goodsReceipt.GoodsReceiptItem let i = index">
                    <td style="border-right: 1px solid; padding: 5px 2.5px;font-size: 1rem;">{{i+1}}</td>
                    <td style="padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.ItemCategoryCode}}</td>
                    <td style="padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      <!-- This space for जिन्सी खाता पाना.नं. -->
                      {{gritem.RegisterPageNumber}}
                    </td>
                    <td style="padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all; text-align: left;"
                      colspan="3">

                      <!-- We're merging values of 3 columns (सामानको नाम, स्पेसिफि-
                      केसन, सामानको पहिचान नं.) to fit the content of ItemName etc.. since those were not coming good in 1 column each. -->

                      <span style="font-weight: bold;text-transform: uppercase;"> {{gritem.ItemName}}</span>
                      <span *ngIf="gritem.GRItemSpecification">
                        <br />
                        {{ gritem.GRItemSpecification }}
                      </span>
                    </td>

                    <td style="padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      <!-- this space for Model Number -->
                    </td>
                    <td style=" padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.UOMName}}</td>
                    <td style=" padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.ReceivedQuantity}}</td>
                    <td style=" padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.GRItemRate | number: "1.0-2"}}</td>
                    <td style=" padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.VATAmount | number: "1.0-2"}}</td>
                    <td
                      style=" border-right: 1px solid; padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.OtherCharge}}</td>
                    <td style="padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.ItemTotalAmount | number: "1.0-2"}}</td>
                    <td style="padding: 5px 2.5px; width: 5%; font-size:1rem;word-break: break-all;">
                      {{gritem.Remarks}}</td>
                  </tr>
                  <tr>
                    <td style="padding: 5px 2.5px; font-weight: 700; font-size: 1rem; text-align: right;" colspan="12">
                      जम्मा रकम</td>
                    <td style="padding: 5px 2.5px; font-size: 1rem;" colspan="2">
                      {{goodsReceipt.TotalAmount -goodsReceipt.OtherCharges | number: "1.0-2"}}</td>
                  </tr>
                  <tr>
                    <td style=" padding: 5px 2.5px; font-weight: 700; font-size: 1rem; text-align: right;" colspan="12">
                      थप अन्य खर्च</td>
                    <td style=" padding: 5px 2.5px; font-size: 1rem;" colspan="2">
                      {{goodsReceipt.OtherCharges | number: "1.0-2"}}</td>
                  </tr>
                  <tr>
                    <td style=" padding: 5px 2.5px; font-size: 1.3rem;text-transform: capitalize;" colspan="8">
                      In Words: {{goodsReceipt.TotalAmount | number: "1.0-2" | NumberInWords}} ruppees only.</td>
                    <td style=" padding: 5px 2.5px; font-weight: 700; font-size: 1rem; text-align: right;" colspan="4">
                      कुल जम्मा रकम</td>
                    <td style="padding: 5px 2.5px; font-size: 1rem;" colspan="2">
                      {{goodsReceipt.TotalAmount | number: "1.0-2"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <div style="padding: 2rem;">
                <div style="margin-bottom: 1.3rem;line-height: 3.5rem;font-size: 1.3rem;">माथि उल्लेखित मालसामान खरिद
                  आदेशनम्बर / हस्तान्तरन फारम नम्बर <b><span
                      *ngIf="goodsReceipt.PurchaseOrderId">{{goodsReceipt.PurchaseOrderId}}
                      /</span>{{goodsReceipt.BillNo}}</b> मिति <span
                    *ngIf="goodsReceipt.GoodsArrivalDate"><b>{{goodsReceipt.GoodsArrivalDate | nepaliDate }}</b></span>
                  अनुसार श्री <b>{{goodsReceipt.VendorName}}</b> बाट
                  प्राप्त हुन आएको हुदा जाची गन्ती गरी हेर्दा ठिक दुरुस्त भएकोले खातामा आम्दानी बाधेको प्रमाणित
                  गर्दछु ।
                </div>
                <div style="margin-bottom: 3rem;line-height: 1.3rem;font-size: 1.3rem;">
                  उपर्युक्तअनुसार दाखिला प्रतिवेदन तयार गर्ने, जाँच गर्ने र स्वीकृत गर्नेः
                  <span *ngIf="goodsReceipt.IsCancel" class="cancelStamp">
                    <strong>Cancelled</strong>
                  </span>
                </div>
                <div style="display: flex; justify-content: space-around;font-weight: 500;">
                  <div>
                    <div style="font-size: 1.3rem;"><strong>फाँटवालाको दस्तखतः</strong></div>
                    <div style="font-size: 1.3rem;">नामः</div>
                    <div style="font-size: 1.3rem;">पदः</div>
                    <div style="font-size: 1.3rem;">मितिः</div>
                  </div>
                  <div>
                    <div style="font-size: 1.3rem;"><strong>भण्डार प्रमुखको दस्तखतः</strong></div>
                    <div style="font-size: 1.3rem;">नामः</div>
                    <div style="font-size: 1.3rem;">पदः</div>
                    <div style="font-size: 1.3rem;">मितिः</div>
                  </div>
                  <div>
                    <div style="font-size: 1.3rem;"><strong>प्रमाणित गर्नेको दस्तखतः</strong></div>
                    <div style="font-size: 1.3rem;">नामः</div>
                    <div style="font-size: 1.3rem;">पदः</div>
                    <div style="font-size: 1.3rem;">मितिः</div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="goodsReceipt.GRStatus == 'verified' || goodsReceipt.GRStatus == 'pending'">
              नोट:"दाखिला प्रतिवेदन फाराम स्वीकृत हुन बाँकी छ | "
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>