th {
  white-space: nowrap;
  height: 30px;
  position: sticky;
  background-color: #dee6ef;
  top: 50px;
  color: #434343;
  font-size: 12px !important;
}
.btn-wrap .btn {
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 10px;
  background-color: #dcf1ff !important;
  color: #0773bc !important;
  border: none !important;
}
.btn-wrap .btn:hover {
  background-color: #0773bc !important;
  color: #ffffff !important;
}
.btn-wrap .btn a {
  color: #0773bc !important;
}
.btn-wrap .btn:hover a {
  color: #ffffff !important;
}
.grid-title-wrap {
}
