.receiveContainer {
  border: dotted 1px rgb(58, 57, 57);
  box-shadow: 0.5px 0.5px rgba(36, 15, 15, 0.527) !important;
  margin: 5px;
  padding: 15px;
}

.receiveStamp {
  transform: rotate(12deg);
  color: #555;
  font-size: 2rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: "Courier";
  mix-blend-mode: multiply;
  color: #0a9928;
  border: 0.5rem solid #0a9928;
  transform: rotate(-14deg);
  border-radius: 0;
}