<style>
  .printStyle {
    border: dotted 1px;
    margin: 10px 100px;
  }

  .print-border-top {
    border-top: dotted 1px;
  }

  .print-border-bottom {
    border-bottom: dotted 1px;
  }

  .print-border {
    border: dotted 1px;
  }

  .center-style {
    text-align: center;
  }

  .border-up-down {
    border-top: dotted 1px;
    border-bottom: dotted 1px;
  }

  td.td--break-text {
    width: 30rem;
    line-break: anywhere;
  }
</style>
<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showDispatchRequisitionPopup">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="modelbox-div clearfix">
          <a class="btn btn-danger history-del-btn" (click)="Close()" title="Cancel"><i class="fa fa-close"></i></a>
          <div class="form-body">
            <div class="col-md-12">
              <!--Nepali-Receipt-view-->
              <app-dispatch-np-view *ngIf="showNepaliReceipt else EnglishReceiptView" [dispatch-id]="DispatchId" [requisition-id]="requisitionId"
                                    [module-type]="'inventory-substore'"></app-dispatch-np-view>
              <!--English Receipt-->
              <ng-template #EnglishReceiptView>
                <div id="printpage" class="row printStyle print-border">
                  <div style="text-align:center;">
                    <div class="col-md-12">
                      <div class="row" style="margin-bottom: 10px;">
                        <div class="logo" style="width: 18%;padding:0px 15px 0px 15px; float: left;">
                          <img class="img-responsive" style="max-height:70px;" src="../../../themes/theme-default/images/hospital-logo.PNG" />
                        </div>
                        <div style="width: 64%;float: left;padding-bottom:  0px;">
                          <div class="text-center bill-head" style="text-align: center;font-family:sans-serif; margin-top: 10px;">
                            <span style="font-size:15px;"><strong>{{headerDetail.hospitalName}}</strong></span><br />
                            <span style="font-size:15px;">{{headerDetail.address}}</span><br />
                            <span style="font-size:13px;">{{GeneralFieldLabel.PANNo}}: {{headerDetail.PANno}} , Tel: {{ headerDetail.tel}}</span><br />
                            <span style="font-size:15px;"><strong> Inventory Unit </strong></span><br />
                          </div>
                        </div>
                        <div style="float: left;">
                          <div class="qr-code">
                            <qr-code [size]="75" [backgroundAlpha]="0"></qr-code>
                          </div>
                        </div>
                        <!-- Billing Header  -->
                        <div style="clear:left"></div>
                      </div>
                      <div class="clear"></div>
                      <div class="left" style="text-align:left;">
                        <div>Requisition No:<b> {{requisitionDispatch.RequisitionNo}}</b></div>
                        <p>Request From:<b> {{requisitionDispatch.TargetStoreName}}</b></p>

                      </div>

                      <div class="right" style="text-align:right;">
                        <p *ngIf="requisitionDispatch.IssueNo!==null">Issue No:<b> {{requisitionDispatch.IssueNo}}</b></p>
                        <p *ngIf="requisitionDispatch.DispatchNo!==null">Dispatch No:<b> {{requisitionDispatch.DispatchNo}}</b></p>
                        <p>Requisition Date:
                          <b> {{requisitionDispatch.RequisitionDate | date:'yyyy-MM-dd'}}</b>
                          &nbsp;&nbsp;
                          <i *ngIf="requisitionDispatch.RequisitionDate">
                            {{requisitionDispatch.RequisitionDate | nepaliDate:'format':'YYYY-MM-DD'}} 
                          </i>
                        </p>
                      </div>
                      <div class="clear"></div>
                      <p class="text-center btm-pad border-up-down"><b>DISPATCH DETAILS PRINT</b></p>
                      <div class="clear"></div>
                      <div class="clear footer"></div>
                      <div class="table-responsive">
                        <table class="table table-striped table-hover req_table" style="background-color:initial;margin-top:10px;width:100%">
                          <thead>
                            <tr style="font-weight: bold;text-align:center">
                              <td>Item Name</td>
                              <td *ngIf="showBarcode">BarCode</td>
                              <td *ngIf="showSpecification">Specification</td>
                              <td>Item Code</td>
                              <td>Requested Qty</td>
                              <td>Dispatched Qty</td>
                              <td>Total Received</td>
                              <td>Pending</td>
                              <td>Status</td>
                              <td>Remarks</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr style="text-align:center" *ngFor="let row of requisitionItemsDetails">
                              <td>{{row.ItemName}}</td>
                              <td *ngIf="showBarcode" class="td--break-text">{{row.BarCodeNumber !=null?row.BarCodeNumber:'-'}}</td>
                              <td *ngIf="showSpecification">{{row.Specification}}</td>
                              <td>{{row.Code}}</td>
                              <td>{{row.Quantity}}</td>
                              <td>{{row.DispatchedQuantity}}</td>
                              <td>{{row.ReceivedQuantity}}</td>
                              <td>{{row.PendingQuantity}}</td>
                              <td><b>{{row.RequisitionItemStatus}}</b></td>
                              <td><b>{{row.ItemRemarks}}</b></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <hr />
                      <div class="row" style="text-align: left;">
                        <label for="Remarks" class="col-md-2">Dispatch Remarks <span class="right">:</span></label>
                        <span>{{requisitionDispatch.Remarks}}</span>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div style="display: flex;flex-direction: row;justify-content: space-between;">
                            <div style="margin-bottom:1rem; text-align: left;">
                              <div [hidden]="requisitionDispatch.IsDirectDispatched">
                                <div><u>Requested By</u>:</div>
                                <div>{{requisitionDispatch.RequestedByName}}</div>
                                <div>{{requisitionDispatch.RequisitionDate | date : 'mediumDate'}}</div>
                              </div>
                            </div>
                            <div style="margin-bottom:1rem; text-align: left;" *ngIf="requisitionDispatch.DispatchedByName">
                              <div><u>Dispatched By</u>:</div>
                              <div>{{requisitionDispatch.DispatchedByName}} </div>
                              <div>{{requisitionDispatch.DispatchedDate | date : 'mediumDate'}}</div>
                            </div>
                            <div style="margin-bottom:1rem; text-align: left;" *ngIf="requisitionDispatch.ReceivedBy">
                              <div><u>Received By</u>:</div>
                              <div>{{requisitionDispatch.ReceivedBy}}</div>
                              <div>{{requisitionDispatch.ReceivedDate | date : 'mediumDate'}}</div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="col-md-12 hidden-in-print no-print">
                        <app-track-requisition [RequisitionId]="requisitionId"></app-track-requisition>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="col-md-12" *ngIf="!showNepaliReceipt">
              <div class="right">
                <button id="printButton" class="btn green btn-success margin-7-hr" (click)="print()"><i class="fa fa-print"></i>Print</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>