<div class="wrapper">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <danphe-grid [grid-colDefaults]="PatientConsumptionReturnColumns" [grid-data]="PatientConsumptionReturnList"
                   (grid-actions)="PatientConsumptionReturnGridAction($event)"
                   [show-print-button]="false" [NepaliDateInGridParams]="NepaliDateInGridSettings">
      </danphe-grid>
    </div>
  </div>
</div>


<div class="popup-static portlet box portlet-fullscreen inv_modal" *ngIf="showPrintPage">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="modelbox-div clearfix">
          <a class="btn btn-danger history-del-btn" (click)="ClosePrintPage()" title="Cancel"><i class="fa fa-close"></i></a>
          <div class="form-body">
            <div class="col-md-12">
              <div class="row printStyle print-border">
                <div *ngIf="showPrintPage" style="text-align:center;">
                  <phrm-return-consumption-receipt
                                                   [patient-consumption-return-receipt-no]="PatientConsumptionReturnReceiptNo"></phrm-return-consumption-receipt>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>