
<h5 *ngIf="needsPasswordUpdate" style="color:red;">Your password has expired. please change the password before continuing.</h5>
 
   <!-- CHANGE PASSWORD TAB -->
<div class="tab-pane" id="tab_1_3">
    <form [formGroup]="currentPassModel.ChangePasswordValidator" style="width:400px;" method="post">
        <div class="form-group">
            <label class="control-label">UserName</label>
            <input type="text" class="form-control"  readonly value="{{currentPassModel.UserName}}"  [(ngModel)]="currentPassModel.UserName" [ngModelOptions]="{standalone: true}" />
            
        </div>
        <div class="form-group">
            <label class="control-label">Current Password</label>
            <input type="password" class="form-control"  [(ngModel)]="currentPassModel.Password" formControlName="Password" />
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('Password')" [hidden]="currentPassModel.IsValidCheck('Password','required')"> Password is required</span>
          
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('Password')" [hidden]="currentPassModel.IsValidCheck('Password','maxlength')"> Maximum 20 character Only </span>
        </div>
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input type="password" class="form-control"  [(ngModel)]="currentPassModel.NewPassword" formControlName="NewPassword"/>
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('NewPassword')" [hidden]="currentPassModel.IsValidCheck('NewPassword','required')"> New Password is required</span>
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('NewPassword')" [hidden]="currentPassModel.IsValidCheck('NewPassword','minlength')"> Minimum 6 character needed</span>
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('NewPassword')" [hidden]="currentPassModel.IsValidCheck('NewPassword','maxlength')"> Maximum 20 character Only </span>
            <span class="color-red font-sm" *ngIf="currentPassModel.ChangePasswordValidator.controls.NewPassword.errors?.MatchPasswordAndNewPassword">Provided Current and New Password is Same</span>
            
         </div>
        <div class="form-group">
            <label class="control-label">Re-type New Password</label>
            <input type="password" class="form-control" [(ngModel)]="currentPassModel.ConfirmPassword" formControlName="ConfirmPassword" />
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('ConfirmPassword')" [hidden]="currentPassModel.IsValidCheck('ConfirmPassword','required')"> Confirm Password is required</span>
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('ConfirmPassword')" [hidden]="currentPassModel.IsValidCheck('ConfirmPassword','minlength')"> Minimum 6 character needed</span>
            <span class="color-red font-sm" *ngIf="currentPassModel.IsDirty('ConfirmPassword')" [hidden]="currentPassModel.IsValidCheck('ConfirmPassword','maxlength')"> Maximum 20 character Only </span>

            <span class="color-red font-sm" *ngIf="currentPassModel.ChangePasswordValidator.controls.ConfirmPassword.errors?.MatchNewAndConfirmPassword">Password not match</span>
         </div>
      
        <div class="margin-top-10">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn green" type="button" (click)="ChangePassword()" [disabled]="!(currentPassModel.IsValid())">
                        Change Password
                    </button> &nbsp;&nbsp;&nbsp;&nbsp;
                
                    <button class="btn default" type="button" (click)="ClearChangePasswordData()">
                        Cancel
                    </button>
                </div>
            </div>
           
        </div>
    </form>
</div>
<!-- END CHANGE PASSWORD TAB -->



    
