
<base href="/">
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li><a routerLink="LabTest" [routerLinkActive]="'a-tab-active'">Lab Test</a></li>
      <li><a routerLink="LabTestComponent" [routerLinkActive]="'a-tab-active'">Lab Test Components</a></li>
      <li><a routerLink="ReportTemplate" [routerLinkActive]="'a-tab-active'">Report Template</a></li>
      <li><a routerLink="Signatories" [routerLinkActive]="'a-tab-active'">Default Signatories</a></li>
      <li><a routerLink="Vendors" [routerLinkActive]="'a-tab-active'">Vendors</a></li>
      <li><a routerLink="LookUps" [routerLinkActive]="'a-tab-active'">Look Ups</a></li>
    </ul>
  </div>  
</div>
<router-outlet></router-outlet>
