<style>
.bg-on {
	background-color: rgb(220, 252, 220);
	padding-right: 0px !important;
}
.bg-off {
	background-color: none;
	padding-right: 0px !important;
}
.bg-on, .bg-off {
	cursor: pointer;
}
.icheck-inline > label:first-child {
	margin-left: 14px !important;
}
.mt-checkbox.mt-checkbox-outline > input:focus ~ span, .mt-checkbox.mt-checkbox-outline > span, .mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]) ~ span {
	border: 1px solid #33c0cd !important;
}
.activealpha {
	background: transparent;
	color: #006687;
}
</style>
<div class="wrapper"> 
  <!--@*there was row class as well but Anish Removed it*@-->
  <div class="row">
    <div class="col-md-12">
      <label class="mt-checkbox mt-checkbox-outline" style="float: left;">
        <input type="checkbox" [(ngModel)]="ordServ.showAllLabTest" value="" />
        <span></span>Show All Lab Test </label>
      <div *ngIf="ordServ.allLabtests.length >0 && ordServ.showAllLabTest" style="float: left; width: auto; margin-left: 25px;">
        <input danphe-auto-complete class="searchtbx"
                   [(ngModel)]="labTest"
                   [source]="testNameServerPath"
                   [list-formatter]="myListFormatter"
                   placeholder="Lab Test Name"
                   path-to-data="Results"
                   display-property-name="LabTestName"
                   value-property-name=null
                   min-chars="2"
                   (valueChanged)="SelectTestFromSearchBox(labTest)"
                   max-num-list="10" onClick="this.select();" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box blue-hoki">
        <div class="portlet-title"> 
          <!--   @*sud: lab-refactoring:23May'18*@-->
          <h5 style="font-weight: bold;"> My Favourites
            <label class="mt-checkbox mt-checkbox-outline pull-right" style="line-height: 20px;padding-left: 25px;">
              <input type="checkbox" [(ngModel)]="selectAllPreference" value="" (change)="SelectAllPreference()" />
              <span style="background: #fff;margin-top: -2px;display: inline-block;"></span> Select All </label>
          </h5>
        </div>
        <div class="portlet-body">
          <div class="input-group">
            <div class="icheck-inline">
              <label *ngFor="let test of ordServ.labTestPreference;let i=index;" class="mt-checkbox mt-checkbox-outline table-condensed table-bordered table-hover" [ngClass]="test.IsSelected ? 'bg-on' : 'bg-off'" title="{{test.LabTestName}}">
                <input type="checkbox" name="test.LabTestId" [(ngModel)]="test.IsSelected" (ngModelChange)="ordServ.LabEventHandler(test)" />
                <span></span>{{test.LabTestName}} &nbsp;&nbsp;&nbsp;&nbsp; </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="ordServ.allLabtests.length>0 && ordServ.showAllLabTest == true">
    <div class="col-md-12">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <h5 style="font-weight: bold;padding-left: 15px;"> All Lab Tests: </h5>
        </div>
        <div class="portlet-body" style="padding-top: 0px;">
          <div class="row">
            <div class="dict-indxholder" id="allAlphaHolder" style="padding: 8px 15px;background: #e4e2e2;"> <a *ngFor="let lbtest of labTestsHash; let i = index;" id="{{lbtest.Key}}"  [ngClass]="i==0 ? 'alphabets activealpha':'alphabets' "  (click)="alphabetClick($event,lbtest.Key)" >{{lbtest.Key}}</a> </div>
          </div>
          <!--  @*sud: lab-refactoring:23May'18*@-->
          
          <div class="input-group" style="padding-top: 15px;">
            <div id="allTests" class="icheck-inline" style="height: 420px; overflow-y: scroll;" (scroll)="scrollHandler()">
              <div *ngFor="let lbtest of labTestsHash;let i=index;" id="target{{lbtest.Key}}" class="label-holdr">
                <label *ngFor="let test of lbtest.Values;let i=index;" [ngClass]="test.IsSelected ? 'bg-on' : 'bg-off'" title="{{test.LabTestName}}"
                                   class="mt-checkbox mt-checkbox-outline table-condensed table-bordered table-hover">
                  <input type="checkbox" name="test.LabTestId" [(ngModel)]="test.IsSelected" (ngModelChange)="ordServ.LabEventHandler(test)">
                  <span></span>{{test.LabTestName}} </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
