<div class="popup-static portlet box portlet-fullscreen custom_modal">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="modelbox-div clearfix">
                    <div class="caption custom-caption">
                        <h3> <span *ngIf="!update">Add Bed Feature Scheme And PriceCategory</span> <span *ngIf="update">Update Bed Feature Scheme And
                                PriceCategory</span> </h3>
                        <a class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="">
                                <table class="table table-responsive table-bordered">
                                    <tr>
                                        <td>
                                            <form [formGroup]="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator"
                                                  class="form-horizontal hm-form">
                                                <div class="text-center" style="display: flex;align-items: center;">
                                                    <label>Bed Feature:<sup style="color: red">*</sup></label>
                                                    <input danphe-auto-complete [source]="bedFeatureList" [(ngModel)]="selectedBedFeature"
                                                           placeholder="Select Bed Feature" max-num-list="8" min-chars="0"
                                                           display-property-name="BedFeatureName" [list-formatter]="BedFeatureFormatter"
                                                           onclick="select()" (valueChanged)="BedFeatureEventHandler()" formControlName="BedFeatureId"
                                                           value-property-name="BedFeatureId" class="form-control">
                                                </div>
                                                <span
                                                      *ngIf="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.dirty && BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.invalid ">
                                                    <span style="color: red"
                                                          *ngIf="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.controls['BedFeatureId'].hasError('required')">required</span>

                                                </span>
                                            </form>
                                        </td>
                                        <td>
                                            <form [formGroup]="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator"
                                                  class="form-horizontal hm-form">
                                                <div class="text-center" style="display: flex; align-items: center;">
                                                    <label>Scheme:<sup style="color: red">*</sup></label>
                                                    <input danphe-auto-complete [source]="BillSchemeList" [(ngModel)]="selectedScheme"
                                                           placeholder="Select Scheme" max-num-list="8" min-chars="0"
                                                           display-property-name="SchemeName" [list-formatter]="SchemeFormatter" onclick="select()"
                                                           (valueChanged)="SchemeEventHandler()" formControlName="SchemeId"
                                                           value-property-name="SchemeId">
                                                </div>
                                                <span
                                                      *ngIf="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.dirty && BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.invalid ">
                                                    <span style="color: red"
                                                          *ngIf="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.controls['SchemeId'].hasError('required')">required</span>

                                                </span>
                                            </form>
                                        </td>
                                        <td>
                                            <form [formGroup]="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator"
                                                  class="form-horizontal hm-form">
                                                <div class="text-center" style="display: flex; align-items: center;">
                                                    <label>Price Category:<sup style="color: red">*</sup></label>
                                                    <input danphe-auto-complete [source]="PriceCategoryList" [(ngModel)]="selectedPriceCategory"
                                                           placeholder="Select Price Category" max-num-list="8" min-chars="0"
                                                           display-property-name="PriceCategoryName" [list-formatter]="PriceCategoryFormatter"
                                                           onclick="select()" (valueChanged)="PriceCategoryEventHandler()"
                                                           formControlName="PriceCategoryId" value-property-name="PriceCategoryId">
                                                </div>
                                                <span
                                                      *ngIf="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.dirty && BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.invalid ">
                                                    <span style="color: red"
                                                          *ngIf="BedFeatureSchemePriceCategory.BedFeatureSchemePriceCategoryValidator.controls['PriceCategoryId'].hasError('required')">required</span>

                                                </span>
                                            </form>
                                        </td>
                                        <td *ngIf="!update"><button class="btn btn-green" type="button" (click)="Add()"><i
                                                   class="fa fa-plus"></i></button></td>
                                    </tr>
                                    <tr *ngIf="!update">
                                        <th>Bed Feature Name</th>
                                        <th>Scheme Name</th>
                                        <th>Price Category</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr *ngFor="let bedSchemePriceCateoryMap of BedFeatureSchemePriceCategoryMaps; let i =index;">
                                        <td>{{bedSchemePriceCateoryMap.BedFeatureName}}</td>
                                        <td>{{bedSchemePriceCateoryMap.SchemeName}}</td>
                                        <td>{{bedSchemePriceCateoryMap.PriceCategoryName}}</td>
                                        <td *ngIf="!update"><button class="btn btn-danger" type="button" (click)="Delete(i)"><i
                                                   class="fa fa-times"></i></button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right" style="margin-top: 10px;margin-bottom: 10px;">
                        <input type="button" class="btn btn-green" [disabled]="loading" *ngIf="!update" (click)="Save()" value="Save" />
                        <input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />
                        <input type="button" class="btn btn-warning" *ngIf="!update" (click)="Discard()" value="Discard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>