body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
/*
    background-color: #1f67c040;
    border: 1px solid #ddd;
*/
    /*padding: .35em;*/
  }

  table th,
  table td {
    padding: .625em;
/*    text-align: center;*/
  }
    table td input[type="text"] {
        width: 100%;
        border: 1px solid #ddd;
    }
  table th {
    font-size: 10px;
/*    letter-spacing: .1em;*/
    text-transform: uppercase;
  }
h2 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #fafcfb;
  padding: 10px;
  position: relative;
  padding-left: 30px;
}
  h2:before {
    content: "\2630";
    position: absolute;
    left: 10px;
  }
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

      table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      table td:last-child {
        border-bottom: 0;
      }
}
