<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings> 
    <add name="irdNplConnStr" connectionString="Data Source=DESKTOP-PRHB7HV\SQLEXPRESS2016_2;Initial Catalog=BIL_DanpheEMR;Integrated Security=True;MultipleActiveResultSets=true" />
  </connectionStrings>

  <appSettings>
    <add key="RemoteSyncServers" value="IRDNepal" />
    <add key="user_IRDNepal" value="Test_CBMS" />
    <add key="pwd_IRDNepal" value="test@321" />
    <add key="url_IRDNepal" value="http://202.166.207.75:9050" />
    <add key="api_SalesIRDNepal" value="api/bill" />
    <add key="api_SalesReturnIRDNepal" value="api/billreturn" />
    <add key="seller_pan_IRDNepal" value="999999999" />  
    <add key="maximumTXNRecords" value="200" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
