<input type="button" class="btn btn-primary" (click)="AddTAX()" value="Add TAX" />
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="taxGridColumns" [grid-data]="taxList" (grid-actions)="TAXGridActions($event)">
        </danphe-grid>
    </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showTAXAddPage">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <form [formGroup]="currentTAX.TAXValidator" class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                        <div class="col-md-12">
                            <div class="caption" style="color:blue; margin-top:10px;">
                                <span *ngIf="!update">Add TAX</span>
                                <span *ngIf="update">Update TAX</span>
                            </div>
                            <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                            <hr />
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">TAX Name<b class="color-red">  *</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="50"
                                               [(ngModel)]="currentTAX.TAXName"
                                               formControlName="TAXName"
                                               value=""
                                               placeholder="Enter TAX name" />
                                        <span class="color-red font-sm" [hidden]="currentTAX.IsValidCheck('TAXName','required') || !(currentTAX.IsDirty('TAXName'))">TAX name is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">TAX Percentage<b class="color-red">  *</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="10"
                                               [(ngModel)]="currentTAX.TAXPercentage"
                                               formControlName="TAXPercentage"
                                               value=""
                                               placeholder="Enter Percentage of TAX" />
                                        <span class="color-red font-sm" [hidden]="currentTAX.IsValidCheck('TAXPercentage','required') || !(currentTAX.IsDirty('TAXPercentage'))">TAX Percentage is required</span>
                                        <span class="color-red font-sm" *ngIf="currentTAX.IsDirty('TAXPercentage')" [hidden]="currentTAX.IsValidCheck('TAXPercentage','pattern')">Percentage is not proper</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">TAX Description<b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="100"
                                               [(ngModel)]="currentTAX.Description" [ngModelOptions]="{standalone: true}"
                                               value=""
                                               placeholder="Enter Description" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 18px;">
                            <div class="form-actions">
                                <input type="button" class="btn btn-primary" *ngIf="!update" (click)="Add()" value="Add" />
                                <input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                </div>
            </div>
        </form>
        <!--</form>-->
        <!--Model Box Body End-->
    </div>
</div>