<input type="button" class="btn btn-primary" (click)="AddSupplier()" value="Add Supplier" />
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="supplierGridColumns" [grid-data]="supplierList" (grid-actions)="SupplierGridActions($event)">
        </danphe-grid>
    </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showSupplierAddPage">
    <div class="portlet-body form" style="background-color:white">
        <!--Model Box Body Start-->
        <form [formGroup]="CurrentSupplier.SupplierValidator" class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
                        <div class="col-md-12">
                            <div class="caption" style="color:blue; margin-top:10px;">
                                <span *ngIf="!update">Add Supplier</span>
                                <span *ngIf="update">Update Supplier</span>
                            </div>
                            <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
                            <hr />
                        </div>
                        <br />
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">Supplier Name<b class="color-red">  *</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="50"
                                       [(ngModel)]="CurrentSupplier.SupplierName" formControlName="SupplierName"
                                       value=""
                                       placeholder="Enter Supplier Name" />
                                <span class="color-red font-sm" [hidden]="CurrentSupplier.IsValidCheck('SupplierName','required') || !(CurrentSupplier.IsDirty('SupplierName'))">Supplier name is required</span>
                                <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('SupplierName')" [hidden]="CurrentSupplier.IsValidCheck('SupplierName','maxlength')"> Length is not proper</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">Contact<b class="color-red">  *</b><b style="float:right;">:</b><br />Number</label>
                              <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="10"
                                       [(ngModel)]="CurrentSupplier.ContactNo"
                                       formControlName="ContactNo"
                                       value=""
                                       placeholder="Enter Contact number" />
                                <span class="color-red font-sm" [hidden]="CurrentSupplier.IsValidCheck('ContactNo','required') || !(CurrentSupplier.IsDirty('ContactNo'))">Contact number is required</span>
                                <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('ContactNo')" [hidden]="CurrentSupplier.IsValidCheck('ContactNo','pattern')"> Contact number must be of 10 digits</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">Description<b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="100"
                                       [(ngModel)]="CurrentSupplier.Description" [ngModelOptions]="{standalone: true}"
                                       value=""
                                       placeholder="Enter Description" />
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">City<b class="color-red">  *</b><b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input class="form-control" type="text" maxlength="30"
                                       [(ngModel)]="CurrentSupplier.City"
                                       formControlName="City"
                                       value=""
                                       placeholder="Enter City" />
                                <span class="color-red font-sm" [hidden]="CurrentSupplier.IsValidCheck('City','required') || !(CurrentSupplier.IsDirty('City'))">City is required</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">Credit Period<b style="float:right;">:</b></label>
                              <div class="col-md-8">
                                <input class="form-control" type="number"
                                       [(ngModel)]="CurrentSupplier.CreditPeriod" [ngModelOptions]="{standalone: true}"
                                       value=""
                                       placeholder="Enter Credit Period" />
                              </div>
                            </div>
                          </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Pan No.<b class="color-red">  *</b><b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="30"
                                               [(ngModel)]="CurrentSupplier.Pin"
                                               formControlName="Pin"
                                               value=""
                                               placeholder="Enter Pan No." />
                                        <span class="color-red font-sm" [hidden]="CurrentSupplier.IsValidCheck('Pin','required') || !(CurrentSupplier.IsDirty('Pin'))">Pan No. is required</span>
                                        <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('Pin')" [hidden]="CurrentSupplier.IsValidCheck('Pin','pattern')"> Pan No. is not proper</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Contact<b class="color-red">  *</b><b style="float:right;">:</b><br />Address</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="100"
                                               [(ngModel)]="CurrentSupplier.ContactAddress"
                                               formControlName="ContactAddress"
                                               value=""
                                               placeholder="Enter Contact Address" />
                                        <span class="color-red font-sm" [hidden]="CurrentSupplier.IsValidCheck('ContactAddress','required') || !(CurrentSupplier.IsDirty('ContactAddress'))">Contact Address is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Email<b style="float:right;">:</b></label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" maxlength="100"
                                               [(ngModel)]="CurrentSupplier.Email"
                                               value=""
                                               formControlName="Email"
                                               placeholder="Enter Email" />
                                        <span class="color-red font-sm" *ngIf="CurrentSupplier.IsDirty('Email')" [hidden]="CurrentSupplier.IsValidCheck('Email','pattern')">Email ID is not proper</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">IsActive<b style="float:right;">:</b></label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <div class="icheck-inline">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentSupplier.IsActive" [ngModelOptions]="{standalone: true}">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 18px;">
                            <div class="form-actions">
                                <input type="button" class="btn btn-primary" *ngIf="!update" (click)="Add()" value="Add" />
                                <input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
                    </div>
                </div>
            </div>
        </form>
        <!--</form>-->
        <!--Model Box Body End-->
    </div>
</div>
