<input type="button" class="btn btn-primary" (click)="AddDispensary()" value="Add Dispensary" />
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <danphe-grid [grid-colDefaults]="dispensaryGridColumns" [grid-data]="dispensaryList" (grid-actions)="DispensaryGridActions($event)">
    </danphe-grid>
  </div>
</div>
<!--Model Box Starting Here-->
<div class="popup-static portlet box portlet-fullscreen" *ngIf="showDispensaryAddPage">
  <div class="portlet-body form" style="background-color:white">
    <!--Model Box Body Start-->
    <form [formGroup]="CurrentDispensary.DispensaryValidator" class="form-horizontal">
      <div class="form-body">
        <div class="col-md-12">
          <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 modelbox-div" style="margin-right: 24px;">
            <div class="col-md-12">
              <div class="caption" style="color:blue; margin-top:10px;">
                <span *ngIf="!update">Add Dispensary</span>
                <span *ngIf="update">Update Dispensary</span>
              </div>
              <a style="float:right;  margin-top:-13px;" class="btn btn-danger" (click)="Close()" title="Cancel">X</a>
              <hr />
            </div>
            <br />
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Dispensary<b class="color-red">  *</b><b style="float:right;">:</b><br />Name</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="50"
                           [(ngModel)]="CurrentDispensary.Name" formControlName="Name"
                           value=""
                           placeholder="Enter Dispensary Name" />
                    <span class="color-red font-sm" [hidden]="CurrentDispensary.IsValidCheck('Name','required') || !(CurrentDispensary.IsDirty('Name'))">Dispensary name is required</span>
                    <span class="color-red font-sm" *ngIf="CurrentDispensary.IsDirty('Name')" [hidden]="CurrentDispensary.IsValidCheck('Name','maxlength')"> Length is not proper</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Contact<b class="color-red">  *</b><b style="float:right;">:</b><br />Number</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="10"
                           [(ngModel)]="CurrentDispensary.ContactNo"
                           formControlName="ContactNo"
                           value=""
                           placeholder="Enter Contact number" />
                    <span class="color-red font-sm" [hidden]="CurrentDispensary.IsValidCheck('ContactNo','required') || !(CurrentDispensary.IsDirty('ContactNo'))">Contact number is required</span>
                    <span class="color-red font-sm" *ngIf="CurrentDispensary.IsDirty('ContactNo')" [hidden]="CurrentDispensary.IsValidCheck('ContactNo','pattern')"> Contact number must be of 10 digits</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Description<b style="float:right;">:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="100"
                           [(ngModel)]="CurrentDispensary.DispensaryDescription" [ngModelOptions]="{standalone: true}"
                           value=""
                           placeholder="Enter Description" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label col-md-4">Contact<b style="float:right;">:</b><br />Address</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="100"
                           [(ngModel)]="CurrentDispensary.Address" [ngModelOptions]="{standalone: true}"
                           value=""
                           placeholder="Enter Contact Address" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Email<b style="float:right;">:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="100"
                           [(ngModel)]="CurrentDispensary.Email"
                           formControlName="Email"
                           value=""
                           placeholder="Enter Email" />
                    <span class="color-red font-sm" *ngIf="CurrentDispensary.IsDirty('Email')" [hidden]="CurrentDispensary.IsValidCheck('Email','pattern')">Email ID is not proper</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">Label<b style="float:right;">:</b></label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" maxlength="100"
                           [(ngModel)]="CurrentDispensary.DispensaryLabel" [ngModelOptions]="{standalone: true}"
                           value=""
                           placeholder="Enter Label" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4">IsActive<b style="float:right;">:</b></label>
                  <div class="col-md-7">
                    <div class="input-group">
                      <div class="icheck-inline">
                        <label class="mt-checkbox mt-checkbox-outline">
                          <input name="IsActive" type="checkbox" value="IsActive" [(ngModel)]="CurrentDispensary.IsActive" [ngModelOptions]="{standalone: true}">
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="padding-bottom: 18px;">
              <div class="form-actions">
                <input type="button" class="btn btn-primary" *ngIf="!update" (click)="Add()" value="Add" />
                <input type="button" class="btn btn-primary" *ngIf="update" (click)="Update()" value="Update" />
              </div>
            </div>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm" style="margin-right: 24px;">
          </div>
        </div>
      </div>
    </form>
    <!--</form>-->
    <!--Model Box Body End-->
  </div>
</div>

