<div class="sub-navtab">
  <ul class="nav nav-tabs" *ngIf="validRoutes != undefined">
    <li *ngFor="let route of validRoutes">
      <a routerLink="{{route.RouterLink}}" [routerLinkActive]="'a-tab-active'">{{route.DisplayName}}<i
          class="{{route.Css}}"></i></a>
    </li>
    <li>
      <a routerLink="PurchaseOrder" [routerLinkActive]="'a-tab-active'">
        PurchaseOrder
      </a>
    </li>
    <li>
      <a routerLink="GoodsReceipt" [routerLinkActive]="'a-tab-active'">
        GR Quality Inspection
      </a>
    </li>
  </ul>
</div>
<router-outlet>
</router-outlet>