<a feature="button" class="btn blue bordered" (click)="AddIntakeOutput()"><i class="fa fa-plus"></i>Add New Variable</a>
<div *ngIf="ShowAddPage">
    <intake-output-add [show-add-page]="ShowAddPage" [row-data]="RowData" [is-update]="IsUpdate"
                       (callback-Add)="CallBackAdd()"></intake-output-add>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <danphe-grid [grid-colDefaults]="IntakeOutputGridColumns" [grid-data]="IntakeOutputTypeListForGrid"
                     (grid-actions)="IntakeOutputGridActions($event)" [show-print-button]="false">
        </danphe-grid>
    </div>
</div>