<style>
  .main-info {
    margin-top: 31px;
  }

  .receipt-watermark:after {
    font-size: 800% !important;
    z-index: 0 !important;
    margin-left: -340px !important;
  }

  .showPrintDate {
    display: none;
  }

  body {
    font-size: 11px;
    font-family: 'Poppins', sans-serif !important;
  }

  .col-left,
  .col-right {
    display: flex;
    padding: 2px 10px;
  }

  .discharge-receipt {
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 15px;
    position: relative;
    z-index: 2;
  }
</style>

<div class="wrapper">
  <div style="border:1px dotted;padding: 10px;">
    <div id="dvDischargeBillPrintPage" class="discharge-receipt">
      <table style="width: 100%;">
        <thead>
          <tr>
            <td>
              <div class="flx" [ngClass]="'ipd-invoice-header-gap-' + hospitalCode"></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- <billing-header *ngIf="InvoiceDisplaySettings.ShowHeader"></billing-header>
              <div class="qr-code" style="position: absolute;right: 15px;top: 20px;"
                   *ngIf="InvoiceDisplaySettings.ShowHeader && InvoiceDisplaySettings.ShowQR">
                <qr-code [value]="patientQRCodeInfo" [size]="90"
                         [backgroundAlpha]="0"></qr-code>
              </div> -->

              <div *ngIf="InvoiceDisplaySettings.ShowHeader && InvoiceDisplaySettings.HeaderType==='image'">
                <img src="../../../../themes/theme-default/images/customer-headers/billing-invoice-header-image.png"
                     style="width: 100%;">
              </div>

              <div *ngIf="InvoiceDisplaySettings.ShowHeader && InvoiceDisplaySettings.HeaderType === 'custom'">
                <billing-header *ngIf="InvoiceDisplaySettings.ShowHeader"></billing-header>
                <div class="qr-code" style="position: absolute;right: 15px;top: 20px;"
                     *ngIf="InvoiceDisplaySettings.ShowHeader && InvoiceDisplaySettings.ShowQR">
                  <qr-code *ngIf="'ShowQRCode' | booleanParameter : 'Billing'" [value]="patientQRCodeInfo" [size]="90"
                           [backgroundAlpha]="0">
                  </qr-code>
                </div>
              </div>

              <div class="discharge-bill-sm-holder">
                <div class="discharge-bill-sm-header flx justify-center text-uppercase">
                  <span>
                    <span *ngIf="!isInsurance">
                      <b>
                        Invoice | Discharge Bill
                      </b>
                    </span>
                    <span *ngIf="isInsurance">
                      <b>
                        Health Insurance Credit Invoice | Discharge Bill
                      </b>
                    </span>
                  </span>
                  <b *ngIf="invoice.InvoiceInfo.PrintCount > 0">
                    | COPY ({{invoice.InvoiceInfo.PrintCount}}) OF ORIGINAL
                  </b>
                </div>
                <div class="flx flex-col discharge-bill-description-header"
                     style="margin-bottom: 10px; border-bottom: 1px solid;">
                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2"><span
                            class="text-uppercase text-bold txt-label">Hospital
                        No.&nbsp;:&nbsp;</span><span
                            class="text-uppercase text-bold txt-val">{{invoice.PatientInfo.PatientCode}}</span>
                    </div>
                    <div class="col-right"><span class="text-uppercase text-bold txt-label">IP
                        No.&nbsp;:&nbsp;</span><span
                            class="text-uppercase text-bold txt-val">{{ipdNumber}}</span>
                    </div>
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2"><span
                            class="text-uppercase text-bold txt-label">Patient's
                        Name&nbsp;:&nbsp;</span>
                      <span
                            class="text-uppercase text-bold txt-val">{{invoice.PatientInfo.ShortName}}</span>
                    </div>
                    <div class="col-right"><span class="text-uppercase text-bold txt-label">
                        Invoice No.&nbsp;:&nbsp;</span>
                      <span class="text-uppercase text-bold txt-val">
                        {{invoice.InvoiceInfo.InvoiceNumFormatted}}
                      </span>
                    </div>
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2"><span
                            class="text-uppercase text-bold txt-label">Age/Sex&nbsp;:&nbsp;</span>
                      <span class="text-uppercase text-bold txt-val">{{finalAge}}</span>
                    </div>
                    <div class="col-right">
                      <span class="text-uppercase text-bold txt-label">Trans.
                        Date&nbsp;:&nbsp;</span>
                      <span class="text-uppercase text-bold txt-val">
                        {{invoice.InvoiceInfo.TransactionDate |
                        DanpheDateTime:'format':'YYYY-MM-DD'}}&nbsp;
                      </span>
                    </div>


                  </div>

                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2" *ngIf="invoice.PatientInfo.CountryName === CountryNepal">
                      <span class="text-uppercase text-bold txt-label">Address&nbsp;:&nbsp;</span>
                      <span class="text-uppercase text-bold txt-val">
                        <span *ngIf="showMunicipality && invoice.PatientInfo.MunicipalityName">{{invoice.PatientInfo.MunicipalityName}}<span
                                *ngIf="invoice.PatientInfo.WardNumber">-{{invoice.PatientInfo.WardNumber}}</span>,
                        </span>{{invoice.PatientInfo.CountrySubDivisionName}}
                      </span>
                    </div>
                    <div class="col-left flex-2" *ngIf="invoice.PatientInfo.CountryName !== CountryNepal">
                      <span class="text-uppercase text-bold txt-label">Address&nbsp;:&nbsp;</span>
                      <span class="text-uppercase text-bold txt-val">
                        <span *ngIf="invoice.PatientInfo.Address">{{invoice.PatientInfo.Address}},
                        </span><span>{{invoice.PatientInfo.CountrySubDivisionName}}, </span>{{invoice.PatientInfo.CountryName}}
                      </span>
                    </div>
                    <div class="col-right">
                      <span class="text-uppercase text-bold txt-label">Invoice
                        Date&nbsp;:&nbsp;</span>
                      <span
                            class="text-uppercase text-bold txt-val">{{invoice.InvoiceInfo.TransactionDate
                        | DanpheDateTime:'format':'YYYY-MM-DD'}}</span>
                    </div>
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">

                    <div class="col-left flex-2">
                      <span class="text-uppercase text-bold txt-label">CONTACT&nbsp;:&nbsp;</span>
                      <span
                            class="text-uppercase text-bold txt-val">{{invoice.PatientInfo.PhoneNumber}}
                      </span>
                    </div>

                    <div class="col-right">
                      <span class="text-uppercase text-bold txt-val">
                        {{invoice.InvoiceInfo.TransactionDate | nepaliDate}}
                      </span>
                    </div>
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">

                    <div class="col-left flex-2">
                      <span class="text-uppercase text-bold txt-label">DOA&nbsp;:&nbsp;</span>
                      <span
                            class="text-uppercase text-bold txt-val">{{invoice.VisitInfo.AdmissionDate | DanpheDateTime:'format':'YYYY-MM-DD'}}
                        {{invoice.VisitInfo.AdmissionDate | nepaliDate}}</span>
                    </div>

                    <!-- <div class="col-right">
                      <span class="text-uppercase text-bold txt-val">
                        ({{invoice.InvoiceInfo.TransactionDate | nepaliDate}})
                      </span>
                    </div> -->
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2"><span
                            class="text-uppercase text-bold txt-label">DOD&nbsp;:&nbsp;</span>
                      <span
                            class="text-uppercase text-bold txt-val">{{invoice.VisitInfo.DischargeDate | DanpheDateTime:'format':'YYYY-MM-DD'}}
                        {{invoice.VisitInfo.DischargeDate | nepaliDate}}</span>
                    </div>
                    <div class="col-right">
                      <span class="text-uppercase text-bold txt-label">
                        Method of Payment:
                        {{invoice.InvoiceInfo.PaymentMode}}
                      </span>
                    </div>
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2" *ngIf="invoice.PatientInfo.PolicyNo">
                      <span class="text-uppercase text-bold txt-label">
                        Policy/Member: {{invoice.PatientInfo.PolicyNo}}
                      </span>
                    </div>
                    <div class="col-right" *ngIf="invoice.InvoiceInfo.ClaimCode">
                      <span class="text-uppercase text-bold txt-label">
                        Claim Code:{{invoice.InvoiceInfo.ClaimCode}}
                      </span>
                    </div>
                  </div>
                  <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2">
                      <span class="text-uppercase text-bold txt-label">
                        Room Category&nbsp;:&nbsp;
                      </span>
                      <span class="text-uppercase text-bold txt-val">
                        {{invoice.VisitInfo.WardName}}
                      </span>
                    </div>
                    <div class="col-right">
                      <span class="text-uppercase text-bold txt-label">
                        Type: {{invoice.InvoiceInfo.SchemeName}}
                      </span>
                    </div>
                  </div>

                  <!-- <div class="discharge-bill-sm-row flx justify-sp-between">
                    <div class="col-left flex-2">
                      <div
                           *ngIf="invoice.PatientInfo.PolicyNo">
                        <span class="text-uppercase text-bold txt-label">
                          Policy/Member: {{invoice.PatientInfo.PolicyNo}}
                        </span>
                      </div>

                    </div>
                  </div> -->

                </div>

                <discharge-bill-summary [bill-items]="invoice.InvoiceItems" [group-summary]="invoice.BillingInvoiceSummary">
                </discharge-bill-summary>

                <div class="flex-container discharge-bill-amount-summary"
                     style="padding-bottom: 10px;border-bottom: 1px solid;">
                  <div class="flex-2">
                    <span *ngIf="invoice.InvoiceInfo.TotalAmount!=0">In Words:
                      {{invoice.InvoiceInfo.TotalAmount | number: "1.2-2" | NumberInWords |
                      uppercase }} ONLY</span>
                    <p *ngIf="OtherCurrencyDetail && OtherCurrencyDetail.CurrencyCode" style="padding-top:10px;">
                      In Words ({{OtherCurrencyDetail.CurrencyCode}}):
                      {{OtherCurrencyDetail.ConvertedAmount | number: "1.2-2" | NumberInWords |
                      uppercase }} ONLY
                    </p>
                    <div>
                      <span *ngIf="invoice.InvoiceInfo.PaymentDetails">
                        PaymentDetails: {{ invoice.InvoiceInfo.PaymentDetails }}
                      </span>
                    </div>
                  </div>
                  <div class="flex-1">
                    <div class="flx flex-col">
                      <div style="padding-bottom: 8px;"><span
                              class="text-uppercase">Amount:</span>
                        {{invoice.InvoiceInfo.SubTotal | number: "1.2-2"}}</div>
                      <div style="padding-bottom: 8px;" *ngIf="OtherCurrencyDetail && OtherCurrencyDetail.CurrencyCode"><span
                              class="text-uppercase">Amount({{OtherCurrencyDetail.CurrencyCode}}):</span>
                        {{OtherCurrencyDetail.ConvertedAmount | number: "1.2-2"}}</div>
                      <div style="padding-bottom: 8px;"><span
                              class="text-uppercase">Discount:</span>
                        {{invoice.InvoiceInfo.DiscountAmount | number: "1.2-2"}}</div>

                      <div style="padding-bottom: 8px;"
                           *ngIf="(invoice.InvoiceInfo.PaymentMode.toLowerCase() === creditPaymentMode && !invoice.InvoiceInfo.DepositReturnAmount) || invoice.InvoiceItems[0].IsCoPayment">
                        <span
                              class="text-uppercase">Credit Amount:</span>
                        {{ (invoice.InvoiceInfo.TotalAmount - invoice.InvoiceInfo.ReceivedAmount) | number: "1.2-2"}}
                      </div>

                      <div style="padding-bottom: 8px;"><span
                              class="text-uppercase">Received Amount:</span>
                        {{invoice.InvoiceInfo.ReceivedAmount | number: "1.2-2"}}</div>
                      <div style="padding-bottom: 8px;" *ngIf="invoice.InvoiceInfo.Tender"><span
                              class="text-uppercase">Tender:</span>
                        {{invoice.InvoiceInfo.Tender | number: "1.2-2"}}</div>
                      <div style="padding-bottom: 8px;" *ngIf="invoice.InvoiceInfo.Change"><span
                              class="text-uppercase">Change/Return:</span>
                        {{invoice.InvoiceInfo.Change | number: "1.2-2"}}</div>
                    </div>
                  </div>
                </div>

                <div class="flex-container user-summary" style="padding-top: 5px;">
                  <div class="flex-2">
                    <div class="flx flex-col">
                      <div style="padding-top: 5px;"
                           *ngIf="invoice.VisitInfo.ConsultingDoctor != null && ShowProviderName">
                        <div class="left" style="font-size:11px;">
                          Consulting Doctor: {{invoice.VisitInfo.ConsultingDoctor}}
                        </div>
                      </div>
                      <div style="padding-bottom: 8px;">
                        <span class="text-uppercase">User:
                        </span>
                        <span>{{invoice.InvoiceInfo.UserName}}</span>

                      </div>
                      <div>
                        <span class="text-uppercase">Time: </span><span>{{currTime}}</span>
                      </div>
                    </div>
                    <div class="flx flex-col" *ngIf="invoice.InvoiceInfo.Remarks">
                      <div style="padding-bottom: 8px;">
                        <span class="text-uppercase">Remarks: </span>
                        <span>{{invoice.InvoiceInfo.Remarks}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex-1">
                    <div class="flx flex-col">
                      <div style="padding-bottom: 8px;"><span class="text-uppercase">Grand
                          Total:</span>
                        {{invoice.InvoiceInfo.TotalAmount | number: "1.2-2"}}</div>

                      <div *ngIf="invoice.InvoiceInfo.DepositAvailable && invoice.InvoiceInfo.PaymentMode !='credit'"
                           style="padding-bottom: 8px;">
                        <span class="text-uppercase">Deposit:</span>
                        <span>
                          {{invoice.InvoiceInfo.DepositAvailable | number:"1.2-2"}}</span>

                      </div>
                      <div *ngIf="(invoice.InvoiceInfo.TotalAmount > invoice.InvoiceInfo.DepositAvailable) && invoice.InvoiceInfo.PaymentMode !='credit'"
                           style="padding-bottom: 8px;">
                        <span class="text-uppercase">Paid Amount:</span>
                        {{invoice.InvoiceInfo.TotalAmount - invoice.InvoiceInfo.DepositAvailable
                        | number: "1.2-2"}}
                      </div>

                      <div *ngIf="invoice.InvoiceInfo.DepositReturnAmount"
                           style="padding-bottom: 8px;">
                        <span class="text-uppercase">To be Returned:</span>
                        {{invoice.InvoiceInfo.DepositReturnAmount | number:
                        "1.2-2"}}
                      </div>

                      <div style="padding-bottom: 8px;"
                           *ngIf="invoice.InvoiceInfo.CreditOrganizationName && invoice.InvoiceInfo.PaymentMode.toLowerCase() === creditPaymentMode">
                        <span class="text-uppercase text-bold txt-label">
                          Credit Organization: {{invoice.InvoiceInfo.CreditOrganizationName}}
                        </span>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-12" style="padding-top: 5px;"
                     *ngIf="InvoiceFooterNoteSettings.ShowFooter">
                  <div style="width: 100%;text-align: center;margin-top: 20px;">
                    <b *ngIf="InvoiceFooterNoteSettings.ShowEnglish">
                      {{InvoiceFooterNoteSettings.EnglishText}} </b> <br />
                    <b *ngIf="InvoiceFooterNoteSettings.ShowNepali">
                      {{InvoiceFooterNoteSettings.NepaliText}} </b>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="text-align: center;margin-top: 10px;">
    <button type="button" id="btnPrintDischargeInvoice" class="btn green btn-success" (click)="print()"
            [disabled]="loading">
      Print
    </button>
  </div>

  <select-printer [group-name]="'bill-receipt'" [storage-key]="'ip-discharge-bill'"
                  (on-printer-change)="OnPrinterChanged($event)">
  </select-printer>

</div>

<app-print-page *ngIf="openBrowserPrintWindow" [print-data]="browserPrintContentObj"
                (print-sucess)="UpdatePrintCount()">
</app-print-page>